{% from "timeline/macro.njk" import dwpTimeline %}

{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}
{% set PageInclude = './' + data['scenario'] + '/award.njk' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'award' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include PageInclude %}

  </div>
 
</div>

{% endblock %}
