{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'personal' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Alex Round
      <span class="govuk-caption-l">QQ 23 44 56 J</span>
	  </h1>

    <form action="security-check-failed-feedback">

      <h2 class="govuk-heading-l">Enter the questions they answered incorrectly</h2>
      
      {{ govukInput({
        label: {
          text: "Enter the first failed question",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "For example, what is the name of your bank?"
        },
        id: "security-question-1",
        name: "security-question-1"
      }) }}

      {{ govukInput({
        label: {
          text: "Enter the second failed question",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "For example, what was your previous address?"
        },
        id: "security-question-2",
        name: "security-question-2"
      }) }}
     


      {{ govukButton({
        text: "Continue"
      }) }}
  </div>
</div>




{% endblock %}
