{% from "timeline/macro.njk" import dwpTimeline %}

{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'award' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/TS3.njk' %}

    {% include './partials/tabs.njk' %}

    <p><a href="award" class="govuk-back-link">Back</a></p>

    {% if data['MRConfirmation']=='yes' %}
    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Decision under reconsideration.<br>
          {% if data['scenario'] =='T5' %}
          <a class="govuk-notification-banner__link" href="mr-yes-no">Remove</a>
          {%endif%}
        </p>
      </div>
    </div>
    {%endif%}

     <h2 class="govuk-heading-m">Pension Credit calculation</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            21 June 2023
          </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Back dating period start date
          </dt>
          <dd class="govuk-summary-list__value">
            12 April 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly award
          </dt>
          <dd class="govuk-summary-list__value">
            Not entitled
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['MRConfirmation']=='yes' %}
              MR
            {% else %}
              Closed
            {% endif %}
          </dd>
        </div>

      </dl>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Applicable amounts</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">
                
                £201.05
                
              </td>
            </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Standard amount</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
            
            
            £201.05
           
            
            </td>
          </tr>
          
          
        </tbody>
      </table>

  
     
        <table class="govuk-table">
          <thead class="govuk-table__head govuk-visually-hidden">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£260.74</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                State Pension
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£164.60</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA Pension (paid monthly)
                <p class="govuk-body">
                  The 14 February 2023 payment of £163.42 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£37.71</td>
            </tr>

            

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension (paid yearly)
                <p class="govuk-body">
                  The 14 December 2022 payment of £406.07 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£7.80</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension (paid monthly)
                <p class="govuk-body">
                  Pension payments used to calculate the average weekly income:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>14 Feb 2023 - £67.43</li>
                  <li>14 Mar 2023 - £23.66</li>
                  <li>14 Apr 2023 - £58.44</li>
                  
                </ul>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£11.50</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                SUNLIFE PLC pension (paid monthly)
                <p class="govuk-body">
                  Pension payments used to calculate the average weekly income:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>14 Mar 2023 - £145.78</li>
                  <li>13 Apr 2023 - £145.78</li>
                  <li>14 May 2023 - £187.34</li>
                  <li>16 Jun 2023 - £199.45</li>
                </ul>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£39.13</td>
            </tr>
            
          </tbody>
        </table>
      <p><a href="#">View claim details</a></p>
      
      {% if data['MRConfirmation']=='yes' %}
     
      {% elseif data['scenario'] =='T5' %}
        <p><a href="mr-yes-no">Mark as under reconsideration</a></p>
      {%endif%}
      
      {%if data['scenario'] == 'T3'%}
       <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Mark as under reconsideration
          </span>
        </summary>
        <div class="govuk-details__text">
          <form method="post">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden-focusable">
                  <h1 class="govuk-fieldset__heading">
                    Organisation
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="MRConfirmation" type="checkbox" value="yes" {% if data['MRConfirmation']=='yes' %}checked='checked'{%endif%}>
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      The citizen has requested a mandatory reconsideration
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </details>
      {% endif %}

  </div>
</div>

{% endblock %}
