{% from "timeline/macro.njk" import dwpTimeline %}

{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'award' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/TS3.njk' %}

    {% include './partials/tabs.njk' %}

    <p><a href="award" class="govuk-back-link">Back</a></p>

    {% if data['T1_MR'] or data['DR6_check'] or data['T3_MR']%}
    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        {% if data['T1_MR'] %}
          <p class="govuk-notification-banner__heading">
            Check for a DR6 in DRS for further information<br>
          </p>

        {% elif data['T2_Explained'] == "yes" or data['T3_MR'] == 'yes'%}
          <p class="govuk-notification-banner__heading">
            Record updated</p>
          <p class="govuk-body">
          Claimant disagreed with decision. DR6 uploaded to DRS.<br>
          </p>

        {% elif data['T2_Explained'] == "no" or data['T3_MR'] == 'no' %}
          <p class="govuk-notification-banner__heading">
            Reconsideration requested</p>
          <p class="govuk-body">
            This decision has been sent for Mandatory Reconsideration. Check for a DR6 in DRS for further information.
          </p>

        {%endif%}
      </div>
    </div>
    {%endif%}

     <h2 class="govuk-heading-m">Pension Credit calculation</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['scenario'] == 'T2' %}
              21 December 2023
            {% elif data['scenario'] == 'T21' %}
              22 December 2023
            {% elif data['scenario'] == 'T3' %}
              28 December 2023
            {% else %}
              2 January 2024
            {% endif %}
          </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Backdating period start date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['scenario'] == 'T2' %}
              22 September 2023
            {% elif data['scenario'] == 'T21' %}
              23 September 2023
            {% elif data['scenario'] == 'T3' %}
              29 September 2023
            {% else %}
              3 October 2023
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly award
          </dt>
          <dd class="govuk-summary-list__value">
            Not entitled
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">

            {% if data['MRConfirmation']=='yes' %}
              MR
              {% elif data['T2_Explained'] == "no" or data['T3_MR'] == 'no'%}
  Review
            {% else %}
              Closed
            {% endif %}
          </dd>
        </div>

      </dl>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Applicable amounts</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">

                £201.05

              </td>
            </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Standard amount</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">


            £201.05


            </td>
          </tr>


        </tbody>
      </table>



        <table class="govuk-table">
          <thead class="govuk-table__head govuk-visually-hidden">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
          </thead>

          {% if data['scenario'] == 'T2' %}
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£214.27</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">
                  State Pension

                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£214.27</td>
              </tr>
            </tbody>

          {% elif data['scenario'] == 'T21' %}
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£235.27</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">
                  State Pension
                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£203.85</td>
              </tr>

              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA Pension (paid monthly)
                <p class="govuk-body">
                  The 14 Dec 2023 payment of £50.88 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£12.72</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                FIDELITY Pension (paid monthly)
                <p class="govuk-body">
                  The 26 Nov 2023 payment of £74.80 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£18.70</td>
            </tr>
            </tbody>


            {% elif data['scenario'] == 'T3' %}
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£203.85</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">
                  State Pension

                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£203.85</td>
              </tr>
            </tbody>

          {% else %}
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£214.27</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">
                  State Pension

                </th>
                <td class="govuk-table__cell govuk-table__cell--numeric">£177.58</td>
              </tr>

              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                LEGAL & GENERAL Pension (paid monthly)
                <p class="govuk-body">
                  The 14 Dec 2023 payment of £142.07 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£32.78</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                FIDELITY Pension (paid monthly)
                <p class="govuk-body">
                  The 18 Dec 2023 payment of £74.80 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£18.70</td>
            </tr>
            </tbody>

          {% endif %}
        </table>
      <p><a href="#">View claim details</a></p>

      {% if data['T1_MR'] or data['T2_Explained'] or data['T3_MR']%}

      {% elseif data['scenario'] =='T1' %}
        <p><a href="mr-yes-no">Claimant disagrees with decison</a></p>


      {% elseif data['scenario'] == 'T2' or data['scenario'] == 'T21' %}
       <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Claimant disagrees with decision
          </span>
        </summary>
        <div class="govuk-details__text">
          <form method="post">

            <div class="govuk-form-group">
              <p class="govuk-body">Use this information to explain how we made our decision.</p>
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Did they accept your explanation?
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changedName" name="T2_Explained" type="radio" value="yes" {% if data['ExplanationAccepted']=='yes' %}checked='checked'{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="changedName">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changedName-2" name="T2_Explained" type="radio" value="no" {% if data['ExplanationAccepted']=='no' %}checked='checked'{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </details>
      {% elseif data['scenario'] =='T3' or data['scenario'] == 'T31' %}
        <p><a href="reconT3-yes-no">Reconsideration requested</a></p>
      {%endif%}

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

    {% if data['T1_MR'] or data['DR6_check'] or data['T3_MR']%}
      <div class="dwp-timeline">
        <h1 class="govuk-heading-m">Award history</h1>
        <ol class="dwp-timeline__events">
        {% if data['T2_Explained'] == "no" or data['T3_MR'] == 'no' %}
        <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Reconsideration requested</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">DR6 sent to PDR team</p>

            <p class="govuk-caption-m govuk-!-margin-bottom-1">{{ data['dr6_date'] }}</p>
        </li>
        <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Reconsideration requested</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">{{ data['dr6_date'] }}</p>
        </li>
        {% elif data['T2_Explained'] == "yes" or data['T3_MR'] == 'yes'%}

        <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claimant disagreed with decision</h2>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">DR6 uploaded to DRS</p>
            <p class="govuk-caption-m govuk-!-margin-bottom-1">{{ data['dr6_date'] }}</p>
        </li>
        {% endif %}
        </ol>
      </div>
    {% endif %}

  </div>
</div>


</div>

{% endblock %}
