{% from "timeline/macro.njk" import dwpTimeline %}

{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'award' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/TS3.njk' %}

    {% include './partials/tabs.njk' %}

    <p><a href="award" class="govuk-back-link">Back</a></p>

    {% if data['T1_MR'] or data['DR6_check'] or data['T3_MR']%}
    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        {% if data['T1_MR'] %}
          <p class="govuk-notification-banner__heading">
            Check for a DR6 in DRS for further information<br>
          </p>

        {% elif data['T2_Explained'] == "yes" or data['T3_MR'] == 'yes'%}
          <p class="govuk-notification-banner__heading">
            Reconsideration requested</p>
          <p class="govuk-body">
          Claimant accepted our explanation. DR6 uploaded to DRS.<br>
          </p>

        {% elif data['T2_Explained'] == "no" or data['T3_MR'] == 'no' %}
          <p class="govuk-notification-banner__heading">
            Reconsideration requested</p>
          <p class="govuk-body">
            DR6 sent to PDRT team for Mandatory Reconsideration.<br>
          </p>

        {%endif%}
      </div>
    </div>
    {%endif%}

     <h2 class="govuk-heading-m">Pension Credit calculation</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            21 June 2023
          </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Back dating period start date
          </dt>
          <dd class="govuk-summary-list__value">
            12 April 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly award
          </dt>
          <dd class="govuk-summary-list__value">
            Not entitled
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['MRConfirmation']=='yes' %}
              MR
            {% else %}
              Closed
            {% endif %}
          </dd>
        </div>

      </dl>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Applicable amounts</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">

                £201.05

              </td>
            </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Standard amount</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">


            £201.05


            </td>
          </tr>


        </tbody>
      </table>



        <table class="govuk-table">
          <thead class="govuk-table__head govuk-visually-hidden">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£260.74</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                State Pension
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£164.60</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA Pension (paid monthly)
                <p class="govuk-body">
                  The 14 February 2023 payment of £163.42 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£37.71</td>
            </tr>



            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension (paid yearly)
                <p class="govuk-body">
                  The 14 December 2022 payment of £406.07 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£7.80</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension (paid monthly)
                <p class="govuk-body">
                  Pension payments used to calculate the average weekly income:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>14 Feb 2023 - £67.43</li>
                  <li>14 Mar 2023 - £23.66</li>
                  <li>14 Apr 2023 - £58.44</li>

                </ul>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£11.50</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                SUNLIFE PLC pension (paid monthly)
                <p class="govuk-body">
                  Pension payments used to calculate the average weekly income:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>14 Mar 2023 - £145.78</li>
                  <li>13 Apr 2023 - £145.78</li>
                  <li>14 May 2023 - £187.34</li>
                  <li>16 Jun 2023 - £199.45</li>
                </ul>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£39.13</td>
            </tr>

          </tbody>
        </table>
      <p><a href="#">View claim details</a></p>

      {% if data['T1_MR'] or data['T2_Explained'] or data['T3_MR']%}

      {% elseif data['scenario'] =='T1' %}
        <p><a href="mr-yes-no">Claimant disagrees with decison</a></p>
   

      {% elseif data['scenario'] == 'T2'%}
       <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Claimant disagrees with decision
          </span>
        </summary>
        <div class="govuk-details__text">
          <form method="post">

            <div class="govuk-form-group">
              <p class="govuk-body">Use this information to explain how we made our decision.</p>
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    Did they accept your explanation
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changedName" name="T2_Explained" type="radio" value="yes" {% if data['ExplanationAccepted']=='yes' %}checked='checked'{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="changedName">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changedName-2" name="T2_Explained" type="radio" value="no" {% if data['ExplanationAccepted']=='no' %}checked='checked'{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="changedName-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
           

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </details>
      {% elseif data['scenario'] =='T3' %}
        <p><a href="reconT3-yes-no">Reconsideration requested</a></p>
      {%endif%}

  </div>
</div>

{% endblock %}
