{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'personal' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


     {% include './partials/name/TS3.njk' %}


    <form method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">

                Request a mandatory reconsideration

            </h1>
          </legend>
          <p class="govuk-body">

                You should complete a DR6 form and send it to carlislehouse.pensioncreditappeals@dfcni.gov.uk

          </p>

            <div class="govuk-checkboxes__item">

              <input class="govuk-checkboxes__input" id="DR6_check" name="DR6_check" type="checkbox" value="true">

              <label class="govuk-label govuk-checkboxes__label" for="DR6_check">

                  I have sent the DR6 form to the PCA team

              </label>
            </div>
          </div>
        </fieldset>


      <button class="govuk-button" data-module="govuk-button">
          Confirm
        </button>
    </form>
  </div>
</div>

{% endblock %}
