{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'personal' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    
     {% include './partials/name/TS3.njk' %}
   

    <form method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Mark this decision as under reconsideration?
          </h1>
        </legend>
       
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="MRConfirmation" type="radio" value="yes" {% if data['MRConfirmation']=='yes' %}checked='checked'{%endif%}>
            <label class="govuk-label govuk-radios__label" for="changedName">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="MRConfirmation" type="radio" value="no" {% if data['MRConfirmation']=='no' %}checked='checked'{%endif%}>
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              No
            </label>
          </div>
        </div>

        
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
