{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'personal' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Not a service page
    </p>
  </div>
</div>
    <form method="post">
      {{ govukRadios({
        classes: "govuk-radios",
        name: "scenario",
        fieldset: {
          legend: {
            text: "Select scenario",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          
          {
            value: "T2",
            text: "Test 2 - hand-holding with positive confirmation"
          },
          {
            value: "T21",
            text: "Test 2.1 - hand-holding with positive confirmation"
          },
          {
            value: "T3",
            text: "Test 3 - hand-holding following GYSP patterns"
          },
          {
            value: "T31",
            text: "Test 3.1 - hand-holding following GYSP patterns"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
  </div>
</div>




{% endblock %}
