


{% extends "/layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
          Immigration status
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-2">
        Content update to reduce time required to be living in the UK. This aligns with telephone claims and the operations manual.
      </p>
  <p class="govuk-body govuk-!-margin-bottom-2">
      <a href="application/immigration-checks" class="govuk-body">
        Claimant screen
      </a></p>
        <p class="govuk-body govuk-!-margin-bottom-2">
      <a href="application/immigration-checks-partner" class="govuk-body">
        Partner screen
      </a></p>
    </div>


    <div class="govuk-form-group">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
          People over 18 who live with you
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-2">
        To reduce agent callbacks we will ask claimants about the people they live in a more structured way, collecting details of each individual person.
      </p>

      <a href="application/nondep-number-of-adults" class="govuk-body">
          Start of flow
      </a>
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
            Overnight stays in hospital
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-2">
          To reduce agent callbacks we will ask claimants for the dates they spent in hospital.
        </p>

        <a href="application/hospital-stays" class="govuk-body">
            Start of flow
        </a>
      </div>
  </div>
</div>

{% endblock %}
