


{% extends "/layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
          Household composition
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-2">
        Description
      </p>

      <a href="application/number-of-adults" class="govuk-body">
          Start of flow
      </a>
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
            Hospital stays
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-2">
          Common callback realtes to agents having to identify hospital dates
        </p>

        <a href="application/hospital-stays" class="govuk-body">
            Start of flow
        </a>
      </div>
  </div>
</div>

{% endblock %}
