{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Call the applicant" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h1 class="govuk-heading-l">Call the applicant</h1>

         <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home phone
            </dt>
            <dd class="govuk-summary-list__value">
              01234 123456
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile phone
            </dt>
            <dd class="govuk-summary-list__value">
              07123 456789
            </dd>
          </div>
        </dl>
        
        
        <!-- <ul class="govuk-list govuk-list--bullet">
          {% if data.pensionComplete == 'incomplete'%}<li>Workplace and private pensions</li>{% endif %}
        </ul> -->

       

        <form method="post">  
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  What was the outcome of the security checks?
                </h1>
                 <p class="govuk-body">Use Searchlight to ask up to 3 security questions.</p>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="telephoneIDV" name="telephoneIDV" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="telephoneIDV">
                    Passed
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="telephoneIDV-2" name="telephoneIDV" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="telephoneIDV-2">
                    Failed
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
      
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="telephoneIDV-4" name="telephoneIDV" type="radio" value="no-answer">
                  <label class="govuk-label govuk-radios__label" for="telephoneIDV-4">
                    Did not answer the phone
                  </label>
                </div>
              </div>
            </fieldset>
          </div>      
          
          <button type="submit" class="govuk-button" data-module="govuk-button">
              Confirm
          </button>
        </form>



  </div>
</div>
        

        
          

{% endblock %}
