{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Representing DWP Income API data" %}
{% set providers = data.realpensions.data.citizen.pensionAccounts[data.pensionCount] %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>


        <span class="govuk-caption-l">Workplace and private pensions</span>
        <h1 class="govuk-heading-l">Pension providers</h1>
          {% if data.confirmedPensions %}
          <h2 class="govuk-heading-m">Already determined</h2>
                <table class="govuk-table govuk-!-margin-bottom-5">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Provider</th>
                      <th scope="col" class="govuk-table__header">Payment frequency</th>
                      <th scope="col" class="govuk-table__header">Net amount</th>
                    </tr>
                  </thead>
                  
                  <tbody class="govuk-table__body">
                    {% for payments in data.confirmedPensions %}
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">{{payments.provider }}</th>
                          <td class="govuk-table__cell">{{payments.frequency | paymentFrequency}}</td>
                          <td class="govuk-table__cell">{{payments.amount  | currency }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
        {% endif %}

        {% if data.investigationArray.length > 0 %}
          <h2 class="govuk-heading-m">More information needed</h2>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Provider</th>
                <th scope="col" class="govuk-table__header "><span class="govuk-visually-hidden">Actions</span></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for payments in data.investigationArray %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{payments.provider }}</th>
                    <td class="govuk-table__cell"><a href="pension-revisit-provider?tempIndex={{loop.index0}}">View <span class="govuk-visually-hidden">{{payments.provider}} pension</span> </a></td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        
        {% endif %}

                <form method="post">
                  
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Add another pension?
                        </h1>
                        <p class="govuk-hint">There may be pensions not yet in payment</p>
                      </legend>
                      <div class="govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="addAnotherPension" name="addAnotherPension" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="addAnotherPension">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="addAnotherPension-3" name="addAnotherPension" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="addAnotherPension-3">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
                  <p><a href="pension-confirm-restart">Restart task</a></p>
                  
                </form>



          </div>
        </div>
        

        
          

{% endblock %}
