{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Personal details" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h2 class="govuk-heading-l">Personal details</h2>

        <div class="govuk-body">
            Check if this information matches what we hold on Searchlight.
        </div>
        <h3 class="govuk-heading-m">Given in application</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['taskType'] == 'pay' %}
                Eric James Munroe
              {% else %}
                mable jackie stevens
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['taskType'] == 'pay' %}
                34 Portland Terrace, Newcastle Upon Tyne, NE2 1ST
              {% else %}
                24 lyme rd, montgomery, powys, hr3 5rj
              {% endif %}
            </dd>
          </div>

        </dl>

        <form method="post">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Does this information match Searchlight?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="PersonalDetails" name="PersonalDetails" type="radio" value="yes"
                    {%if data['PersonalDetails']=="yes"%}checked="checked"{%endif%}
                    >
                    <label class="govuk-label govuk-radios__label" for="PersonalDetails">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="PersonalDetails-2" name="PersonalDetails" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="PersonalDetails-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
