

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your nationality?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="countries">
          Which country issued your passport or travel document?
        </label>
      </h1>

      <br><br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {{ xGovukAutocomplete({
            id: "country",
            name: "country",
            allowEmpty: false,
            label: {
              isPageHeading: true,
              text: "Choose a country"
            },
            items: [
              { text:"AFGHANISTAN", value:"AFG"},
              { text:"ALAND ISLANDS", value:"ALA"},
              { text:"ALBANIA", value:"ALB"},
              { text:"ALGERIA", value:"DZA"},
              { text:"AMERICAN SAMOA", value:"ASM"},
              { text:"ANDORRA", value:"AND"},
              { text:"ANGOLA", value:"AGO"},
              { text:"ANGUILLA", value:"AIA"},
              { text:"ANTARCTICA", value:"ATA"},
              { text:"ANTIGUA AND BARBUDA", value:"ATG"},
              { text:"ARGENTINA", value:"ARG"},
              { text:"ARMENIA", value:"ARM"},
              { text:"ARUBA", value:"ABW"},
              { text:"AUSTRALIA", value:"AUS"},
              { text:"AUSTRIA", value:"AUT"},
              { text:"AZERBAIJAN", value:"AZE"},
              { text:"BAHAMAS", value:"BHS"},
              { text:"BAHRAIN", value:"BHR"},
              { text:"BANGLADESH", value:"BGD"},
              { text:"BARBADOS", value:"BRB"},
              { text:"BELARUS", value:"BLR"},
              { text:"BELGIUM", value:"BEL"},
              { text:"BELIZE", value:"BLZ"},
              { text:"BENIN", value:"BEN"},
              { text:"BERMUDA", value:"BMU"},
              { text:"BHUTAN", value:"BTN"},
              { text:"BOLIVIA", value:"BOL"},
              { text:"BONAIRE, SINT EUSTATIUS & SABA", value:"BES"},
              { text:"BOSNIA AND HERZEGOVINA", value:"BIH"},
              { text:"BOTSWANA", value:"BWA"},
              { text:"BOUVET ISLAND", value:"BVT"},
              { text:"BRAZIL", value:"BRA"},
              { text:"BRITISH CITIZEN", value:"GBR"},
              { text:"BRITISH INDIAN OCEAN TERRITORY", value:"IOT"},
              { text:"BRITISH NATIONAL (OVERSEAS)", value:"BNO"},
              { text:"BRITISH OVERSEAS CITIZEN", value:"BOC"},
              { text:"BRITISH OVERSEAS TERRITORIES CITIZENSHIP (BOTC)", value:"BTC"},
              { text:"BRITISH PROTECTED PERSON", value:"GBP"},
              { text:"BRITISH SUBJECT", value:"GBS"},
              { text:"BRUNEI DARUSSALAM", value:"BRN"},
              { text:"BULGARIA", value:"BGR"},
              { text:"BURKINA FASO", value:"BFA"},
              { text:"BURUNDI", value:"BDI"},
              { text:"CAMBODIA", value:"KHM"},
              { text:"CAMEROON", value:"CMR"},
              { text:"CANADA", value:"CAN"},
              { text:"CAPE VERDE", value:"CPV"},
              { text:"CAYMAN ISLANDS", value:"CYM"},
              { text:"CENTRAL AFRICAN REPUBLIC", value:"CAF"},
              { text:"CHAD", value:"TCD"},
              { text:"CHILE", value:"CHL"},
              { text:"CHINA", value:"CHN"},
              { text:"CHRISTMAS ISLAND", value:"CXR"},
              { text:"COCOS (KEELING) ISLANDS", value:"CCK"},
              { text:"COLOMBIA", value:"COL"},
              { text:"COMOROS", value:"COM"},
              { text:"CONGO", value:"COG"},
              { text:"COOK ISLANDS", value:"COK"},
              { text:"COSTA RICA", value:"CRI"},
              { text:"COTE D'IVOIRE (IVORY COAST)", value:"CIV"},
              { text:"CROATIA", value:"HRV"},
              { text:"CUBA", value:"CUB"},
              { text:"CURACAO", value:"CUR"},
              { text:"CYPRUS", value:"CYP"},
              { text:"CZECH REPUBLIC", value:"CZE"},
              { text:"DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA", value:"PRK"},
              { text:"DEMOCRATIC REPUBLIC OF THE CONGO", value:"COD"},
              { text:"DENMARK", value:"DNK"},
              { text:"DJIBOUTI", value:"DJI"},
              { text:"DOMINICA", value:"DMA"},
              { text:"DOMINICAN REPUBLIC", value:"DOM"},
              { text:"ECUADOR", value:"ECU"},
              { text:"EGYPT", value:"EGY"},
              { text:"EL SALVADOR", value:"SLV"},
              { text:"EQUATORIAL GUINEA", value:"GNQ"},
              { text:"ERITREA", value:"ERI"},
              { text:"ESTONIA", value:"EST"},
              { text:"ETHIOPIA", value:"ETH"},
              { text:"FALKLAND ISLANDS", value:"FLK"},
              { text:"FAROE ISLANDS", value:"FRO"},
              { text:"FIJI", value:"FJI"},
              { text:"FINLAND", value:"FIN"},
              { text:"FRANCE", value:"FRA"},
              { text:"FRENCH GUIANA", value:"GUF"},
              { text:"FRENCH POLYNESIA", value:"PYF"},
              { text:"GABON", value:"GAB"},
              { text:"GAMBIA", value:"GMB"},
              { text:"GEORGIA", value:"GEO"},
              { text:"GERMANY", value:"DEU"},
              { text:"GHANA", value:"GHA"},
              { text:"GIBRALTAR", value:"GIB"},
              { text:"GREECE", value:"GRC"},
              { text:"GREENLAND", value:"GRL"},
              { text:"GRENADA", value:"GRD"},
              { text:"GUADELOUPE", value:"GLP"},
              { text:"GUAM", value:"GUM"},
              { text:"GUATEMALA", value:"GTM"},
              { text:"GUERNSEY", value:"GGY"},
              { text:"GUINEA", value:"GIN"},
              { text:"GUINEA-BISSAU", value:"GNB"},
              { text:"GUYANA", value:"GUY"},
              { text:"HAITI", value:"HTI"},
              { text:"HEARD AND MCDONALD ISLANDS", value:"HMD"},
              { text:"HOLY SEE (VATICAN CITY STATE)", value:"VAT"},
              { text:"HONDURAS", value:"HND"},
              { text:"HONG KONG SPECIAL ADMINISTRATIVE REGION OF CHINA", value:"HKG"},
              { text:"HUNGARY", value:"HUN"},
              { text:"ICELAND", value:"ISL"},
              { text:"INDIA", value:"IND"},
              { text:"INDONESIA", value:"IDN"},
              { text:"IRAN, ISLAMIC REPUBLIC OF", value:"IRN"},
              { text:"IRAQ", value:"IRQ"},
              { text:"IRELAND", value:"IRL"},
              { text:"ISLE OF MAN", value:"IMN"},
              { text:"ISRAEL", value:"ISR"},
              { text:"ITALY", value:"ITA"},
              { text:"JAMAICA", value:"JAM"},
              { text:"JAPAN", value:"JPN"},
              { text:"JERSEY", value:"JEY"},
              { text:"JORDAN", value:"JOR"},
              { text:"KAZAKHSTAN", value:"KAZ"},
              { text:"KENYA", value:"KEN"},
              { text:"KIRIBATI", value:"KIR"},
              { text:"KOSOVO", value:"XXK"},
              { text:"KUWAIT", value:"KWT"},
              { text:"KYRGYZSTAN", value:"KGZ"},
              { text:"LAO PEOPLE'S DEMOCRATIC REPUBLIC", value:"LAO"},
              { text:"LATVIA", value:"LVA"},
              { text:"LEBANON", value:"LBN"},
              { text:"LESOTHO", value:"LSO"},
              { text:"LIBERIA", value:"LBR"},
              { text:"LIBYA", value:"LBY"},
              { text:"LIECHTENSTEIN", value:"LIE"},
              { text:"LITHUANIA", value:"LTU"},
              { text:"LUXEMBOURG", value:"LUX"},
              { text:"MACAO", value:"MAC"},
              { text:"MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF", value:"MKD"},
              { text:"MADAGASCAR", value:"MDG"},
              { text:"MALAWI", value:"MWI"},
              { text:"MALAYSIA", value:"MYS"},
              { text:"MALDIVES", value:"MDV"},
              { text:"MALI", value:"MLI"},
              { text:"MALTA", value:"MLT"},
              { text:"MARSHALL ISLANDS", value:"MHL"},
              { text:"MARTINIQUE", value:"MTQ"},
              { text:"MAURITANIA", value:"MRT"},
              { text:"MAURITIUS", value:"MUS"},
              { text:"MAYOTTE", value:"MYT"},
              { text:"MEXICO", value:"MEX"},
              { text:"MICRONESIA (FEDERATED STATES OF)", value:"FSM"},
              { text:"MOLDOVA, REPUBLIC OF", value:"MDA"},
              { text:"MONACO", value:"MCO"},
              { text:"MONGOLIA", value:"MNG"},
              { text:"MONTENEGRO", value:"MNE"},
              { text:"MONTSERRAT", value:"MSR"},
              { text:"MOROCCO", value:"MAR"},
              { text:"MOZAMBIQUE", value:"MOZ"},
              { text:"MYANMAR", value:"MMR"},
              { text:"NAMIBIA", value:"NAM"},
              { text:"NATIONALITY CURRENTLY UNKNOWN", value:"XXX"},
              { text:"NAURU", value:"NRU"},
              { text:"NEPAL", value:"NPL"},
              { text:"NETHERLANDS", value:"NLD"},
              { text:"NEW CALEDONIA", value:"NCL"},
              { text:"NEW ZEALAND", value:"NZL"},
              { text:"NICARAGUA", value:"NIC"},
              { text:"NIGER", value:"NER"},
              { text:"NIGERIA", value:"NGA"},
              { text:"NIUE", value:"NIU"},
              { text:"NORFOLK ISLAND", value:"NFK"},
              { text:"NORTHERN MARIANA ISLANDS", value:"MNP"},
              { text:"NORWAY", value:"NOR"},
              { text:"OFFICIALLY STATELESS", value:"LES"},
              { text:"OMAN", value:"OMN"},
              { text:"PAKISTAN", value:"PAK"},
              { text:"PALAU", value:"PLW"},
              { text:"PALESTINIAN TERRITORY OCCUPIED", value:"PSE"},
              { text:"PANAMA", value:"PAN"},
              { text:"PAPUA NEW GUINEA", value:"PNG"},
              { text:"PARAGUAY", value:"PRY"},
              { text:"PERU", value:"PER"},
              { text:"PHILIPPINES", value:"PHL"},
              { text:"PITCAIRN", value:"PCN"},
              { text:"POLAND", value:"POL"},
              { text:"PORTUGAL", value:"PRT"},
              { text:"PUERTO RICO", value:"PRI"},
              { text:"QATAR", value:"QAT"},
              { text:"REFUGEE - ARTICLE 1 OF THE 1951 CONVENTION", value:"XXB"},
              { text:"REFUGEE - OTHER", value:"XXC"},
              { text:"REUNION", value:"REU"},
              { text:"ROMANIA", value:"ROU"},
              { text:"RUSSIAN FEDERATION", value:"RUS"},
              { text:"RWANDA", value:"RWA"},
              { text:"SAINT BARTHELEMY", value:"BLM"},
              { text:"SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA", value:"SHN"},
              { text:"SAINT KITTS AND NEVIS", value:"KNA"},
              { text:"SAINT LUCIA", value:"LCA"},
              { text:"SAINT MARTIN", value:"MAF"},
              { text:"SAINT PIERRE AND MIQUELON", value:"SPM"},
              { text:"SAINT VINCENT AND THE GRENADINES", value:"VCT"},
              { text:"SAMOA", value:"WSM"},
              { text:"SAN MARINO", value:"SMR"},
              { text:"SAO TOME AND PRINCIPE", value:"STP"},
              { text:"SAUDI ARABIA", value:"SAU"},
              { text:"SENEGAL", value:"SEN"},
              { text:"SERBIA", value:"SRB"},
              { text:"SEYCHELLES", value:"SYC"},
              { text:"SIERRA LEONE", value:"SLE"},
              { text:"SINGAPORE", value:"SGP"},
              { text:"SINT MAARTEN (DUTCH PART)", value:"SXM"},
              { text:"SLOVAKIA", value:"SVK"},
              { text:"SLOVENIA", value:"SVN"},
              { text:"SOLOMON ISLANDS", value:"SLB"},
              { text:"SOMALIA", value:"SOM"},
              { text:"SOUTH AFRICA", value:"ZAF"},
              { text:"SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS", value:"SGS"},
              { text:"SOUTH KOREA (REPUBLIC OF KOREA)", value:"KOR"},
              { text:"SOUTH SUDAN", value:"SSD"},
              { text:"SPAIN", value:"ESP"},
              { text:"SRI LANKA", value:"LKA"},
              { text:"STATELESS PERSON (ARTICLE 1 OF 1954 CONVENTION)", value:"XXA"},
              { text:"SUDAN", value:"SDN"},
              { text:"SURINAME", value:"SUR"},
              { text:"SVALBARD AND JAN MAYEN ISLANDS", value:"SJM"},
              { text:"SWAZILAND", value:"SWZ"},
              { text:"SWEDEN", value:"SWE"},
              { text:"SWITZERLAND", value:"CHE"},
              { text:"SYRIA ARAB REPUBLIC", value:"SYR"},
              { text:"TAIWAN", value:"TWN"},
              { text:"TAJIKISTAN", value:"TJK"},
              { text:"TANZANIA, UNITED REPUBLIC OF", value:"TZA"},
              { text:"THAILAND", value:"THA"},
              { text:"TIMOR-LESTE", value:"TLS"},
              { text:"TOGO", value:"TGO"},
              { text:"TOKELAU", value:"TKL"},
              { text:"TONGA", value:"TON"},
              { text:"TRINIDAD AND TOBAGO", value:"TTO"},
              { text:"TUNISIA", value:"TUN"},
              { text:"TURKEY", value:"TUR"},
              { text:"TURKISH CONTROLLED AREA OF CYPRUS", value:"XXT"},
              { text:"TURKMENISTAN", value:"TKM"},
              { text:"TURKS AND CAICOS ISLANDS", value:"TCA"},
              { text:"TUVALU", value:"TUV"},
              { text:"UGANDA", value:"UGA"},
              { text:"UKRAINE", value:"UKR"},
              { text:"UNITED ARAB EMIRATES", value:"ARE"},
              { text:"UNITED KINGDOM", value:"GBR"},
              { text:"UNITED NATIONS", value:"UNO"},
              { text:"UNITED NATIONS AGENCY", value:"UNA"},
              { text:"UNITED STATES MINOR OUTLYING ISLANDS", value:"UMI"},
              { text:"UNITED STATES OF AMERICA", value:"USA"},
              { text:"UNSPECIFIED NATIONALITY", value:"UNS"},
              { text:"URUGUAY", value:"URY"},
              { text:"USSR", value:"SUN"},
              { text:"UZBEKISTAN", value:"UZB"},
              { text:"VANUATU", value:"VUT"},
              { text:"VENEZUELA", value:"VEN"},
              { text:"VIETNAM", value:"VNM"},
              { text:"VIRGIN ISLANDS, BRITISH", value:"VGB"},
              { text:"VIRGIN ISLANDS, U.S.", value:"VIR"},
              { text:"WALLIS AND FUTUNA ISLANDS", value:"WLF"},
              { text:"WESTERN SAHARA", value:"ESH"},
              { text:"YEMEN", value:"YEM"},
              { text:"ZAMBIA", value:"ZMB"},
              { text:"ZIMBABWE", value:"ZWE"}
            ]
          }) }}

        </div>
      </div>


      </form>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br>
      <br>

    </div>


  </div>
</form>

{% endblock %}
