

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Enter your nationality" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l govuk-!-margin-top-9" for="countries">
          Enter your nationality

        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint ">
Enter the nationality that is on your passport or travel document. Use the English spelling.</div>
      <br><br>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {{ xGovukAutocomplete({
            id: "nationality",
            name: "nationality",
            allowEmpty: false,
            label: {
              isPageHeading: true,
              text: ""
            },
            items: [
              { text:"Afghan"},
              { text:"Albanian"},
              { text:"Algerian"},
              { text:"American"},
              { text:"Andorran"},
              { text:"Angolan"},
              { text:"Anguillan"},
              { text:"Argentine"},
              { text:"Armenian"},
              { text:"Australian"},
              { text:"Austrian"},
              { text:"Azerbaijani"},
              { text:"Bahamian"},
              { text:"Bahraini"},
              { text:"Bangladeshi"},
              { text:"Barbadian"},
              { text:"Belarusian"},
              { text:"Belgian"},
              { text:"Belizean"},
              { text:"Beninese"},
              { text:"Bermudian"},
              { text:"Bhutanese"},
              { text:"Bolivian"},
              { text:"Botswanan"},
              { text:"Brazilian"},
              { text:"British"},
              { text:"British Virgin Islander"},
              { text:"Bruneian"},
              { text:"Bulgarian"},
              { text:"Burkinan"},
              { text:"Burmese"},
              { text:"Burundian"},
              { text:"Cambodian"},
              { text:"Cameroonian"},
              { text:"Canadian"},
              { text:"Cape Verdean"},
              { text:"Cayman Islander"},
              { text:"Central African"},
              { text:"Chadian"},
              { text:"Chilean"},
              { text:"Chinese"},
              { text:"Citizen of Antigua and Barbuda"},
              { text:"Citizen of Bosnia and Herzegovina"},
              { text:"Citizen of Guinea-Bissau"},
              { text:"Citizen of Kiribati"},
              { text:"Citizen of Seychelles"},
              { text:"Citizen of the Dominican Republic"},
              { text:"Citizen of Vanuatu "},
              { text:"Colombian"},
              { text:"Comoran"},
              { text:"Congolese (Congo)"},
              { text:"Congolese (DRC)"},
              { text:"Cook Islander"},
              { text:"Costa Rican"},
              { text:"Croatian"},
              { text:"Cuban"},
              { text:"Cymraes"},
              { text:"Cymro"},
              { text:"Cypriot"},
              { text:"Czech"},
              { text:"Danish"},
              { text:"Djiboutian"},
              { text:"Dominican"},
              { text:"Dutch"},
              { text:"East Timorese"},
              { text:"Ecuadorean"},
              { text:"Egyptian"},
              { text:"Emirati"},
              { text:"English"},
              { text:"Equatorial Guinean"},
              { text:"Eritrean"},
              { text:"Estonian"},
              { text:"Ethiopian"},
              { text:"Faroese"},
              { text:"Fijian"},
              { text:"Filipino"},
              { text:"Finnish"},
              { text:"French"},
              { text:"Gabonese"},
              { text:"Gambian"},
              { text:"Georgian"},
              { text:"German"},
              { text:"Ghanaian"},
              { text:"Gibraltarian"},
              { text:"Greek"},
              { text:"Greenlandic"},
              { text:"Grenadian"},
              { text:"Guamanian"},
              { text:"Guatemalan"},
              { text:"Guinean"},
              { text:"Guyanese"},
              { text:"Haitian"},
              { text:"Honduran"},
              { text:"Hong Konger"},
              { text:"Hungarian"},
              { text:"Icelandic"},
              { text:"Indian"},
              { text:"Indonesian"},
              { text:"Iranian"},
              { text:"Iraqi"},
              { text:"Irish"},
              { text:"Israeli"},
              { text:"Italian"},
              { text:"Ivorian"},
              { text:"Jamaican"},
              { text:"Japanese"},
              { text:"Jordanian"},
              { text:"Kazakh"},
              { text:"Kenyan"},
              { text:"Kittitian"},
              { text:"Kosovan"},
              { text:"Kuwaiti"},
              { text:"Kyrgyz"},
              { text:"Lao"},
              { text:"Latvian"},
              { text:"Lebanese"},
              { text:"Liberian"},
              { text:"Libyan"},
              { text:"Liechtenstein citizen"},
              { text:"Lithuanian"},
              { text:"Luxembourger"},
              { text:"Macanese"},
              { text:"Macedonian"},
              { text:"Malagasy"},
              { text:"Malawian"},
              { text:"Malaysian"},
              { text:"Maldivian"},
              { text:"Malian"},
              { text:"Maltese"},
              { text:"Marshallese"},
              { text:"Martiniquais"},
              { text:"Mauritanian"},
              { text:"Mauritian"},
              { text:"Mexican"},
              { text:"Micronesian"},
              { text:"Moldovan"},
              { text:"Monegasque"},
              { text:"Mongolian"},
              { text:"Montenegrin"},
              { text:"Montserratian"},
              { text:"Moroccan"},
              { text:"Mosotho"},
              { text:"Mozambican"},
              { text:"Namibian"},
              { text:"Nauruan"},
              { text:"Nepalese"},
              { text:"New Zealander"},
              { text:"Nicaraguan"},
              { text:"Nigerian"},
              { text:"Nigerien"},
              { text:"Niuean"},
              { text:"North Korean"},
              { text:"Northern Irish"},
              { text:"Norwegian"},
              { text:"Omani"},
              { text:"Pakistani"},
              { text:"Palauan"},
              { text:"Palestinian"},
              { text:"Panamanian"},
              { text:"Papua New Guinean"},
              { text:"Paraguayan"},
              { text:"Peruvian"},
              { text:"Pitcairn Islander"},
              { text:"Polish"},
              { text:"Portuguese"},
              { text:"Prydeinig"},
              { text:"Puerto Rican"},
              { text:"Qatari"},
              { text:"Romanian"},
              { text:"Russian"},
              { text:"Rwandan"},
              { text:"Salvadorean"},
              { text:"Sammarinese"},
              { text:"Samoan"},
              { text:"Sao Tomean"},
              { text:"Saudi Arabian"},
              { text:"Scottish"},
              { text:"Senegalese"},
              { text:"Serbian"},
              { text:"Sierra Leonean"},
              { text:"Singaporean"},
              { text:"Slovak"},
              { text:"Slovenian"},
              { text:"Solomon Islander"},
              { text:"Somali"},
              { text:"South African"},
              { text:"South Korean"},
              { text:"South Sudanese"},
              { text:"Spanish"},
              { text:"Sri Lankan"},
              { text:"St Helenian"},
              { text:"St Lucian"},
              { text:"Stateless"},
              { text:"Sudanese"},
              { text:"Surinamese"},
              { text:"Swazi"},
              { text:"Swedish"},
              { text:"Swiss"},
              { text:"Syrian"},
              { text:"Taiwanese"},
              { text:"Tajik"},
              { text:"Tanzanian"},
              { text:"Thai"},
              { text:"Togolese"},
              { text:"Tongan"},
              { text:"Trinidadian"},
              { text:"Tristanian"},
              { text:"Tunisian"},
              { text:"Turkish"},
              { text:"Turkmen"},
              { text:"Turks and Caicos Islander"},
              { text:"Tuvaluan"},
              { text:"Ugandan"},
              { text:"Ukrainian"},
              { text:"Uruguayan"},
              { text:"Uzbek"},
              { text:"Vatican citizen"},
              { text:"Venezuelan"},
              { text:"Vietnamese"},
              { text:"Vincentian"},
              { text:"Wallisian"},
              { text:"Welsh"},
              { text:"Yemeni"},
              { text:"Zambian"},
              { text:"Zimbabwean"}
            ]
          }) }}

        </div>
      </div>


      </form>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <br>
      <br>

    </div>


  </div>
</form>

{% endblock %}
