

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Your partner living in the UK" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}  <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <br>
      <br>
    <h1 class="govuk-heading-xl">
Your partner living in the UK      </h1>






    <form action="/nationality-details" method="post" autocomplete="off" novalidate="" class="casa-journey-form">
      <input type="hidden" name="_csrf" value="ce305662e004901ed16de3c3f11727d143071e0e1c546fab76a3c895aa08595831b3cf0fde2f6b37edbb6f2599671be71d56ef188a6dbdc30829b8f4df524d8c96400cf3be220e5a089c99caaa86db0f846ba074359c7c878729ccf77a519fa3c68544dea4ea6a3062033257ba67ee5ede91f278426e9228c80df98f1d872b39">
      <input type="hidden" name="edit" value="true">
      <input type="hidden" name="editorigin" value="/check-your-answers">
      <input type="hidden" name="contextid" value="default">





















    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="f-country">
        Which country has your partner come from?
      </label>


      <input class="govuk-input govuk-input--width-20" id="f-country" name="country" type="text">

    </div>



















    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset" role="group" aria-describedby="f-lastCameToUk-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          What date did your partner last come to the UK?

        </legend>


        <div id="f-lastCameToUk-hint" class="govuk-hint">
          For example, 12 11 2007
        </div>


        <div class="govuk-date-input" id="f-lastCameToUk">


          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="f-lastCameToUk[dd]">
                Day
              </label>


              <input class="govuk-input govuk-date-input__input govuk-input--width-2

            " id="f-lastCameToUk[dd]" name="lastCameToUk[dd]" type="text" inputmode="numeric">

            </div>
          </div>

          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="f-lastCameToUk[mm]">
                Month
              </label>


              <input class="govuk-input govuk-date-input__input govuk-input--width-2

            " id="f-lastCameToUk[mm]" name="lastCameToUk[mm]" type="text" inputmode="numeric">

            </div>
          </div>

          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="f-lastCameToUk[yyyy]">
                Year
              </label>


              <input class="govuk-input govuk-date-input__input govuk-input--width-4

            " id="f-lastCameToUk[yyyy]" name="lastCameToUk[yyyy]" type="text" inputmode="numeric">

            </div>
          </div>


        </div>

      </fieldset>

    </div>

































    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          Did your partner come to the UK to work?

        </legend>


        <div class="govuk-radios" data-module="govuk-radios">







          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-cameToUkToWork" name="cameToUkToWork" type="radio" value="yes" data-ga-question="Did you come to the UK to work?" data-ga-answer="Yes">
            <label class="govuk-label govuk-radios__label" for="f-cameToUkToWork">
              Yes
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-cameToUkToWork-2" name="cameToUkToWork" type="radio" value="no" data-ga-question="Did you come to the UK to work?" data-ga-answer="No">
            <label class="govuk-label govuk-radios__label" for="f-cameToUkToWork-2">
              No
            </label>

          </div>




        </div>

      </fieldset>

    </div>

































    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          Does your partner's passport say they have no recourse to public funds?

        </legend>


        <div class="govuk-radios" data-module="govuk-radios">







          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-noRecourseToPublicFunds" name="noRecourseToPublicFunds" type="radio" value="yes" data-ga-question="Does your passport say you have no recourse to public funds?" data-ga-answer="Yes">
            <label class="govuk-label govuk-radios__label" for="f-noRecourseToPublicFunds">
              Yes
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-noRecourseToPublicFunds-2" name="noRecourseToPublicFunds" type="radio" value="no" data-ga-question="Does your passport say you have no recourse to public funds?" data-ga-answer="No">
            <label class="govuk-label govuk-radios__label" for="f-noRecourseToPublicFunds-2">
              No
            </label>

          </div>




        </div>

      </fieldset>

    </div>



































    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          Has your partner lived in the UK before?

        </legend>


        <div class="govuk-radios" data-module="govuk-radios">







          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-livedInUkBefore" name="livedInUkBefore" type="radio" value="yes" data-ga-question="Have you lived in the UK before?" data-ga-answer="Yes" aria-controls="conditional-f-livedInUkBefore" aria-expanded="false">
            <label class="govuk-label govuk-radios__label" for="f-livedInUkBefore">
              Yes
            </label>

          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-f-livedInUkBefore">
            <div class="govuk-form-group">

              <fieldset class="govuk-fieldset" role="group" aria-describedby="f-lastLeftUk-hint">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                  What date did your partner last leave the UK?

                </legend>


                <div id="f-lastLeftUk-hint" class="govuk-hint">
                  For example, 12 11 2007
                </div>


                <div class="govuk-date-input" id="f-lastLeftUk">


                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-lastLeftUk[dd]">
                        Day
                      </label>


                      <input class="govuk-input govuk-date-input__input govuk-input--width-2

                    " id="f-lastLeftUk[dd]" name="lastLeftUk[dd]" type="text" inputmode="numeric">

                    </div>
                  </div>

                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-lastLeftUk[mm]">
                        Month
                      </label>


                      <input class="govuk-input govuk-date-input__input govuk-input--width-2

                    " id="f-lastLeftUk[mm]" name="lastLeftUk[mm]" type="text" inputmode="numeric">

                    </div>
                  </div>

                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="f-lastLeftUk[yyyy]">
                        Year
                      </label>


                      <input class="govuk-input govuk-date-input__input govuk-input--width-4

                    " id="f-lastLeftUk[yyyy]" name="lastLeftUk[yyyy]" type="text" inputmode="numeric">

                    </div>
                  </div>


                </div>

              </fieldset>

            </div>
          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-livedInUkBefore-2" name="livedInUkBefore" type="radio" value="no" data-ga-question="Have you lived in the UK before?" data-ga-answer="No">
            <label class="govuk-label govuk-radios__label" for="f-livedInUkBefore-2">
              No
            </label>

          </div>




        </div>

      </fieldset>

    </div>

































    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          Has your partner come to the UK under the Family Reunion Scheme?

        </legend>


        <div class="govuk-radios" data-module="govuk-radios">







          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-familyReunionScheme" name="familyReunionScheme" type="radio" value="yes" data-ga-question="Have you come to the UK under the Family Reunion Scheme?" data-ga-answer="Yes">
            <label class="govuk-label govuk-radios__label" for="f-familyReunionScheme">
              Yes
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="f-familyReunionScheme-2" name="familyReunionScheme" type="radio" value="no" data-ga-question="Have you come to the UK under the Family Reunion Scheme?" data-ga-answer="No">
            <label class="govuk-label govuk-radios__label" for="f-familyReunionScheme-2">
              No
            </label>

          </div>




        </div>

      </fieldset>

    </div>









    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button">
      Continue
    </button>





    </form>



          </div>





              <div class="govuk-grid-row pc-assisted-digital">
                <div class="govuk-grid-column-two-thirds">
                  <aside class="govuk-!-margin-bottom-5">
                    <h2 class="govuk-heading-m">
                      Get help with your application
                    </h2>


              <dl class="govuk-body contact-numbers">
              <div>
                <dt>Telephone: 0800 99 1234</dt>

              </div>
              <div>
                <dt>Textphone: 0800 169 0133</dt>

              </div>
              </dl>
              <p class="govuk-body">
              If you cannot hear or speak on the phone, use <br><a class="govuk-link" href="https://www.relayuk.bt.com" target="_blank" rel="noopener noreferrer">Relay UK (opens in a new tab)</a>: 18001 then 0800 99 1234
              </p>
              <p class="govuk-body">
              <a class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP" target="_blank" rel="noopener noreferrer">Video relay service (opens in a new tab)</a> for British Sign Language (BSL) users - <a class="govuk-link" href="https://www.youtube.com/watch?v=oELNMfAvDxw" target="_blank" rel="noopener noreferrer">check you can use this service (opens in a new tab)</a>
              </p>
              <p class="govuk-body">
              Monday to Friday, 8:30am to 6pm (closed on bank holidays).<br> <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
              </p>


                  </aside>
                </div>
              </div>




<script>
    function start() {

      document.getElementById('referrer').value = document.referrer;
      document.getElementById("theForm").submit();

}
  </script>

{% endblock %}
