

    <h1 class="govuk-heading-xl">
      Mabel Stevens
      <span class="govuk-caption-l">QQ 12 34 56 X</span>
      <strong class="govuk-tag">
        Not entitled
      </strong>
    </h1>

    {% include '../partials/tabs.njk' %}

    
      <h2 class="govuk-heading-m">Claimant's details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Mabel Stevens
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 X
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            12 April 1951
          </dd>
          </dd>
        </div>
      </dl>

     
      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Residential address
          </dt>
          <dd class="govuk-summary-list__value">
            	55 Main Street<br>
              Guildford<br>
              GU79 6YW
          </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            	55 Main Street<br>
              Guildford<br>
              GU79 6YW
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            	0191 446 1876
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            	mabel.stevens@gmail.com
          </dd>
        </div>
      </dl>

