{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Nationality" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h1 class="govuk-heading-l">Nationality</h1>

        <div class="govuk-body">
            Check the claimant's nationality in Searchlight.
        </div>

        <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                What is their nationality as shown in searchlight?
              </h2>
            </legend>


            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nationalityCheck" name="nationalityCheck" type="radio" value="British"
                  {% if data['nationalityCheck'] == 'British' %}
                    checked="checked"
                  {%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="nationalityCheck">
                  British
                </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nationalityCheck2" name="nationalityCheck" type="radio" value="Irish"
                  {% if data['nationalityCheck'] == 'Irish' %}
                    checked="checked"
                  {%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="nationalityCheck2">
                  Irish
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nationalityCheck3" name="nationalityCheck" type="radio" value="Something else"
                  {% if data['nationalityCheck'] == 'Something else' %}
                    checked="checked"
                  {%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="nationalityCheck3">
                  Something else
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nationalityCheck4" name="nationalityCheck" type="radio" value="No nationality"
                  {% if data['nationalityCheck'] == 'No nationality' %}
                    checked="checked"
                  {%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="nationalityCheck4">
                  No nationality
                </label>
              </div>
              
          </fieldset>
        </div>
            
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

        </form>

</div>
</div>

{% endblock %}