
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Do you already have an application number?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Do you have an application reference?
                </h1>
            
                </legend>
                <div id="changedName-hint" class="govuk-hint">
                If you've already started an application, you can use the application reference that was sent to you to pick up where you left off.
                </div>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hasApplicationNumber" name="hasApplicationNumber" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="hasApplicationNumber">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hasApplicationNumber-2" name="hasApplicationNumber" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="hasApplicationNumber-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
        {% include '../partials/gethelp.html' %}
    </div>
</div>



{% endblock %}
