//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@import "side-navigation";
.no-wrap {
  white-space:nowrap;
}

.agent-header {
  // Fix header padding after removing GOV.UK link
  .govuk-header__content {
    padding-left: 0;
  }

  // Fix menu button spacing due to lack of GOV.UK link
  .govuk-header__menu-button {
    top: 12px;
  }
}
.govuk-heading-st {
  font-family: 'GDS Transport';
  font-weight: 300;
  font-size: 60px !important;
  padding-top: none !important;
  margin-top: none !important;

}

.govuk-heading-v6 {
  font-family: 'GDS Transport';
  font-weight: 600;
  font-size: 1.5em !important;
  padding-top: none !important;
  margin-top: none !important;

}

$govuk-global-styles: true;

.app-most-recent {
  border: 1px solid govuk-colour("mid-grey");
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  position: relative;

  &::before {
    background: govuk-colour("mid-grey");
    color: govuk-colour('white');
    content: 'PROTOTYPE';
    font-family: 'nta', Arial, sans-serif;
    font-weight: 400;
    left: 0;
    padding: .2105263158em .7894736842em;
    position: absolute;
    text-transform: none;
    top: 0;
  }
}