//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@import "side-navigation";

.agent-header {
  // Fix header padding after removing GOV.UK link
  .govuk-header__content {
    padding-left: 0;
  }

  // Fix menu button spacing due to lack of GOV.UK link
  .govuk-header__menu-button {
    top: 12px;
  }
}
.govuk-heading-st {
  font-family: 'GDS Transport';
  font-weight: 300;
  font-size: 60px !important;
  padding-top: none !important;
  margin-top: none !important;

}

.govuk-heading-v6 {
  font-family: 'GDS Transport';
  font-weight: 600;
  font-size: 1.5em !important;
  padding-top: none !important;
  margin-top: none !important;

}