
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "  Which account would you like us to pay your Pension Credit into?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}



<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- PRINT SCREEN DETAILS -->

<style>

  p {
    color: black;
  }
  /* #main-content > div > div > form > button {display: none} */
  /* #main-content > div > div > form > h1:nth-child(2) {display: none} */
  /* #main-content > div > div > button {display: none} */

  /* This is set to 0 globally for some reason, setting it back for this example */
  .govuk-summary-list {
    margin-bottom: 30px !important;
  }

  @media print {

    #main-content > div > div > form > div.govuk-panel.govuk-panel--confirmation.govuk-\!-margin-top-8.govuk-\!-margin-bottom-6 {
      margin:0%;
      padding:0%;
    }

    #main-content > div > div > form > div.govuk-panel.govuk-panel--confirmation.govuk-\!-margin-top-8.govuk-\!-margin-bottom-6 > h1 {
      color: black;
      text-align:left;
    }

    #main-content > p > span {display: none}
    body > div > div {display: none}
    body > div > div {display: none}


    .dont-print,
    .govuk-header__logo,
    .govuk-footer,
    .govuk-summary-list__actions {
      display: none;
    }
    .govuk-header__container {
      border: 0;
    }

    /* Use desktop layout for summary list */
    .govuk-summary-list {
      display:table;
      width:100%;
      table-layout:fixed;
      margin-bottom:30px
    }
    .govuk-summary-list__row {
      display:table-row
    }
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      display:table-cell;
      padding-right:20px;
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #b1b4b6
    }
    .govuk-summary-list__key {
      width:30%
    }
    .govuk-summary-list__value {
      width:50%
    }
    .govuk-summary-list__value:last-child {
      width:70%
    }
  }
</style>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pdf" method="post" class="form">


<!-- -- -- -- -- -- -- Application sent -- -- -- -- -- -- -->
<div>
      {{ govukPanel({
          titleText: "Application sent",
          html: "Your reference number is (your / the applicant's)) National Insurance number",
          classes:"govuk-!-margin-top-8"
        }) }}
</div>

<!-- -- -- -- -- -- -- WHAT HAPPENS NEXT -- -- -- -- -- -- -->


          <h3 class="govuk-heading-l">What happens next</h3>
          <p class="govuk-body">We need some more information for your application. We will contact you from 0800 023 2076 to ask you for more information about:</p>

          <ul class="govuk-list govuk-list--bullet">


          <li class="govuk-!-margin-bottom-4"><strong>[applicant] the immigration status of anyone included in the application. </strong>We will need to ask you some more questions about their right to live and work in the UK</li>

          <li class="govuk-!-margin-bottom-4"><strong>[POA/Someone else] the immigration status of anyone included in the application. </strong>the applicant’s immigration status. We will need to ask you some more questions about their right to live and work in the UK</li>

          <li class="govuk-!-margin-bottom-4"><strong>[POA/Someone else] the applicant’s partner’s immigration status. </strong>We will need to ask you some more questions about their right to live and work in the UK</li>



          <li class="govuk-!-margin-bottom-4"><strong>bank details. </strong>We will ask for the sort code and account number of an account to pay Pension Credit into</li>


          <li class="govuk-!-margin-bottom-4"><strong> time spent outside the UK. </strong>We might be able to backdate the application by up to 3 months, but we will need to ask about the dates and reasons for time spent outside the UK</li>


          <li class="govuk-!-margin-bottom-4"><strong> the date anyone included in the application was registered blind or severely sight impaired. </strong>This could affect the amount of Pension Credit we can pay you</li>


          <li class="govuk-!-margin-bottom-4"><strong>living in a care home. </strong>We will ask the moving-in date, how the stay there is funded and whether the stay is permanent</li>


          <li class="govuk-!-margin-bottom-4"><strong> equity release.</strong>  We will ask for information from an annual statement from the provider. We will also ask for details of any loan taken to buy the equity release product</li>


          <li class="govuk-!-margin-bottom-4"><strong>the children or young people that live in the household. </strong>We will ask for their names, dates of birth and the date you became responsible for them</li>


          <li class="govuk-!-margin-bottom-4"><strong>the other people that live in the household. </strong>We will ask their names, dates of birth and any earnings they have</li>


          <li class="govuk-!-margin-bottom-4"><strong>self-employment.</strong> We will ask about dates worked, details of last year's profit and loss accounts and any business assets or buildings</li>

          <li class="govuk-!-margin-bottom-4"><strong>non-UK pensions.</strong> We will ask for details from annual illustrations or statements to work out how much they are worth</li>

          <li class="govuk-!-margin-bottom-4"><strong>personal pensions. </strong> We will ask for details from annual illustrations or statements to work out how much they are worth</li>

          <li class="govuk-!-margin-bottom-4"><strong> other income. </strong> We will ask how much this is and how often it is paid</li>

          <li class="govuk-!-margin-bottom-4"><strong> shares.</strong>  We will ask the number of shares and what company they are in</li>

          <li class="govuk-!-margin-bottom-4"><strong> income or capital bonds. </strong>We will ask for details from a letter or statement from the provider</li>

          <li class="govuk-!-margin-bottom-4"><strong>  money overseas. </strong> We will ask the amount and what currency it is in</li>

          <li class="govuk-!-margin-bottom-4"><strong> other accounts or investments.</strong> We will ask for details of these including what the value is and whether they can be accessed</li>

          <li class="govuk-!-margin-bottom-4"><strong> money.</strong> We will ask a few more questions about the money you have </li>

          <li class="govuk-!-margin-bottom-4"><strong> property or land.</strong> We will ask who lives there, what share of the property is owned and details of any mortgage</li>

          <li class="govuk-!-margin-bottom-4"><strong>[Applicant] the money that you plan to use to buy or carry out essential work on your main home</strong><br>Please have details of what you plan to use the money for to hand</li>
          <li class="govuk-!-margin-bottom-4"><strong>[POA] the money that the applicant plans to use to buy or carry out essential work on their main home</strong><br>Please have details of what they plan to use the money for to hand</li>
          <li class="govuk-!-margin-bottom-4"><strong>[Someone else] the money that the applicant plans to use to buy or carry out essential work on their main home</strong><br>Please ask them to have details of what they plan to use the money for to hand</li>

          <li class="govuk-!-margin-bottom-4"><strong>[Applicant]the money you have from payouts or payments</strong><br>Please have details of this to hand</li>
          <li class="govuk-!-margin-bottom-4"><strong>[POA]the money the applicant has from payouts or payments</strong><br>Please have details of this to hand</li>
          <li class="govuk-!-margin-bottom-4"><strong>[Someone else]the money the applicant has from payouts or payments</strong><br>Please  ask them to have details of this to hand</li>



          </ul>




          <p class="govuk-body">If your application is successful we will pay your Pension Credit into the same account as your State Pension.</p>
          <p class="govuk-body">You will be able to change this to a different account once your Pension Credit is in payment.</p>



              <h2 class="govuk-heading-l">Other help you could get</h2>
              <p class="govuk-body">
          There is other help that you could get if you:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>have a disability</li>
          <li>care for someone for 35 hours or more a week</li>
          <li>need help with your living costs such as paying rent or Council Tax</li>
          <li>need help heating your home</li></ul>

            <p class="govuk-body">To check what other help you could get, use one of these <a href="https://www.gov.uk/benefits-calculators">benefits calculators</a>.</p>



              <h2 class="govuk-heading-l">Print or save</h2>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Print this page</button>
                <p class="govuk-body"><a href="#" onClick="window.print();return false">Save this page</a> (PDF, 100KB)</p>



              <h2 class="govuk-heading-l">Help us improve the Pension Credit online service</h2>
                <p class="govuk-body govuk-!-margin-bottom-8"><a href="oidv-who">Take a short survey</a></p>

          <!-- -- -- -- -- -- -- OIDV  -- -- -- -- -- -- -->

          <!-- {{ govukButton({
          name: "process-c-nil-task-list",
          value: "UF",
          checked: (data["process-c-nil-task-list"] == "UF"),
          text: "Continue",
          classes: "govuk-button",
          href: "oidv-start-check"
          }) }} -->


              </form>
            </div>
          </div>
          {% endblock %}
