

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Add another person who lives with you" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
    <h1 class="govuk-heading-l govuk-!-padding-top-7">
      You have added {{data['ActualCount']}}
      {% if data['ActualCount'] == '1'%} person {%else%} people {% endif %}

    </h1>




    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{% if data['PeopleCount'] == '1'%} Name {%else%} Names {% endif %}</th>
          <th scope="col" class="govuk-table__header"><div class="govuk-visually-hidden">Actions</div></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for i in range(1, data['PeopleCount']+1) -%}
          {% if data['nondepName'+i] != null%}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{data['nondepName'+(i)] }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="nondep-change?person={{i}}">Change</a>  |  <a href="nondep-delete?person={{i}}">Delete</a></td>
          </tr>
          {% endif %}
        {%- endfor %}

      </tbody>
    </table>
    <div class="govuk-inset-text">
You should tell these people that DWP may use their information as part of your application. This includes information you provide or that we already hold about them.</div>
    <form method="post" >
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Add another person who lives with you?
                </h2>
                </legend>

                  <p class="govuk-hint">
                    Only tell us about people over 18.
                </p>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="addanother" name="addanother" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="addanother">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="addanother-2" name="addanother" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="addanother-2">
                    No
                    </label>
                </div>

                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>



  </div>
</div>

{% endblock %}
