{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Bank details" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h1 class="govuk-heading-l">Bank details</h1>

        <div class="govuk-body">
          Use CPS to find the bank details we hold for the claimant's State Pension.
        </div>

        <h2 class="govuk-heading-s">Given in application:</h2>
        <div class="govuk-group">
          <dl class="govuk-summary-list govuk-!-margin-bottom-7">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Sortcode
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['SP-sortcode']%}
                  {{data['SP-sortcode']}}
                {% else %}
                  20 12 22
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Account number
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['SP-account']%}
                  {{data['SP-account']}}
                {% else %}
                  19862672
                {% endif %}
              </dd>
            </div>
        </div>

        <form method="post">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Did the claimant give the correct sortcode in their application?
                </h2>
                    </legend>
<div id="signIn-hint" class="govuk-hint">
                </div>


                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bankSort" name="bankSort" type="radio" value="yes"
                    {%if data['bankSort']=="yes"%}checked="checked"{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="bankSort">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bankSort-2" name="bankSort" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="bankSort-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Did the claimant give the correct account number in their application?
                </h2>
                    </legend>
<div id="signIn-hint" class="govuk-hint">
                </div>


                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bankAccount" name="bankAccount" type="radio" value="yes"
                    {%if data['bankAccount']=="yes"%}checked="checked"{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="bankAccount">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="bankAccount-2" name="bankAccount" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="bankAccount-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
