
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your nationality as shown on your passport or travel document?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility statement for Apply for Pension Credit
      </h1>
      <p class="govuk-body">
        This service is part of the wider GOV.UK website. There's a separate
        <a class="govuk-link" href="https://www.gov.uk/help/accessibility">accessibility statement
        for the main GOV.UK website.</a>
      </p>
      <p class="govuk-body">
        This page only contains information about the Apply for Pension Credit service, available at <a href="https://apply-for-pension-credit.dwp.gov.uk/">https://apply-for-pension-credit.service.gov.uk/</a>
      </p>
      <h2 class="govuk-heading-l">
        Using this service
      </h2>
      <p class="govuk-body">
        This service is run by the Department for Work and Pensions. We want as
        many people as possible to be able to use this service. For example,
        that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          change colours, contrast levels and fonts
        </li>
        <li>
          zoom in up to 300% without the text spilling off the screen
        </li>
        <li>
          get from the start of the service to the end using just a keyboard
        </li>
        <li>
          get from the start of the service to the end using speech recognition
          software
        </li>
        <li>
          listen to the service using a screen reader
        </li>
      </ul>
      <p class="govuk-body">
        We've also made the text in the service as simple as possible to understand.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a>
        has advice on making your device easier to use if you have a disability.
      </p>
      <h2 class="govuk-heading-l">
        How accessible this service is
      </h2>
      <p class="govuk-body">
        The service uses common styles, patterns and components from the
        GOV.UK Design System which are widely regarded as accessible.</p>

        <p class="govuk-body">  We have tested this service using VoiceOver (built in MacBook screen reading software), Voice Control and Apple Zoom. </p>

      <h2 class="govuk-heading-l">
        What to do if you have difficulty using this service
      </h2>
      <p class="govuk-body">
        If you have difficulty making a Pension Credit application, you can contact us for help applying online or to make an application over the phone:
        <ul class="govuk-list">
          <li>Telephone: 0800 99 1234</li>
          <li>Textphone: 0800 169 0133</li>
        </ul>

        <ul class="govuk-list">
          <li>If you cannot hear or speak on the phone, use <br><a href="https://www.relayuk.bt.com/">Relay UK (opens in a new tab)</a>: 18001 then 0800 99 1234</li>
          <li>Monday to Friday, 9.30am to 7.30pm</li>
        </ul>

        <p class="govuk-body">
          <a class="govuk-link" href="#">Find out about call charges (opens in a new tab)</a>
        </p>
      <p class="govuk-body">
        As part of providing this service, we may need to send you messages or
        documents. We'll ask you how you want us to send messages or documents
        to you, but contact us if you need them in a different format. For
        example large print, audio recording or braille.
      </p>
      <h2 class="govuk-heading-l">
        Reporting accessibility problems with this service
      </h2>
      <p class="govuk-body">
        We're always looking to improve the accessibility of this service.
        If you find any problems that aren't listed on this page or think we're
        not meeting accessibility requirements, contact us by email: <a href="mailto:longbenton.pensioncredit@dwp.gov.uk">longbenton.pensioncredit@dwp.gov.uk</a></p>
      <h2 class="govuk-heading-l">
        Enforcement procedure
      </h2>
      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for
        enforcing the Public Sector Bodies (Websites and Mobile Applications)
        (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
        If you're not happy with how we respond to your complaint,
        <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">
          contact the Equality Advisory and Support Service (EASS).
        </a>
      </p>
      <h2 class="govuk-heading-l">
        Contacting us by phone or visiting us in person
      </h2>
      <p class="govuk-body">
        We provide a text relay service for people who are deaf, hearing impaired
        or have a speech impediment.
      </p>
      <p class="govuk-body">
        Our offices have audio induction loops, or if you contact us before your
        visit we can arrange a British Sign Language (BSL) interpreter to help
        you complete the service in person.
      </p>
      <p class="govuk-body">
        Find out how to <a href="https://www.gov.uk/pension-credit/how-to-claim">contact us</a> .
      </p>
      <h2 class="govuk-heading-l">
        Technical information about this service's accessibility
      </h2>
      <p class="govuk-body">
        The Department for Work and Pensions is committed to making this service
        accessible, in accordance with the Public Sector Bodies (Websites and
        Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h3 class="govuk-heading-m">Compliance status</h3>
      <p class="govuk-body">
        This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility
        Guidelines version 2.1</a> AA standard.
      </p>

      <h2 class="govuk-heading-l">
        How we tested this service
      </h2>
      <p class="govuk-body">
        The service was last tested on 4 September 2020 and was checked for
        compliance with WCAG 2.1 AA. The tests were carried out by the
        Department for Work and Pensions.
      </p>
      <p class="govuk-body">
        The service was tested using both automated and manual testing.
      </p>
      <h2 class="govuk-heading-l">
        What we're doing to improve accessibility
      </h2>

      <p class="govuk-body">
        We will continue to iterate the design of the service, with accessibility considerations built into the lifecycle of each release.</p>

        <h2 class="govuk-heading-l">
          Preparation of this statement
        </h2>

      <p class="govuk-body">
        This page was prepared on 4 May 2020. It was last reviewed on 7 September 2020.
      </p>

      <p class=govuk-body>This website was last tested on 4 September 2020. The testing was carried out by the Department for Work and Pensions.</p>

      <p class=govuk-body>We used this approach to deciding on a sample of pages to test: We tested a sample of pages that represents the implementation of each type of design pattern and interaction used in the service.</p>
    </div>
  </div>
  {% endblock %}
