
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Which phone numbers should we use to contact you?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post">

            <div class="govuk-form-group">

                <h1 class="govuk-heading-l">
Your telephone numbers          </h1>
                <p class="govuk-body">
The quickest way for us to contact you is by telephone. </p>
  <p class="govuk-body">
                  We might use these numbers to call you if: </p>
<ul class="govuk-list govuk-list--bullet">
                <li>    we need more information to process this application</li>
                  <li>we need to contact you in the future about Pension Credit or other benefits</li>

        </ul>

              <br>

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="event-name">
                        Home telephone number (optional)
                        </label>
                    </h1>
                    <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="number">
                </div>


                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="event-name">
                        Mobile number (optional)
                        </label>
                    </h1>
                    <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="number">
                </div>


            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>


</div>

{% endblock %}
{% block pageScripts %}
<script>
   function hideShow(element){
    var type = document.getElementById(element);

    if (type.style.display === "none") {
        type.style.display = "block";
    } else {
        type.style.display = "none";
    }
   };
</script>
{% endblock %}
