

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Enter your nationality" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post">
          <div class="govuk-form-group govuk-!-margin-top-7">
          <span class="govuk-caption-l">Your cash at home</span> 
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l " for="cost-per-item">
                How much {{data['currencyType'].slice(0, -3)}} do you have?
              </label>
            </h1>
            <div class="govuk-input__wrapper">
              {%if data['currencyType'].slice(-3) == "GBP"%}
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="cashAmount" name="cashAmount" type="number" spellcheck="false">
              {% else %}
                <input class="govuk-input govuk-input--width-5" id="cashAmount" name="cashAmount" type="number" spellcheck="false">
                <div class="govuk-input__suffix" aria-hidden="true">{{data['currencyType'].slice(-3) }}</div>
              {% endif %}
            </div>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
      
        </form>
  </div>
      <br>
      <br>

      <div class="govuk-grid-row pc-assisted-digital">
        <div class="govuk-grid-column-two-thirds">
          <aside class="govuk-!-margin-bottom-5">
            <h2 class="govuk-heading-m">
              Get help with your application
            </h2>





      <dl class="govuk-body contact-numbers">
      <div>
        <dt>Telephone: 0800 99 1234</dt>

      </div>
      <div>
        <dt>Textphone: 0800 169 0133</dt>

      </div>
      </dl>
      <p class="govuk-body">
      If you cannot hear or speak on the phone, use <br><a class="govuk-link" href="https://www.relayuk.bt.com" target="_blank" rel="noopener noreferrer">Relay UK (opens in a new tab)</a>: 18001 then 0800 99 1234
      </p>
      <p class="govuk-body">
      <a class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP" target="_blank" rel="noopener noreferrer">Video relay service (opens in a new tab)</a> for British Sign Language (BSL) users - <a class="govuk-link" href="https://www.youtube.com/watch?v=oELNMfAvDxw" target="_blank" rel="noopener noreferrer">check you can use this service (opens in a new tab)</a>
      </p>
      <p class="govuk-body">
      Monday to Friday, 8:30am to 6pm (closed on bank holidays).<br> <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>


          </aside>
        </div>
      </div>

    </div>


  </div>
</form>

{% endblock %}
