

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Enter your nationality" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

<form method="post" action="capital-money-amount">
      <h1 class="govuk-heading-l govuk-!-margin-top-9">
          <label class="govuk-label govuk-label--l govuk-!-margin-top-9" for="currencyType">
            What is the currency type?
          </label>
      </h1>
      

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {{ xGovukAutocomplete({
            id: "currencyType",
            name: "currencyType",
            allowEmpty: false,
            label: {
              isPageHeading: true,
              text: ""
            },
            items: [
              {text:"ADB Unit of Account", value:"ADB Unit of AccountXUA"},
              {text:"Afghani", value:"AfghaniAFN"},
              {text:"Algerian Dinar", value:"Algerian DinarDZD"},
              {text:"Argentine Peso", value:"Argentine PesoARS"},
              {text:"Armenian Dram", value:"Armenian DramAMD"},
              {text:"Aruban Florin", value:"Aruban FlorinAWG"},
              {text:"Australian Dollar", value:"Australian DollarAUD"},
              {text:"Azerbaijan Manat", value:"Azerbaijan ManatAZN"},
              {text:"Bahamian Dollar", value:"Bahamian DollarBSD"},
              {text:"Bahraini Dinar", value:"Bahraini DinarBHD"},
              {text:"Baht", value:"BahtTHB"},
              {text:"Balboa", value:"BalboaPAB"},
              {text:"Barbados Dollar", value:"Barbados DollarBBD"},
              {text:"Belarusian Ruble", value:"Belarusian RubleBYN"},
              {text:"Belize Dollar", value:"Belize DollarBZD"},
              {text:"Bermudian Dollar", value:"Bermudian DollarBMD"},
              {text:"Bolívar Soberano", value:"Bolívar SoberanoVED"},
              {text:"Bolívar Soberano", value:"Bolívar SoberanoVES"},
              {text:"Boliviano", value:"BolivianoBOB"},
              {text:"Brazilian Real", value:"Brazilian RealBRL"},
              {text:"Brunei Dollar", value:"Brunei DollarBND"},
              {text:"Bulgarian Lev", value:"Bulgarian LevBGN"},
              {text:"Burundi Franc", value:"Burundi FrancBIF"},
              {text:"Cabo Verde Escudo", value:"Cabo Verde EscudoCVE"},
              {text:"Canadian Dollar", value:"Canadian DollarCAD"},
              {text:"Cayman Islands Dollar", value:"Cayman Islands DollarKYD"},
              {text:"CFA Franc BCEAO", value:"CFA Franc BCEAOXOF"},
              {text:"CFA Franc BEAC", value:"CFA Franc BEACXAF"},
              {text:"CFP Franc", value:"CFP FrancXPF"},
              {text:"Chilean Peso", value:"Chilean PesoCLP"},
              {text:"Codes specifically reserved for testing purposes", value:"Codes specifically reserved for testing purposesXTS"},
              {text:"Colombian Peso", value:"Colombian PesoCOP"},
              {text:"Comorian Franc ", value:"Comorian Franc KMF"},
              {text:"Congolese Franc", value:"Congolese FrancCDF"},
              {text:"Convertible Mark", value:"Convertible MarkBAM"},
              {text:"Cordoba Oro", value:"Cordoba OroNIO"},
              {text:"Costa Rican Colon", value:"Costa Rican ColonCRC"},
              {text:"Cuban Peso", value:"Cuban PesoCUP"},
              {text:"Czech Koruna", value:"Czech KorunaCZK"},
              {text:"Dalasi", value:"DalasiGMD"},
              {text:"Danish Krone", value:"Danish KroneDKK"},
              {text:"Denar", value:"DenarMKD"},
              {text:"Djibouti Franc", value:"Djibouti FrancDJF"},
              {text:"Dobra", value:"DobraSTN"},
              {text:"Dominican Peso", value:"Dominican PesoDOP"},
              {text:"Dong", value:"DongVND"},
              {text:"East Caribbean Dollar", value:"East Caribbean DollarXCD"},
              {text:"Egyptian Pound", value:"Egyptian PoundEGP"},
              {text:"El Salvador Colon", value:"El Salvador ColonSVC"},
              {text:"Ethiopian Birr", value:"Ethiopian BirrETB"},
              {text:"Euro", value:"EuroEUR"},
              {text:"Falkland Islands Pound", value:"Falkland Islands PoundFKP"},
              {text:"Fiji Dollar", value:"Fiji DollarFJD"},
              {text:"Forint", value:"ForintHUF"},
              {text:"Ghana Cedi", value:"Ghana CediGHS"},
              {text:"Gibraltar Pound", value:"Gibraltar PoundGIP"},
              {text:"Gold", value:"GoldXAU"},
              {text:"Gourde", value:"GourdeHTG"},
              {text:"Guarani", value:"GuaraniPYG"},
              {text:"Guinean Franc", value:"Guinean FrancGNF"},
              {text:"Guyana Dollar", value:"Guyana DollarGYD"},
              {text:"Hong Kong Dollar", value:"Hong Kong DollarHKD"},
              {text:"Hryvnia", value:"HryvniaUAH"},
              {text:"Iceland Krona", value:"Iceland KronaISK"},
              {text:"Indian Rupee", value:"Indian RupeeINR"},
              {text:"Iranian Rial", value:"Iranian RialIRR"},
              {text:"Iraqi Dinar", value:"Iraqi DinarIQD"},
              {text:"Jamaican Dollar", value:"Jamaican DollarJMD"},
              {text:"Jordanian Dinar", value:"Jordanian DinarJOD"},
              {text:"Kenyan Shilling", value:"Kenyan ShillingKES"},
              {text:"Kina", value:"KinaPGK"},
              {text:"Kuwaiti Dinar", value:"Kuwaiti DinarKWD"},
              {text:"Kwanza", value:"KwanzaAOA"},
              {text:"Kyat", value:"KyatMMK"},
              {text:"Lao Kip", value:"Lao KipLAK"},
              {text:"Lari", value:"LariGEL"},
              {text:"Lebanese Pound", value:"Lebanese PoundLBP"},
              {text:"Lek", value:"LekALL"},
              {text:"Lempira", value:"LempiraHNL"},
              {text:"Leone", value:"LeoneSLE"},
              {text:"Liberian Dollar", value:"Liberian DollarLRD"},
              {text:"Libyan Dinar", value:"Libyan DinarLYD"},
              {text:"Lilangeni", value:"LilangeniSZL"},
              {text:"Loti", value:"LotiLSL"},
              {text:"Malagasy Ariary", value:"Malagasy AriaryMGA"},
              {text:"Malawi Kwacha", value:"Malawi KwachaMWK"},
              {text:"Malaysian Ringgit", value:"Malaysian RinggitMYR"},
              {text:"Mauritius Rupee", value:"Mauritius RupeeMUR"},
              {text:"Mexican Peso", value:"Mexican PesoMXN"},
              {text:"Mexican Unidad de Inversion (UDI)", value:"Mexican Unidad de Inversion (UDI)MXV"},
              {text:"Moldovan Leu", value:"Moldovan LeuMDL"},
              {text:"Moroccan Dirham", value:"Moroccan DirhamMAD"},
              {text:"Mozambique Metical", value:"Mozambique MeticalMZN"},
              {text:"Mvdol", value:"MvdolBOV"},
              {text:"Naira", value:"NairaNGN"},
              {text:"Nakfa", value:"NakfaERN"},
              {text:"Namibia Dollar", value:"Namibia DollarNAD"},
              {text:"Nepalese Rupee", value:"Nepalese RupeeNPR"},
              {text:"Netherlands Antillean Guilder", value:"Netherlands Antillean GuilderANG"},
              {text:"New Israeli Sheqel", value:"New Israeli SheqelILS"},
              {text:"New Taiwan Dollar", value:"New Taiwan DollarTWD"},
              {text:"New Zealand Dollar", value:"New Zealand DollarNZD"},
              {text:"Ngultrum", value:"NgultrumBTN"},
              {text:"North Korean Won", value:"North Korean WonKPW"},
              {text:"Norwegian Krone", value:"Norwegian KroneNOK"},
              {text:"Ouguiya", value:"OuguiyaMRU"},
              {text:"Pa’anga", value:"Pa’angaTOP"},
              {text:"Pakistan Rupee", value:"Pakistan RupeePKR"},
              {text:"Palladium", value:"PalladiumXPD"},
              {text:"Pataca", value:"PatacaMOP"},
              {text:"Peso Convertible", value:"Peso ConvertibleCUC"},
              {text:"Peso Uruguayo", value:"Peso UruguayoUYU"},
              {text:"Philippine Peso", value:"Philippine PesoPHP"},
              {text:"Platinum", value:"PlatinumXPT"},
              {text:"Pound Sterling", value:"Pound SterlingGBP"},
              {text:"Pula", value:"PulaBWP"},
              {text:"Qatari Rial", value:"Qatari RialQAR"},
              {text:"Quetzal", value:"QuetzalGTQ"},
              {text:"Rand", value:"RandZAR"},
              {text:"Rial Omani", value:"Rial OmaniOMR"},
              {text:"Riel", value:"RielKHR"},
              {text:"Romanian Leu", value:"Romanian LeuRON"},
              {text:"Rufiyaa", value:"RufiyaaMVR"},
              {text:"Rupiah", value:"RupiahIDR"},
              {text:"Russian Ruble", value:"Russian RubleRUB"},
              {text:"Rwanda Franc", value:"Rwanda FrancRWF"},
              {text:"Saint Helena Pound", value:"Saint Helena PoundSHP"},
              {text:"Saudi Riyal", value:"Saudi RiyalSAR"},
              {text:"SDR (Special Drawing Right)", value:"SDR (Special Drawing Right)XDR"},
              {text:"Serbian Dinar", value:"Serbian DinarRSD"},
              {text:"Seychelles Rupee", value:"Seychelles RupeeSCR"},
              {text:"Silver", value:"SilverXAG"},
              {text:"Singapore Dollar", value:"Singapore DollarSGD"},
              {text:"Sol", value:"SolPEN"},
              {text:"Solomon Islands Dollar", value:"Solomon Islands DollarSBD"},
              {text:"Som", value:"SomKGS"},
              {text:"Somali Shilling", value:"Somali ShillingSOS"},
              {text:"Somoni", value:"SomoniTJS"},
              {text:"South Sudanese Pound", value:"South Sudanese PoundSSP"},
              {text:"Sri Lanka Rupee", value:"Sri Lanka RupeeLKR"},
              {text:"Sucre", value:"SucreXSU"},
              {text:"Sudanese Pound", value:"Sudanese PoundSDG"},
              {text:"Surinam Dollar", value:"Surinam DollarSRD"},
              {text:"Swedish Krona", value:"Swedish KronaSEK"},
              {text:"Swiss Franc", value:"Swiss FrancCHF"},
              {text:"Syrian Pound", value:"Syrian PoundSYP"},
              {text:"Taka", value:"TakaBDT"},
              {text:"Tala", value:"TalaWST"},
              {text:"Tanzanian Shilling", value:"Tanzanian ShillingTZS"},
              {text:"Tenge", value:"TengeKZT"},
              {text:"The codes assigned for transactions where no currency is involved", value:"The codes assigned for transactions where no currency is involvedXXX"},
              {text:"Trinidad and Tobago Dollar", value:"Trinidad and Tobago DollarTTD"},
              {text:"Tugrik", value:"TugrikMNT"},
              {text:"Tunisian Dinar", value:"Tunisian DinarTND"},
              {text:"Turkish Lira", value:"Turkish LiraTRY"},
              {text:"Turkmenistan New Manat", value:"Turkmenistan New ManatTMT"},
              {text:"UAE Dirham", value:"UAE DirhamAED"},
              {text:"Uganda Shilling", value:"Uganda ShillingUGX"},
              {text:"Unidad de Fomento", value:"Unidad de FomentoCLF"},
              {text:"Unidad de Valor Real", value:"Unidad de Valor RealCOU"},
              {text:"Unidad Previsional", value:"Unidad PrevisionalUYW"},
              {text:"Uruguay Peso en Unidades Indexadas (UI)", value:"Uruguay Peso en Unidades Indexadas (UI)UYI"},
              {text:"US Dollar (Next day)", value:"US Dollar (Next day)USN"},
              {text:"US Dollar", value:"US DollarUSD"},
              {text:"Uzbekistan Sum", value:"Uzbekistan SumUZS"},
              {text:"Vatu", value:"VatuVUV"},
              {text:"WIR Euro", value:"WIR EuroCHE"},
              {text:"WIR Franc", value:"WIR FrancCHW"},
              {text:"Won", value:"WonKRW"},
              {text:"Yemeni Rial", value:"Yemeni RialYER"},
              {text:"Yen", value:"YenJPY"},
              {text:"Yuan Renminbi", value:"Yuan RenminbiCNY"},
              {text:"Zambian Kwacha", value:"Zambian KwachaZMW"},
              {text:"Zimbabwe Gold", value:"Zimbabwe GoldZWG"},
              {text:"Zloty", value:"ZlotyPLN"}
            ]
          }) }}

        </div>
      </div>


 


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      </div>

           </form>
  </div>
      <br>
      <br>

      <div class="govuk-grid-row pc-assisted-digital">
        <div class="govuk-grid-column-two-thirds">
          <aside class="govuk-!-margin-bottom-5">
            <h2 class="govuk-heading-m">
              Get help with your application
            </h2>





      <dl class="govuk-body contact-numbers">
      <div>
        <dt>Telephone: 0800 99 1234</dt>

      </div>
      <div>
        <dt>Textphone: 0800 169 0133</dt>

      </div>
      </dl>
      <p class="govuk-body">
      If you cannot hear or speak on the phone, use <br><a class="govuk-link" href="https://www.relayuk.bt.com" target="_blank" rel="noopener noreferrer">Relay UK (opens in a new tab)</a>: 18001 then 0800 99 1234
      </p>
      <p class="govuk-body">
      <a class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP" target="_blank" rel="noopener noreferrer">Video relay service (opens in a new tab)</a> for British Sign Language (BSL) users - <a class="govuk-link" href="https://www.youtube.com/watch?v=oELNMfAvDxw" target="_blank" rel="noopener noreferrer">check you can use this service (opens in a new tab)</a>
      </p>
      <p class="govuk-body">
      Monday to Friday, 8:30am to 6pm (closed on bank holidays).<br> <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>


          </aside>
        </div>
      </div>

    </div>


  </div>
</form>

{% endblock %}
