
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is the name of the first bank or building society?"%}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post" >
            <div class="govuk-form-group govuk-!-padding-top-7">
                  <h1 class="govuk-heading-l">Your bank and building society accounts</h1>
<p class="govuk-body">So we can pay you right amount of Pension Credit, we need to know more about your bank and building society accounts.</p><p class="govuk-body">Tell us about your accounts one at a time.</p>
                  <h1 class="govuk-heading-m">Which bank or building society is your account with?
                </h1>
                <p class="govuk-hint">For example, HSBC or Nationwide.</p>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input" id="tamTotal" name="bankName" spellcheck="false">
                </div>

            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
