
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "This is a complex case" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--m" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            This is a complex case
          </h1>
          <div class="govuk-panel__body">Additional data will need to be collected</div>
        </div>
        <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Reason for complexity</h2>
          {% if data['averageTotal'] > 10000 %}
            <p class="govuk-body">Average captial is £{{data['averageTotal']}}</p> 
          {% elseif data['tamTotal'] > 10000 %}
            <p class="govuk-body">TAM total is £{{data['tamTotal']}} and hasn't decreased</p> 
          {%endif%}
          {% 
            if data['capitalTypes'].includes('Shares')
            or data['capitalTypes'].includes('Income or capital bonds')
            or data['capitalTypes'].includes('Unit trusts')
          %}
          <p class="govuk-body">
            Capital types include: 
             <ul class="govuk-list govuk-list--bullet">
              {% if data['capitalTypes'].includes('Shares') %}<li>Shares</li>{% endif %}
              {% if data['capitalTypes'].includes('Income or capital bonds') %}<li>Income or capital bonds</li>{% endif %}
              {% if data['capitalTypes'].includes('Unit trusts') %}<li>Unit trusts</li>{% endif %}
            </ul>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
