
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is the name of the first bank or building society?"%}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post" >
            <div class="govuk-form-group govuk-!-padding-top-7">
                <span class="govuk-caption-l">Your ISAs</span>
                <h1 class="govuk-heading-l">
                    What is the name of the organisation where your first ISA is held?
                </h1>
                <p class="govuk-form-hint">For example, HSBC or Hargreaves Lansdown</p>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input" id="isaName" name="isaName" spellcheck="false">
                </div>

            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
