

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check your overnight stay in hospital" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds">
       <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <h1 class="govuk-heading-l">Check your savings and investments</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          {%if data['capitalTypes']%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you or your partner have any of the these accounts or investments?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['capitalTypes']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> hidden bit</span></a>
            </dd>
          </div>
          {%endif%}

          {%if data['tamTotal']%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your savings and investments on {{data['backdateDateString']}}
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data['tamTotal']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> hidden bit</span></a>
            </dd>
          </div>
          {%endif%}
          
          {%if data['hasIncreasedDecreased']%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the value of your savings and investments 
                    {% if data['tamTotal'] < 10000%}increased {% else %}decreased {% endif %}
                    since <span class="no-wrap">{{data['backdateDateString']}}?</span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['hasIncreasedDecreased']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> hidden bit</span></a>
            </dd>
          </div>
          {%endif%}

          {%if data['todayTotal']%}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How much money do you have in savings or investments today?
            </dt>
            <dd class="govuk-summary-list__value">
              £{{data['todayTotal']}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> hidden bit</span></a>
            </dd>
          </div>
          {%endif%}
          
        </dl>

        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
