{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Process application" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h2 class="govuk-heading-l">Which pension payment from SUN LIFE should be used in the award decision?</h2>

        <div class="govuk-body">
            The payment you select should represent the income on the day the claim was submitted ({{data['claimSubmittedDate']}}).
        </div>

        <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension1" name="pension2Complete" type="radio" value="{{data['pension1']}}"
                {% if data['pension2Complete'] == data['pension1'] %}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="pension1">
                  {{data['pension1']}}, £350
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension2" name="pension2Complete" type="radio" value="{{data['pension2']}}"
                  {% if data['pension2Complete'] == data['pension2'] %}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="pension2">
                  {{data['pension2']}}, £350
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension3" name="pension2Complete" type="radio" value="{{data['pension3']}}"
                  {% if data['pension2Complete'] == data['pension3'] %}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="pension3">
                  {{data['pension3']}}, £320
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension4" name="pension2Complete" type="radio" value="{{data['pension4']}}"
                  {% if data['pension2Complete'] == data['pension4'] %}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="pension4">
                  {{data['pension4']}}, £320
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension5" name="pension2Complete" type="radio" value="{{data['pension5']}}"
                  {% if data['pension2Complete'] == data['pension5'] %}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="pension5">
                  {{data['pension5']}}, £320
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension6" name="pension2Complete" type="radio" value="{{data['pension6']}}"
                  {% if data['pension2Complete'] == data['pension6'] %}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="pension6">
                  {{data['pension6']}}, £320
                </label>
              </div>
              
          </fieldset>
        </div>
            
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

        </form>

</div>
</div>

{% endblock %}