{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Process an application" %}

{% block content %}

{% include '../partials/name/eric.njk' %}
<p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Process a Pension Credit application </h1>
    <div class="govuk-body">
    Complete these checks to see if this claim meets the criteria for this system.</div>

    <h2 class="govuk-heading-m">Verify claimant's identity</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="bank-name" aria-describedby="before-you-start-1-status">Bank name</a>
        </div>

        {% if data['BankDetails'] == 'yes'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          <strong class="govuk-tag govuk-tag--green">
      Done
    </strong>
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
          To do
          </strong>
        </div>
        {% endif %}
      </li>
    </ul>

    <h2 class="govuk-heading-m">Check CAM</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="other-applications" aria-describedby="before-you-start-1-status">Other applications</a>
        </div>
        {% if data['OtherApplications'] == 'no'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Check Searchlight</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="personal-details" aria-describedby="prepare-application-1-status">Personal details</a>
        </div>
        {% if data['PersonalDetails'] == 'yes'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="benefits" aria-describedby="prepare-application-2-status">Benefits</a>
        </div>
        {% if data['Benefits'] == 'no'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>


      {% if data['taskType'] == 'pay'%}
     

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="non-dependents" aria-describedby="prepare-application-3-status">Possible partners</a>
        </div>
        {% if data['NonDependents'] == 'no'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-3-status">Income</a>
        </div>
        {% if data['Income'] == 'no'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
              Completed
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
        {% endif %}
      </li>

     {% endif %}
    
    </ul>

    {% if data['taskType'] == 'nil'%}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Check pension information</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-1-status">AVIVA</a>
        </div>
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-2-status">SUN LIFE</a>
        </div>
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="prepare-application-3-status">PRUDENTIAL</a>
        </div>
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
      </li>
    </ul>

    {% endif %}

  <!-- Payment success -->


  {% if data['NilAward'] != 'yes' and data['BankDetails'] == 'yes' and data['OtherApplications'] == 'no' and data['PersonalDetails'] == 'yes' and data['Benefits'] == 'no' and data['NonDependents'] == 'no'%}
  <form method="post">
    <h3 class="govuk-heading-l govuk-!-padding-top-5 govuk-!-margin-bottom-2">Claimant entitled to an award</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">
      A letter will be automatically sent to the claimant. It will notify them that they are
     entitled to Pension Credit and give details of the award amount.
    </p>

    <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and notify
    </button>

  </form>
  {% endif %}

    </div>
  </div>
</div>



{% endblock %}
