{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Process application" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        {% if data['OtherApplicationError'] == 'true' %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#error">Select yes if there are any other applications in CAM</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% endif %}

        <h2 class="govuk-heading-l">Recent applications </h2>

        <div id="error" class="govuk-body {% if data['OtherApplicationError'] == 'true' %}govuk-form-group--error{% endif %}">
            <p class="govuk-body">Check CAM for applications that are waiting to be processed. Check for:</p>
            {% if data['OtherApplicationError'] == 'true' %}
            <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error: </span>Select yes if there are any of these applications in CAM
            </p>
            {% endif %}
        <form method="post">

        <div class="govuk-form-group ">
          <ul class="govuk-list govuk-list--bullet">
          <li>
                  Telephone applications</li>
                  <li>  Online applications</li>
                  <li>  Paper applications (PC1)</li>
<li>IDOCs between {{data['backdatingDate']}} and today</li>
                </ul>


        </div>
        </div>



            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Are there any applications waiting to be processed?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="OtherApplications" name="OtherApplications" type="radio" value="yes" {%if data['OtherApplications'] == 'yes'%}checked='checked'{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="OtherApplications">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="OtherApplications-2" name="OtherApplications" type="radio" value="no" {%if data['OtherApplications'] == 'no'%}checked='checked'{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="OtherApplications-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
