
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check the money you have today" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post" >
            <div class="govuk-form-group govuk-!-padding-top-7">
                <h1 class="govuk-heading-l">
                    The money you have today is:
                </h1>

                <h2 class="govuk-heading-m">£{{data['todayTotal']}}
                <p class="govuk-hint">{{data['todayTotalInWords'].slice(0, -4) | capitalize }}</p></h2>

            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Did you enter the correct amount?
                    </h1>
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="todayAmountCorrect" name="todayAmountCorrect" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="todayAmountCorrect">
                        Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="todayAmountCorrect-2" name="todayAmountCorrect" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="todayAmountCorrect-2">
                        No, I want to go back and change the amount
                        </label>
                    </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
