
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Your money" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <p class="govuk-!-padding-bottom-7"><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

      <div {%if data['style']==2%}class="interruption-card"{%endif%}>
        <h1 class="govuk-heading-l {%if data['style']==2%}interruption-card__heading{%endif%}">
          Your money
        </h1>
        
        <div class="govuk-form-group">
        {% if data['route'] == 1 %}
          <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}">
            So we pay you right amount of Pension Credit, we need to know how much money you have in:
          </p>
           <ul class="govuk-list govuk-list--bullet {%if data['style']==2%}interruption-card__body{%endif%}">
              {% for item in data['capitalTypes'] %}
              <li>{{ item }}</li>
              {% endfor %}
          </ul>
        {% endif %}
          <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}">
            {% if data['route'] == 1 %}
              We will ask you:
            {% else %}
              So we pay you right amount of Pension Credit, we need to know:
            {% endif %}
          </p>
           <ul class="govuk-list govuk-list--bullet {%if data['style']==2%}interruption-card__body{%endif%}">
              <li>how much money you have today</li>
              <li>how much money you had on {{data['backdateDateString']}}</li>
          </ul>

          {% if data['route'] == 2 %}
            <h2 class="govuk-heading-m {%if data['style']==2%}interruption-card__heading{%endif%}">
              Things you may need
            </h2>
            <p class="govuk-body {%if data['style']==2%}interruption-card__body{%endif%}">
              To answer the next few questions you may need:
            </p>
            <ul class="govuk-list govuk-list--bullet {%if data['style']==2%}interruption-card__body{%endif%}">
              <li>the current balance for each of your accounts</li>
              <li>your bank statements for the last 3 months</li>
              <li>the total amount of any cash you have at home or somewhere else</li>
          </ul>

          <div class="govuk-inset-text {%if data['style']==2%}interruption-card__inset{%endif%}">
            If you do not enter anything for more than 1 hour, your application will time out and you will have to start again.
          </div>

          {% endif %}

        </div>
        <a href="capital-total-today" class="govuk-button {%if data['style']==2%}govuk-button--secondary{%endif%}">Continue</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
