
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Total amount you had on " %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post" >
            <div class="govuk-form-group govuk-!-padding-top-7">
                <h1 class="govuk-heading-l">
                    Check the money you had on {{data['backdateDateString']}}
                </h1>

                <h2 class="govuk-heading-m">You entered £{{data['tamTotal']}}
                <span class="govuk-caption-l">{{data['tamTotalInWords'].slice(0, -4) | capitalize }}</span></h2>

            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Have you entered the right amount?
                    </h1>
                    </legend>
                    
                    <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tamAmountCorrect" name="tamAmountCorrect" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="tamAmountCorrect">
                        Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tamAmountCorrect-2" name="tamAmountCorrect" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="tamAmountCorrect-2">
                        No
                        </label>
                    </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
