

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Immigration status?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


    <form method="post" >
    <h1 class="govuk-heading-l">Your partner's nationality</h1>
            <div class="govuk-form-group govuk-body govuk-!-margin-top-7">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Does your partner have the right to live or work in the UK without any immigration restrictions?
                </h1>
                </legend>
                <p class="govuk-hint">They have this right if they have a British passport or are a British citizen or British subject with right of abode.</p>


                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="liveWork" name="liveWork" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="liveWork">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="liveWork-2" name="liveWork" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="liveWork-2">
                    No
                    </label>
                </div>

                </div>
            </fieldset>
            </div>

            <div class="govuk-form-group govuk-!-margin-top-7>
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Has your partner lived permanently in the UK for the last 6 months?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="liveWork" name="liveWork" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="liveWork">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="liveWork-2" name="liveWork" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="liveWork-2">
                    No
                    </label>
                </div>

                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>



  </div>
</div>

{% endblock %}
