
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "How we will use your information" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post" action="date-of-birth">
            <div class="govuk-form-group">

                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    How we will use your information
                </h1>

                <p class="govuk-body">
                    To assess your application, we will use information:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>that you give us in this application</li>
                    <li>that we already have about you (and your partner, if you have one)</li>
                    <li>from HMRC about your income and earnings</li>
                </ul>
                <p class="govuk-body govuk-!-margin-bottom-7">
                    To find out more about how we use information and your information rights, read our <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" target="_blank" rel="noopener noreferrer">Personal Information Charter (opens in a new tab)</a>.
                </p>

                <p class="govuk-!-padding-top-4"><a href="eligibility-start-dob" class="govuk-button">Continue</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
