
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "You cannot apply for Pension Credit yet" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


        <div class="govuk-form-group govuk-!-padding-top-7">
            <h1 class="govuk-heading-l">You cannot apply for Pension Credit yet</h1>
            <p class="govuk-body-m">You can apply for Pension Credit up to 4 months before you reach your State Pension age.</p>

            <h2 class="govuk-heading-m">
              You might be able to apply for Universal Credit.
            </h2>


              <p>Telephone<br>0800 328 5644</p>
              <p>Textphone (Text Relay)<br>0800 328 1344</p>

              <p class="govuk-body">
                Monday to Friday, 8am to 6pm (closed on bank holidays).<br/>Calls to 0800 numbers are free from landlines and mobiles.
              </p>


          </div>
    </div>
</div>

{% endblock %}
