
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Tell us about your UK State Pension" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
<div class="govuk-form-group govuk-!-padding-top-7">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    End of "Check if you might get PC" prototype 
                </h1>
                </legend>




</div>
</div>

{% endblock %}
