{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "You must apply to the EU Settlement Scheme before you apply for Pension Credit" %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

    <div class="govuk-form-group">

      <h1 class="govuk-heading-l">
        You must apply to the EU Settlement Scheme before you apply for Pension Credit
      </h1>

      <p class="govuk-heading-s">
        EEA and Swiss nationals need to have an EU Settlement Scheme status
      </p>

      <p class="body">The United Kingdom (UK) has left the European Union (EU). If you are a European Economic Area or
        Swiss national, you and your family members need to get a UK immigration status to carry on living in the UK
        after 30 June 2021.</p>

      <p class="body">You and your family need a status even if you have already been issued with a permanent residence
        document by the Home Office, or have been living in the UK for a long time. You need to apply for an immigration
        status to be eligible for benefits. This includes new and existing claims to benefits.</p>
      <p class="body">It is free to apply for a UK immigration status. Irish nationals and those with indefinite leave
        to remain in the UK do not need to apply.</p>
      <p class="body">You can find more information and apply to the EU Settlement Scheme or call 0300 123 7379.</p>
      <p class="body">You will need to apply for Pension Credit after you have applied for an EU Settlement Scheme
        status.</p>

    </div>
    <h2 class="govuk-heading-s">
      Help us improve Pension Credit
    </h2>
    <p><a href="#">Take a short survey</a></p>
  </div>

  {% endblock %}