{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Living in the UK" %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">About your nationality and immigration status</span>
      Living in the UK
    </h1>

    <form method="post">
      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="originalCountry">
              Which country have you come from?
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-20" id="originalCountry" name="originalCountry" type="text">
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="returnedtoUK-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What date did you last come to the UK?
            </h1>
          </legend>
          <div id="returnedtoUK-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="returnedtoUK">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="returnedtoUK-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="returnedtoUK-day"
                  name="returnedtoUK-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="returnedtoUK-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="returnedtoUK-month"
                  name="returnedtoUK-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="returnedtoUK-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="returnedtoUK-year"
                  name="returnedtoUK-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Did you come to work in the UK?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="workinUK" name="workinUK" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="workinUK">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="workinUK-2" name="workinUK" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="workinUK-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Does your passport say you have recourse to public funds?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="recourseToFunds" name="recourseToFunds" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="recourseToFunds">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="recourseToFunds-2" name="recourseToFunds" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="recourseToFunds-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Have you lived in the UK before?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="livedUKBefore" name="livedUKBefore" type="radio" value="Yes"
                data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="livedUKBefore">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="returnedtoUK-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      What date did you last leave the UK?
                    </h1>
                  </legend>
                  <div id="returnedtoUK-hint" class="govuk-hint">
                    For example, 27 3 2007
                  </div>
                  <div class="govuk-date-input" id="lastLeftUK">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="lastLeftUK-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="lastLeftUK-day"
                          name="lastLeftUK-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="lastLeftUK-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="lastLeftUK-month"
                          name="lastLeftUK-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="lastLeftUK-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="lastLeftUK-year"
                          name="lastLeftUK-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="livedUKBefore-2" name="livedUKBefore" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="livedUKBefore-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Have you lived come to the UK under the Family Reunion Scheme?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="familyReunionScheme" name="familyReunionScheme" type="radio"
                value="Yes">
              <label class="govuk-label govuk-radios__label" for="familyReunionScheme">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="familyReunionScheme-2" name="familyReunionScheme" type="radio"
                value="No">
              <label class="govuk-label govuk-radios__label" for="familyReunionScheme-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
          id="continue-button">
          Continue
        </button>
      </div>
    </form>

  </div>
</div>

{% endblock %}