{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What best describes your status in the UK?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">
              <span class="govuk-caption-l">About your nationality and immigration status</span>
              At any time, have you come to live in the UK or returned to the UK to live from abroad?
            </h1>
          </legend>
          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="returnedtoUK" name="returnedtoUK" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="returnedtoUK">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="returnedtoUK-2" name="returnedtoUK" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="returnedtoUK-2">
              No
            </label>
          </div>

        </fieldset>
      </div>

      <div class="govuk-form-group"></div>
          <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
            id="continue-button">
            Continue
          </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}