
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check if you should apply for Pension Credit" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">Before you apply</h1>
          <p class="govuk-body">You can check if you are likely to get any Pension Credit. At the end of these questions we'll tell you either:</p>


          <ul class="govuk-list govuk-list--bullet">
            <li>to apply for Pension Credit</li>
            <li>that you are unlikely to get any Pension Credit</li>
          </ul>
        </div>

        <form method="post" >


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Do you want to check if you should apply for Pension Credit?
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="checkApply" name="checkApply" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="checkApply">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="checkApply-2" name="checkApply" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="checkApply-2">
                      No, I just want to apply
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


              <button type="submit" class="govuk-button" data-module="govuk-button">
                  Continue
              </button>

          </div>
        </form>
</div>
</div>

{% endblock %}
