{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}
{% set serviceName = 'Process a Pension Credit application' %}

{% extends "./layout.njk" %}

{% set pageName = "Tasks" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-padding-bottom-5">Tasks</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-m">Entitlement – likely
        <p class="govuk-body-l"><a href="tasks/catagorisation" class="govuk-link"><b>Get next task</b></a></p></h1>
      </div>
      <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-l">3264
              <p class="govuk-body govuk-!-font-size-24">total tasks</p>
            </h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-m">Entitlement – not likely 
        <p class="govuk-body-l"><a href="tasks/catagorisation" class="govuk-link"><b>Get next task</b></a></p></h1>
      </div>
      <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-l">2465
              <p class="govuk-body govuk-!-font-size-24">total tasks</p>
            </h3>
      </div>
    </div>
    <hr>
    <div class="govuk-grid-row govuk-!-padding-top-5">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Complex cases
        <p class="govuk-body-l"><a href="tasks/catagorisation" class="govuk-link"><b>Get next task</b></a></p></h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-l">336
              <p class="govuk-body govuk-!-font-size-24">total tasks</p>
            </h3>
      </div>
    </div>
    <hr>
    <div class="govuk-grid-row govuk-!-padding-top-5">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">CAS cases
        <p class="govuk-body-l"><a href="tasks/catagorisation" class="govuk-link"><b>Get next task</b></a></p></h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-l">26
              <p class="govuk-body govuk-!-font-size-24">total tasks</p>
            </h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
