{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Confirm nationality" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h1 class="govuk-heading-l">Immigration status</h1>

        <div class="govuk-body">
         Use the Home Office data in Searchlight to check the claimant's immigration status.
        </div>

        <form method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                      Do they have indefinite leave to remain?
                  </h2>
                      </legend>


                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="leaveToRemain" name="leaveToRemain" type="radio" value="yes"
                      {%if data['leaveToRemain']=="yes"%}checked="checked"{%endif%}>
                      <label class="govuk-label govuk-radios__label" for="leaveToRemain">
                      Yes
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="leaveToRemain-2" name="leaveToRemain" type="radio" value="no"
                      {%if data['leaveToRemain']=="no"%}checked="checked"{%endif%}>
                      <label class="govuk-label govuk-radios__label" for="leaveToRemain-2">
                      No
                      </label>
                  </div>
                  </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                      Do they have recourse to public funds?
                  </h2>
                      </legend>


                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="recourseToPublicFunds" name="recourseToPublicFunds" type="radio" value="yes"
                      {%if data['recourseToPublicFunds']=="yes"%}checked="checked"{%endif%}>
                      <label class="govuk-label govuk-radios__label" for="recourseToPublicFunds">
                      Yes
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="recourseToPublicFunds-2" name="recourseToPublicFunds" type="radio" value="no"
                      {%if data['recourseToPublicFunds']=="no"%}checked="checked"{%endif%}>
                      <label class="govuk-label govuk-radios__label" for="recourseToPublicFunds-2">
                      No
                      </label>
                  </div>
                  </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
