{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Representing DWP Income API data" %}
{% set providers = data.realpensions.data.citizen.pensionAccounts[data.index] %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>


        <span class="govuk-caption-l">Workplace and private pensions</span>
        <h1 class="govuk-heading-l">Change {{providers.pensionProviderPayeScheme.pensionProviderName1}} {{providers.pensionProviderPayeScheme.pensionProviderName2}} </h1>

        
        <div class="govuk-!-margin-bottom-9">

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Net amount</th>
                <th scope="col" class="govuk-table__header">Payment frequency</th>
              </tr>
            </thead>
            
            <tbody class="govuk-table__body">
              {% for payments in providers.pensionIncome %}
                {% if loop.index <= 6 %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{payments.paymentDate | govukDate }}</th>
                    <td class="govuk-table__cell">{{(payments.taxablePayInPeriod - payments.taxDeductedOrRefunded) | currency }}</td>
                    <td class="govuk-table__cell">{{payments.payFrequency | paymentFrequency}}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-5">
                <h1 class="govuk-fieldset__heading">
                  What would you like to do?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pensionChangeAction" name="pensionChangeAction" type="radio" value="adjust">
                  <label class="govuk-label govuk-radios__label" for="pensionChangeAction">
                    Manually adjust the assessed amount
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pensionChangeAction-2" name="pensionChangeAction" type="radio" value="split">
                  <label class="govuk-label govuk-radios__label" for="pensionChangeAction-2">
                    Split this pension
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pensionChangeAction-3" name="pensionChangeAction" type="radio" value="merge">
                  <label class="govuk-label govuk-radios__label" for="pensionChangeAction-3">
                    Merge other pension payments into this pension
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pensionChangeAction-4" name="pensionChangeAction" type="radio" value="capital">
                  <label class="govuk-label govuk-radios__label" for="pensionChangeAction-4">
                    Consider this pension as capital
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pensionChangeAction-5" name="pensionChangeAction" type="radio" value="ignore">
                  <label class="govuk-label govuk-radios__label" for="pensionChangeAction-5">
                    Consider this pension as capital
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>      
</div>
{% endblock %}
