{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Confirm the calculated amount" %}

{% set providers = data.realpensions.data.citizen.pensionAccounts[data.pensionCount] %}


{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <span class="govuk-caption-l">Workplace and private pensions</span>
        <h1 class="govuk-heading-l">Enter an amount manually</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pension provider
            </dt>
            <dd class="govuk-summary-list__value">
              {{data.investigationArray[data.tempIndex].provider}}
            </dd>
 
          </div>
        </dl>

        <form method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="currentFrequency">
              How often is the payment made?
            </label>
            <select class="govuk-select" id="currentFrequency" name="currentFrequency">          
              <option value="W1" selected>Weekly</option>
              <option value="W2">Fortnightly</option>
              <option value="W4">4 Weekly</option>
              <option value="M1">Monthly</option>
              <option value="M3">Quarterly</option>
              <option value="M6">Bi-annually</option>
              <option value="MA">Annually</option>
            </select>
          </div>



          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="currentPensionAverage">
                What is the pension amount?
              </label>
            </h2>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="currentPensionAverage" name="currentPensionAverage" type="text">
            </div>
          </div>
         
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
    </div>      
</div>
{% endblock %}
