

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Do you want us to consider backdating your application to" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

    <form method="post" >
      <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading-l">
                Do you want us to consider backdating your application to <span class="no-wrap">{{data.backdateDateString | govukDate}}</span>?
            </h2>
          </legend>

          <p class="govuk-body">
            Based on your circumstances, this is the earliest date we can consider backdating your application to.
          </p>

          <p class="govuk-body">
            If your circumstances have changed since <span class="no-wrap">{{data.backdateDateString | govukDate}}</span>, 
            you might want us to consider your application from the date that change took place. For example if you have:
            <ul class="govuk-list govuk-list--bullet">
              <li>been part of a previous claim for Pension Credit</li>
              <li>started or stopped living with a partner</li>
            </ul>
          </p>

          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="standardBackdating" name="standardBackdating" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="standardBackdating">
                Yes, consider my application from <span class="no-wrap">{{data.backdateDateString | govukDate}}</span>
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="standardBackdating-2" name="standardBackdating" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="standardBackdating-2">
                No, consider my application from a different date
                </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
      </button>

    </form>
    {% include '../partials/gethelp.html' %}
  </div>
</div>

{% endblock %}
