
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Your application date" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post">
           <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Your application date
                        </h1>
                    </legend>


<p class="govuk-body">The earliest date you can enter is <strong><span class="no-wrap">{{data.backdateDateString | govukDate}}</span></strong>.</p>
<p class="govuk-body">If you know you were not entitled to Pension Credit then, you can enter a later date.</p>
<p class="govuk-body">
We'll try backdate your application to the date you enter, if we can't we'll choose the earliest possible date after that.</p>
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h1 class="govuk-fieldset__heading">
        What date do you want us to assess your application from?
    </h1>
</legend><div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dateOfBirthdd">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateOfBirthdd" name="dateOfBirthdd" type="numeric" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dateOfBirthmm">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateOfBirthmm" name="dateOfBirthmm" type="numeric" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="dateOfBirthyyyy">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="f-dateOfBirthyyyy" name="dateOfBirthyyyy" type="numeric" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
        {% include '../partials/gethelp.html' %}
    </div>
</div>

{% endblock %}
