{% if data['scenario'] == 'T2' %}


	<h2 class="govuk-heading-m">Claimant's details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Full name
			</dt>
			<dd class="govuk-summary-list__value">
				Wendy Abercrombie
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				National Insurance number
			</dt>
			<dd class="govuk-summary-list__value">
QQ 53 26 71 J			</dd>
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Date of birth
			</dt>
			<dd class="govuk-summary-list__value">
				24 September 1953
			</dd>
		</div>
	</dl>


	<h2 class="govuk-heading-m">Contact details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Residential address
			</dt>
			<dd class="govuk-summary-list__value">
					17 Ivy Road<br>
					Graveley Hill<br>
					Birmingham<br>
					B18 6TY
			</dd>
		</div>
		 <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Correspondence address
			</dt>
			<dd class="govuk-summary-list__value">
					17 Ivy Road<br>
					Graveley Hill<br>
					Birmingham<br>
					B18 6TY
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Phone number
			</dt>
			<dd class="govuk-summary-list__value">
					0121 653 9188
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Email address
			</dt>
			<dd class="govuk-summary-list__value">
					Wabercrombie@virginmedia.com
			</dd>
		</div>
	</dl>

{% elif data['scenario'] == 'T21' %}

	<h2 class="govuk-heading-m">Claimant's details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Full name
			</dt>
			<dd class="govuk-summary-list__value">
				Andrea John
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				National Insurance number
			</dt>
			<dd class="govuk-summary-list__value">
QQ 22 62 34 D		</dd>
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Date of birth
			</dt>
			<dd class="govuk-summary-list__value">
				12 January 1953
			</dd>
		</div>
	</dl>


	<h2 class="govuk-heading-m">Contact details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Residential address
			</dt>
			<dd class="govuk-summary-list__value">
					17 Marine Terrace<br>
					Liverpool<br>
					L22 5PR
			</dd>
		</div>
		 <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Correspondence address
			</dt>
			<dd class="govuk-summary-list__value">
				17 Marine Terrace<br>
				Liverpool<br>
				L22 5PR
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Phone number
			</dt>
			<dd class="govuk-summary-list__value">
01519 282332			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Email address
			</dt>
			<dd class="govuk-summary-list__value">
					Andrea.John@outlook.com
			</dd>
		</div>
	</dl>


{% elif data['scenario'] == 'T3' %}


	<h2 class="govuk-heading-m">Claimant's details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Full name
			</dt>
			<dd class="govuk-summary-list__value">
				Florence Drake
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				National Insurance number
			</dt>
			<dd class="govuk-summary-list__value">
QQ 32 12 18 D	</dd>
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Date of birth
			</dt>
			<dd class="govuk-summary-list__value">
				12 April 1952
			</dd>
		</div>
	</dl>


	<h2 class="govuk-heading-m">Contact details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Residential address
			</dt>
			<dd class="govuk-summary-list__value">
					112 Corporation Street<br>
				Blackpool<br>
FY1 1NF			</dd>
		</div>
		 <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Correspondence address
			</dt>
			<dd class="govuk-summary-list__value">
				112 Corporation Street<br>
			Blackpool<br>
FY1 1NF			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Phone number
			</dt>
			<dd class="govuk-summary-list__value">
01253 477477			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Email address
			</dt>
			<dd class="govuk-summary-list__value">
					F.Drake52@outlook.com
			</dd>
		</div>
	</dl>

{% else %}



	<h2 class="govuk-heading-m">Claimant's details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Full name
			</dt>
			<dd class="govuk-summary-list__value">
				Mabel Stevens
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				National Insurance number
			</dt>
			<dd class="govuk-summary-list__value">
QQ 12 34 56 X</dd>
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Date of birth
			</dt>
			<dd class="govuk-summary-list__value">
				22 September 1953
			</dd>
		</div>
	</dl>


	<h2 class="govuk-heading-m">Contact details</h2>
	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Residential address
			</dt>
			<dd class="govuk-summary-list__value">
					58 Great Horton Road<br>
				Bradford<br>
BD7 1AL		</dd>
		</div>
		 <div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Correspondence address
			</dt>
			<dd class="govuk-summary-list__value">
				58 Great Horton Road<br>
			Bradford<br>
BD7 1AL		</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Phone number
			</dt>
			<dd class="govuk-summary-list__value">
01274 729141		</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Email address
			</dt>
			<dd class="govuk-summary-list__value">
					Stevens.m.22@outlook.com
			</dd>
		</div>
	</dl>

{% endif %}
