
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Is your partner male or female?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>






        <form method="post" >
            <div class="govuk-form-group govuk-!-padding-top-7">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Is your partner male or female?
                </h1>
                </legend>
                <p class="govuk-hint">
                    You may be able to get Savings Credit if your partner reached State Pension age before 6 April 2016. We'll use their legal sex and date of birth to see if you could get it.
                </p>

                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="partnerSex" name="partnerSex" type="radio" value="Male">
                    <label class="govuk-label govuk-radios__label" for="partnerSex">
                    Male
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="partnerSex-2" name="partnerSex" type="radio" value="Female">
                    <label class="govuk-label govuk-radios__label" for="partnerSex-2">
                    Female
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
