
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "If you are eligible for Pension Credit should we pay it into this account?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post" action="bank-details">
           <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                

                    <table class="govuk-table">
                      <caption class="govuk-table__caption govuk-table__caption--l">State Pension account details</caption>

                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Sort code</th>
                          <td class="govuk-table__cell">234654</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Account number</th>
                          <td class="govuk-table__cell">24365798</td>
                        </tr>

                      </tbody>
                    </table>
                    <h1 class="govuk-heading-m">
                      Should we pay your Pension Credit into this account?
                    </h1>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pension" name="pension" type="radio" value="British">
                            <label class="govuk-label govuk-radios__label" for="pension">
                            This account
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pension-2" name="pension" type="radio" value="Irish">
                            <label class="govuk-label govuk-radios__label" for="pension-2">
                            A different account
                            </label>
                        </div>

                     </div>

                </fieldset>
            </div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
