
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Which country do you live in?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post" >
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading govuk-!-padding-top-7">
                    Which country do you live in?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios govuk-form-group" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="countryLiveIn" name="countryLiveIn" type="radio" value="England">
                        <label class="govuk-label govuk-radios__label" for="countryLiveIn">
                        England
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="countryLiveIn-1" name="countryLiveIn" type="radio" value="Scotland">
                        <label class="govuk-label govuk-radios__label" for="countryLiveIn-1">
                        Scotland
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="countryLiveIn-2" name="countryLiveIn" type="radio" value="Wales">
                        <label class="govuk-label govuk-radios__label" for="countryLiveIn-2">
                        Wales
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="countryLiveIn-3" name="countryLiveIn" type="radio" value="Northern Ireland ">
                        <label class="govuk-label govuk-radios__label" for="countryLiveIn-3">
                        Northern Ireland
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="countryLiveIn-4" name="countryLiveIn" type="radio" value="Somewhere else">
                        <label class="govuk-label govuk-radios__label" for="countryLiveIn-4">
                        Somewhere else
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>

        </form>


</div>
</div>

{% endblock %}
