
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Are you entitled to any of these benefits?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post" >

        <div class="govuk-form-group govuk-!-padding-top-7">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
Do you get any of these benefits?            </h1>
            </legend>
            <div id="countries-hint" class="govuk-hint">
            Select each benefit you are paid or have an underlying entitlement to.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled" name="ClaimantBenefitsEntitled" type="checkbox" value="Attendance Allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled">
                Attendance Allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-7" name="ClaimantBenefitsEntitled" type="checkbox" value="Pension Age Disability Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-7">
                Pension Age Disability Payment
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-1" name="ClaimantBenefitsEntitled" type="checkbox" value="Disability Living Allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-1">
                The middle or highest rate from the care component of Disability Living Allowance (DLA)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-8" name="ClaimantBenefitsEntitled" type="checkbox" value="Scottish Adult Disability Living Allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-8">
                The middle or highest rate from the care component of Scottish Adult Disability Living Allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-2" name="ClaimantBenefitsEntitled" type="checkbox" value="Personal Independence Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-2">
                The daily living component of Personal Independence Payment (PIP)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-3" name="ClaimantBenefitsEntitled" type="checkbox" value="Adult Disability Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-3">
                The daily living component of Adult Disability Payment (ADP)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-4" name="ClaimantBenefitsEntitled" type="checkbox" value="Armed Forces Independence Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-4">
                Armed Forces Independence Payment
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-8" name="ClaimantBenefitsEntitled" type="checkbox" value="Constant Attendance Allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-8">
                Constant Attendance Allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-5" name="ClaimantBenefitsEntitled" type="checkbox" value="Carer's allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-5">
                Carer's allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-6" name="ClaimantBenefitsEntitled" type="checkbox" value="Carer support payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-6">
                Carer support payment
                </label>
            </div>

            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsEntitled-none" name="ClaimantBenefitsEntitled" type="checkbox" value="None" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsEntitled-none">
                None of these
                </label>
            </div>
            </div>
        </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

        </form>

    </div>
</div>

{% endblock %}
