
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your National Insurance number?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        

            <form method="post">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="NiNo">
                        What is your National Insurance number?
                        </label>
                        <p class="govuk-hint">It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’</p>
                        
                    </h1>
                    <input class="govuk-input govuk-input--width-10" id="NiNo" name="NiNo" type="text">
                </div>
                
                <div class="govuk-form-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <p><a href="save-start-2FA">Request another code</a></p>
                </div>
            </form>
        {% include '../partials/gethelp.html' %}
    </div>
</div>



{% endblock %}
