
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Save your progress as you go" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>



            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
                    Save your progress as you go
                </h1>
                <p class="govuk-body">Enter your mobile number or email address to save your progress as you go.</p>
                <p class="govuk-body">You will be able to return to this application at any point over the next 30 days.</p>

            </div>

        <form method="post">
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label" for="mobile">
                    Mobile number
                    </label>
                </h2>
                <input class="govuk-input govuk-input--width-10"" id="mobile" name="mobile" type="number">
            </div>
            <p>or</p>
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label" for="email">
                    Email address
                    </label>
                </h2>
                <input class="govuk-input govuk-input--width-25"" id="email" name="email" type="text">
            </div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <p><a href="eligibility-country-you-live-in">I do not want to save my progress</a></p>
            </div>
        </form>
        {% include '../partials/gethelp.html' %}
    </div>
</div>



{% endblock %}
