
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Your application reference" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <h1 class="govuk-heading-l">Your application reference</h1>

        <div class="govuk-inset-text">
            <h2 class="govuk-caption-xl">AMX ZTES UTH</h2>
        </div>

        <p>You can use this application reference to return to your application at any point in the next 30 days. You'll also be able to share the code with other organisations if you need help.
        <p class="govuk-body">
            We've also sent this application reference to
            {% if data['mobile'] %}your number ending in <strong>{{data['mobile'] | last(4)}}{% endif %}</strong>
            {% if data['mobile'] and data['email']%} and {%endif%}
            {% if data['email'] %}your email address {{data['email']}}{%endif%}.
        </p>
        <div class="govuk-form-group">
            <a href="eligibility-country-you-live-in" class="govuk-button">
                Continue
            </a>
        </div>



        {% include '../partials/gethelp.html' %}
    </div>
</div>



{% endblock %}
