

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Add another person" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


    <form method="post" >
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  <span class="govuk-caption-l">About {{ data['currentName'] }} </span>

                    What are your living arrangements?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios" data-module="govuk-radios">

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Relationship-1" name="relationship" type="radio" value=" A joint tenant or owner occupier">
                    <label class="govuk-label govuk-radios__label" for="Relationship-1">
                    We are joint tenants or owner occupiers</br>
                    <span class="govuk-hint">Both your names are on the mortgage or tenancy agreement.</span>
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Relationship-2" name="relationship" type="radio" value="A person who is separately liable to make payments to the landlord">
                    <label class="govuk-label govuk-radios__label" for="Relationship-2">
                  We have individual tenancies </br>
                    <span class="govuk-hint">You have separate agreements with the same landlord.</span>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Relationship" name="relationship" type="radio" value="A commercial boarder, lodger or subtenant">
                    <label class="govuk-label govuk-radios__label" for="Relationship">
                    They are a boarder, lodger or subtenant in my home</br>
                    <span class="govuk-hint">They pay you to share your home, or rent part of your property.</span>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Relationship-4" name="relationship" type="radio" value="A landlord, landlady and their family">
                    <label class="govuk-label govuk-radios__label" for="Relationship-4">
                  They are my landlord or a member of their family<br>
                    <span class="govuk-hint">You pay them to share their home, or rent part of their property.</span>

                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Relationship-3" name="relationship" type="radio" value="Someone from a charity or voluntary organisation">
                    <label class="govuk-label govuk-radios__label" for="Relationship-3">They are from a charity or voluntary organisation
                  </br>
                    <span class="govuk-hint">They volunteer, or are paid to live in your home and care for you.</span>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Relationship-5" name="relationship" type="radio" value="Someone else">
                    <label class="govuk-label govuk-radios__label" for="Relationship-5">
                    Someone else
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>



  </div>
</div>

{% endblock %}
