

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Other relationship" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

    <form method="post" >
      <!--- This is other relation --->
      {% if data['relationship'] == "Other" %} 
        <h1 class="govuk-heading-l govuk-!-padding-top-7">
        <span class="govuk-caption-l">About {{ data['currentName'] }} </span>
            How are you related to them?
        </h1>
        <p class="govuk-body">For example, 'we are cousins'.

      <!--- This is other commercial --->
      {% elif data['relationship'] == "Someone else" %} 
        <h1 class="govuk-heading-l govuk-!-padding-top-7">
        <span class="govuk-caption-l">About {{ data['currentName'] }} </span>
            Describe your living arrangements?
        </h1>
        <p class="govuk-body">For example, they are living with you temporarily.
      {% endif %} 

      <div class="govuk-form-group">
        <textarea class="govuk-textarea" id="more-detail" name="relationship" rows="
        {% if data['relationship'] == "Other" %} 
          1
        {% elif data['relationship'] == "Someone else" %} 
          3
        {% endif %}
        " aria-describedby="more-detail-hint"></textarea>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
      </button>
    </form>



  </div>
</div>

{% endblock %}
