

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Add another person" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
    

    <form method="post" >
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Who is {{ data['currentName'] }}?
                </h1>
                </legend>

                
                <div class="govuk-radios govuk-radios-" data-module="govuk-radios">
                  
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-2" name="relationship" type="radio" value="Son or stepson">
                      <label class="govuk-label govuk-radios__label" for="relationship-2">
                      Son or Daughter 
                      </label>
                  </div>
                  
                  
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-4" name="relationship" type="radio" value="Brother or step-brother">
                      <label class="govuk-label govuk-radios__label" for="relationship-4">
                        Stepson or stepdaughter
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-3" name="relationship" type="radio" value="Daughter or stepdaughter">
                      <label class="govuk-label govuk-radios__label" for="relationship-3">
                      Grandson or granddaughter
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-3" name="relationship" type="radio" value="Daughter or stepdaughter">
                      <label class="govuk-label govuk-radios__label" for="relationship-3">
                      Brother or Sister
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-5" name="relationship" type="radio" value="Sister or step-sister">
                      <label class="govuk-label govuk-radios__label" for="relationship-5">
                        Step-brother or step-sister
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship" name="relationship" type="radio" value="Parent or step-parent">
                      <label class="govuk-label govuk-radios__label" for="relationship">
                      Parent
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-5" name="relationship" type="radio" value="Sister or step-sister">
                      <label class="govuk-label govuk-radios__label" for="relationship-5">
                        Step-parent
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-6" name="relationship" type="radio" value="A partner of a close relative">
                      <label class="govuk-label govuk-radios__label" for="relationship-6">
                       A partner of anyone listed above
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-7" name="relationship" type="radio" value="Friend">
                      <label class="govuk-label govuk-radios__label" for="relationship-7">
                       A friend
                      </label>
                  </div>
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="relationship-8" name="relationship" type="radio" value="Other">
                      <label class="govuk-label govuk-radios__label" for="relationship-8">
                      Other
                      </label>
                  </div>
                
                </div>

               
            </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        
        

  </div>
</div>

{% endblock %}
