{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your name?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">About your personal details</span>
      What is your name?
    </h1>
    <p class="govuk-body-hint">Use your full name that is shown on official documents. Do not use abbreviations or nicknames.</p>
  
    <form method="post">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="firstName">
            First name
          </label>
        </h2>
        <input class="govuk-input" id="firstName" name="firstName" type="text">
      </div>
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="middleName">
            Middle names
          </label>
        </h2>
        <input class="govuk-input" id="middleName" name="middleName" type="text">
      </div>
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="lastName">
            Last name
          </label>
        </h2>
        <input class="govuk-input" id="lastName" name="lastName" type="text">
      </div>


      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}