
    <h1 class="govuk-heading-xl">
      Lou Reece
      <span class="govuk-caption-l">LM 35 22 32 F</span>
      <strong class="govuk-tag">
        Not entitled
      </strong>
    </h1>

    {% include '../partials/tabs.njk' %}

    <p><a href="javascript:history.go(-1)" class="govuk-back-link">Back</a></p>

     <h2 class="govuk-heading-m">Pension Credit calculation</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            21 Jun 2023
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly award
          </dt>
          <dd class="govuk-summary-list__value">
            Not entitled
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Closed
          </dd>
        </div>

      </dl>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Applicable amounts</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">
                
                £201.05
                
              </td>
            </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Standard amount</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
            
            
            £201.05
           
            
            </td>
          </tr>
          
          
        </tbody>
      </table>

  
     
        <table class="govuk-table">
          <thead class="govuk-table__head govuk-visually-hidden">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£260.74</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                State Pension
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£164.56</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA Pension
                <p class="govuk-body">
                  The 14 February 2023 payment of £163.42 was used to calculate the weekly income from this pension. This pension is paid monthly.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£37.72</td>
            </tr>

            

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension
                <p class="govuk-body">
                  The 14 December 2022 payment of £406.07 was used to calculate the weekly income from this pension. This pension is paid yearly.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£7.81</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension
                <p class="govuk-body">
                  Monthly pension payments used to calculate the average weekly income:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>14 Feb 2023 - £67.43</li>
                  <li>14 Mar 2023 - £23.66</li>
                  <li>14 Apr 2023 - £58.44</li>
                  
                </ul>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£11.51</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                SUNLIFE PLC pension
                <p class="govuk-body">
                  Monthly pension payments used to calculate the average weekly income:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>14 Mar 2023 - £145.78</li>
                  <li>13 Apr 2023 - £145.78</li>
                  <li>14 May 2023 - £187.34</li>
                  <li>16 Jun 2023 - £199.45</li>
                </ul>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£39.14</td>
            </tr>
            
          </tbody>
        </table>

      <p><a href="#">View claim details</a></p>


            