{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Process application" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

       

        <h2 class="govuk-heading-l">Partner's recent applications</h2>

        <div id="error" class="govuk-body {% if data['OtherApplicationError'] == 'true' %}govuk-form-group--error{% endif %}">
          <p class="govuk-body">Check CAM for applications that are waiting to be processed for the claimant's partner. Check for:</p>
            {% if data['OtherApplicationError'] == 'true' %}
            <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error: </span>Select yes if there are any applications waiting to be processed
            </p>
            {% endif %}
        <form method="post">

        <div class="govuk-form-group ">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

            <ul class="govuk-list govuk-list--bullet">

              <li>
                      Telephone applications</li>
                      <li>  Online applications</li>
                      <li>  Paper applications (PC1)</li>
    <li>IDOCs between {{data['backdatingDate']}} and today</li>
                    </ul>

</div>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Partner's details</caption>
          
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">Sally Horton</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">National Insurance number</th>
              <td class="govuk-table__cell">QQ 12 34 56 B</td>
            </tr>
            
          </tbody>
        </table><br>


            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Are there any applications waiting to be processed?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="OtherApplicationsPartner" name="OtherApplicationsPartner" type="radio" value="yes" {%if data['OtherApplicationsPartner'] == 'yes'%}checked='checked'{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="OtherApplicationsPartner">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="OtherApplicationsPartner-2" name="OtherApplicationsPartner" type="radio" value="no" {%if data['OtherApplicationsPartner'] == 'no'%}checked='checked'{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="OtherApplicationsPartner-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
