{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "No date of death" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h2 class="govuk-heading-l">No date of death</h2>

        <div class="govuk-body">
            Check if this information matches what we hold on Searchlight.
        </div>
        
        <form method="post">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Is there a date of death in Seachlight?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="DoD-yes" name="DoD" type="radio" value="yes"
                    {%if data['DoD']=="yes"%}checked="checked"{%endif%}
                    >
                    <label class="govuk-label govuk-radios__label" for="DoD-no">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="DoD-no" name="DoD" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="DoD-no">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
