{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Process a Pension Credit application" %}

{% block content %}

{% include '../partials/name/eric.njk' %}
<p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Process a Pension Credit application </h1>
    <div class="govuk-body">
    Complete these checks to see if the claimant meets the criteria for this system.</div>

    <h2 class="govuk-heading-m">Verify identity</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="bank-name" aria-describedby="before-you-start-1-status">Bank name</a>
        </div>

        {% if data['BankDetails'] == 'yes' and data['BankEncashed'] == 'yes' %}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
        </div>

        {% elif data['BankDetails'] == 'yes' and data['BankEncashed'] == 'no' %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
          In progress
          </strong>
        </div>

        {% elif data['BankDetails'] == 'yes' and data['BankEncashed'] != 'yes' %}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
        </div>

        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
          To do
          </strong>
        </div>
        {% endif %}
      </li>
    </ul>

    <h2 class="govuk-heading-m">Check CAM</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="other-applications" aria-describedby="before-you-start-1-status">Recent applications</a>
        </div>
        {% if data['OtherApplications'] == 'no'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
        </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Check Searchlight</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="personal-details" aria-describedby="prepare-application-1-status">Personal details</a>
        </div>
        {% if data['PersonalDetails'] == 'yes'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>
      {% if data['taskType'] == 'nil'%}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="benefits" aria-describedby="prepare-application-2-status">Other benefits</a>
          </div>
          {% if data['Benefits'] == 'no'%}
          <div class="govuk-task-list__status" id="before-you-start-1-status">
            Done
              </div>
          {% else %}
          <div class="govuk-task-list__status" id="prepare-application-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              To do
            </strong>
          </div>
          {% endif %}
        </li>
      {% endif %}
      {% if data['taskType'] == 'nil'%}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="DoD" aria-describedby="prepare-application-2-status">No date of death</a>
          </div>
          {% if data['DoD'] == 'no'%}
          <div class="govuk-task-list__status" id="before-you-start-1-status">
            Done
              </div>
          {% else %}
          <div class="govuk-task-list__status" id="prepare-application-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              To do
            </strong>
          </div>
          {% endif %}
        </li>
      {% endif %}

      {% if data['taskType'] == 'pay'%}


      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="non-dependents" aria-describedby="prepare-application-3-status">Living alone</a>
        </div>
        {% if data['NonDependents'] == 'yes'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
            </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>

     {% endif %}

    </ul>

    <!--- Cold weather payment for pay journey --->
    {% if data['taskType'] == 'pay' %}
      {%if data['BankDetails'] == 'yes' and data['OtherApplications'] == 'no' and data['PersonalDetails'] == 'yes' and data['NonDependents'] == 'yes'%}
        <h2 class="govuk-heading-m">Check for payments</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="cold-weather-payments">Cold Weather Payments</a>
            </div>
            {% if data['ColdWeather'] == 'no'%}
            <div class="govuk-task-list__status" id="before-you-start-1-status">
              Done
            </div>
            {% else %}
            <div class="govuk-task-list__status" id="prepare-application-2-status">
              <strong class="govuk-tag govuk-tag--blue">
                To do
              </strong>
            </div>
            {% endif %}
          </li>
        </ul>
      {% else %}
      <h2 class="govuk-heading-m">Check for payments</h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
                <div>
                  Cold Weather Payments
                </div>
              </div>
              <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="application-details-3-status">
                Cannot start yet
              </div>
          </li>
        </ul>

      {% endif %}
    {% endif %}
   <!--- end of cold weather payments --->

    {% if data['taskType'] == 'nil'%}

    <h2 class="govuk-heading-m govuk-!-margin-top-5">Check pension information</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="pension1" aria-describedby="prepare-application-1-status">AVIVA</a>
        </div>
        {% if data['pension1Complete'] == 'yes'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
        </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="pension2" aria-describedby="prepare-application-2-status">SUN LIFE</a>
        </div>
        {% if data['pension2Complete']%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
        </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="pension3" aria-describedby="prepare-application-3-status">PRUDENTIAL</a>
        </div>
       {% if data['pension3Complete'] == 'yes'%}
        <div class="govuk-task-list__status" id="before-you-start-1-status">
          Done
        </div>
        {% else %}
        <div class="govuk-task-list__status" id="prepare-application-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            To do
          </strong>
        </div>
        {% endif %}
      </li>
    </ul>

    {% endif %}

  <!-- Payment success -->
  {% if 
  data['ColdWeather'] == 'no' and 
  data['taskType'] == 'pay' and 
  data['BankDetails'] == 'yes' and 
  data['OtherApplications'] == 'no' and 
  data['PersonalDetails'] == 'yes' and 
  data['NonDependents'] == 'yes'
  %}

  <form method="post">

    {% if data['BankEncashed'] == 'no' %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                  How do you want to continue?
              </h1>
            </legend>

            <div class="govuk-hint">
              You need to wait for a State Pension payment to be 'Encashed'. <br>
              This claim has already been suspended for a total of [NoOfDays] days.
            </div>

            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="BankDetails" name="SuspendClaim" type="radio" value="yes"}>
                <label class="govuk-label govuk-radios__label" for="BankDetails">
                Postpone this task for 5 days
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="BankDetails-2" name="SuspendClaim" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="BankDetails-2">
                Send application to CAM
                </label>
            </div>
            </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
      </button>

    {% else %}
      <h3 class="govuk-heading-l govuk-!-padding-top-5 govuk-!-margin-bottom-2">Checks complete</h3>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">
        A letter will be automatically sent. It will tell the applicant how much Pension Credit they will get.
      </p>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        End task and send letter
      </button>
    {% endif %}

  </form>
  {% endif %}

  <!-- Nil award -->
  {%
  if data['taskType'] == 'nil'
  and data['BankDetails'] == 'yes'
  and data['OtherApplications'] == 'no'
  and data['PersonalDetails'] == 'yes'
  and data['Benefits'] == 'no'
  and data['DoD'] == 'no'
  and data['pension1Complete'] == 'yes'
  and data['pension2Complete']
  and data['pension3Complete'] == 'yes'
  %}
  <form method="post">
    <h3 class="govuk-heading-l govuk-!-padding-top-5 govuk-!-margin-bottom-2">Checks complete</h3>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">
      A letter will be automatically sent. It will tell the the applicant why they are not entitled to Pension Credit.
    </p>

    <button type="submit" class="govuk-button" data-module="govuk-button">
        End task and send letter
    </button>

  </form>
  {% endif %}

    </div>
  </div>
</div>



{% endblock %}
