
    <h1 class="govuk-heading-xl">
      Alex Round
      <span class="govuk-caption-l">JC 24 11 82 D</span>
      <strong class="govuk-tag">
        Not entitled
      </strong>
    </h1>

    {% include '../partials/tabs.njk' %}

    <p><a href="javascript:history.go(-1)" class="govuk-back-link">Back</a></p>

     <h2 class="govuk-heading-m">Pension Credit calculation</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Decision date
          </dt>
          <dd class="govuk-summary-list__value">
            21 Jun 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Back dating period start date
          </dt>
          <dd class="govuk-summary-list__value">
            8 April 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly award
          </dt>
          <dd class="govuk-summary-list__value">
            Not entitled
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Closed
          </dd>
        </div>
      </dl>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head govuk-visually-hidden">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Applicable amounts</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">
                
                £201.05
                
              </td>
            </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Standard amount</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">
            
            
            £201.05
           
            
            </td>
          </tr>
          
          
        </tbody>
      </table>

  
     
        <table class="govuk-table">
          <thead class="govuk-table__head govuk-visually-hidden">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-table__caption--m">Total weekly income</th>
              <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__caption--m ">£214.27</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                State Pension
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£177.58</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension (paid monthly)
                <p class="govuk-body">
                  The 14 February 2023 payment of £142.07 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£32.78</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">
                AVIVA pension (paid yearly)
                <p class="govuk-body">
                  The 14 December 2022 payment of £203.67 was used to calculate the weekly income from this pension.
                </p>
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">£3.91</td>
            </tr>
            
          </tbody>
        </table>

      <p><a href="#">View claim details</a></p>


            