

    <h1 class="govuk-heading-xl">
      Alex Round
      <span class="govuk-caption-l">JC 24 11 82 D</span>
      <strong class="govuk-tag">
        Not entitled
      </strong>
    </h1>

    {% include '../partials/tabs.njk' %}

    
      <h2 class="govuk-heading-m">Claimant's details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Alex Round
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            JC 24 11 82 D
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            24 September 1953
          </dd>
          </dd>
        </div>
      </dl>

     
      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            	17 Hill Rd<br>
              Liverpool<br>
              L12 8RT
          </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            	17 Hill Rd<br>
              Liverpool<br>
              L12 8RT
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            	0151 776 2245
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            	alex.round12@yahoo.com
          </dd>
        </div>
      </dl>

