
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Your Pension Credit application" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
     

            <div class="govuk-form-group"> 
                <h1 class="govuk-heading-l">
                    Your Pension Credit application
                </h1>                
            </div>  

            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Check your eligibility
                    </a>
                    </div>
                    {% if data.eligibility == 'complete'%}
                    <div class="govuk-task-list__status" id="company-details-1-status">
                    Completed
                    </div>
                    {% else %}
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                    {% endif %}
                </li>  
            </ul>

            <h2 class="govuk-heading-m">About you and your claim</h2>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
                        Your bank details
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
                        Application date
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
                        Your personal details
                    </a>
                    </div>
                   {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
                        Your immigration status
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
                        Time outside of the UK
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
                        Hospital stays
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li> 
            </ul>
            {% if data.hasPartner == 'Yes, we live together'%}
            <h2 class="govuk-heading-m">About your partner</h2>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Their personal details
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li>  
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Their immigration status
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li>  
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Hospital stays
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li>  
            </ul>
            {% endif %}

            <h2 class="govuk-heading-m">About your household</h2>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Where do you live
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li>  
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        About your home
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li>  
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        About any other property or land 
                    </a>
                    </div>
                    {% if data.accessCode != 'null'%}
                        <div class="govuk-task-list__status" id="company-details-1-status">
                        Completed
                        </div>
                        {% else %}
                        <div class="govuk-task-list__status" id="company-details-5-status">
                        <strong class="govuk-tag govuk-tag--blue">
                            To do
                        </strong>
                        </div>
                    {% endif %}
                </li>  
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        People who live with you
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li>  
            </ul>

            <h2 class="govuk-heading-m">About your money</h2>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Benefits
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li>  
                {% if data.hasEmploymentIncome == 'Yes' or data.partnerHasEmploymentIncome == 'Yes'%}
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Employment
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li>
                {% endif %}
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Pensions
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Other income
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Savings and investments
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Disregards (not sure what to call this)
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li>
            </ul>

            <h2 class="govuk-heading-m">How we contact you</h2>
            <ul class="govuk-task-list"> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Contact details
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Alternative formats
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                        Correspondence address
                    </a>
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                    <strong class="govuk-tag govuk-tag--blue">
                        To do
                    </strong>
                    </div>
                </li> 
            </ul>

            <h2 class="govuk-heading-m">Finalise your application</h2>
            <ul class="govuk-task-list govuk-!-padding-bottom-9">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                       Who is submitting the application
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                        Cannot start yet
                    </div>
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        Your declaration
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                        Cannot start yet
                    </div>
                </li> 
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                        Submit your application
                    </div>
                    <div class="govuk-task-list__status" id="company-details-5-status">
                        Cannot start yet
                    </div>
                </li>  
            </ul>

            

{% include '../partials/gethelp.html' %} 
    </div>
</div>



{% endblock %}
