{% from "timeline/macro.njk" import dwpTimeline %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% set govukRebrand = false %}

{% block header %}


  <header class="govuk-header agent-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__content">
        <div class="dwp-header__service-name">
          <a href="/" class="dwp-header__link">{{ serviceName }}</a>
        </div>

        <nav aria-label="Menu" class="govuk-header__navigation ">
          <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
          <ul id="navigation" class="govuk-header__navigation-list">
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if globalNavSection == 'find-someone' }}">
              <a class="govuk-header__link" href="/{{data['version']}}/find-someone">
                Find someone
              </a>
            </li>
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if globalNavSection == 'tasks' }}">
              <a class="govuk-header__link" href="/{{data['version']}}/tasks">
                Tasks
              </a>
            </li>
            
            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if globalNavSection == 'other-help' }}">
              <a class="govuk-header__link" href="/{{data['version']}}/other-help">
                Other help
              </a>
            </li>

            <li class="govuk-header__navigation-item{{ ' govuk-header__navigation-item--active' if globalNavSection == 'statistics' }}">
              <a class="govuk-header__link" href="/{{data['version']}}/statistics">
                Service statistics
              </a>
            </li>
            
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
{% endblock %}



