{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'personal' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     {% include './partials/name/TS3notag.njk' %}


    <form method="post">

      <h2 class="govuk-heading-l">Use Searchlight to ask security questions</h2>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "SecurityCheck",
        fieldset: {
          legend: {
            text: "Did the claimant pass security?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
  </div>
</div>




{% endblock %}
