

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your nationality?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="countries">
          Which country issued your passport or travel document?
        </label>
      </h1>

      <br><br>

      <div class="govuk-grid-row"> 
        <div class="govuk-grid-column-two-thirds">
        <form name="theForm" method="post">
        <input type="url" id="referrer" value="myvalue"  hidden/>

        </div>
      </div>


      


      <button onclick="start()" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
</form>
      <br>
      <br>

    </div>


  </div>
</form>

<script>
    function start() {
      
      document.getElementById('referrer').value = document.referrer;
      document.getElementById("theForm").submit();
      
}
  </script>

{% endblock %}
