{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pension Credit: Eligibility
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Working, jobs and pensions",
        href: "#"
      },
      {
        text: "State Pension"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Pension Credit
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="overview.html">
                Overview
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">

                Eligibility

            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="what-you-will-get.html">
                What you'll get
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="how-to-claim.html">
                How to claim
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="report-a-change.html">
                Report a change of circumstances
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-l">
        Eligibility
      </h2>
      
      <p>You must live in England, Scotland or Wales and have reached <a href="#">State Pension age</a> to qualify for Pension Credit.</p>
      <p class="govuk-inset-text"><a href="#">Find out about Pension Credit in Northern Ireland.</a>.</p>
      <p>If you’re from the EU, Switzerland, Norway, Iceland or Liechtenstein, you and your family usually also need settled or pre-settled status under the EU Settlement Scheme to get Pension Credit. The deadline to apply to the scheme was 30 June 2021 for most people, but you might still be able to apply. <a href="#">Check if you can still apply to the EU Settlement Scheme</a>.</p>
      
      <h2 class="govuk-heading-m">If you have a partner</h2>
      <p>You must include your partner on your application.</p>
      <p>You’ll be eligible if either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you and your partner have both reached State Pension age</li>
        <li>one of you is getting <a href="#">Housing Benefit</a> for people over State Pension age</li>
      </ul>
      <p>A partner is either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your husband, wife or civil partner - if you live with them</li>
        <li>someone you live with as a couple, without being married or in a civil partnership</li>
      </ul>
      

      <h2 class="govuk-heading-m">Your income</h2>
      <p>When you apply for Pension Credit your income is calculated. If you have a partner, your income is calculated together.</p>
      <p>Pension Credit tops up:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your weekly income to £218.15 if you’re single</li>
        <li>your joint weekly income to £332.95 if you have a partner</li>
      </ul>
      <p>If your income is higher, you might still be eligible for Pension Credit if you have a disability, you care for someone, you have savings or you have housing costs.</p>
      
      <h2 class="govuk-heading-s">What counts as income</h2>
      <p>Your income includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>State Pension</li>
        <li>other pensions</li>
        <li>earnings from employment and self-employment</li>
        <li>most social security benefits, for example Carer’s Allowance</li>
      </ul>

      <h2 class="govuk-heading-s">What does not count as income</h2>
      <p>Not all benefits are counted as income. For example, the following are not counted:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>Adult Disability Payment</li>
          <li>Attendance Allowance</li>
          <li>Christmas Bonus</li>
          <li>Child Benefit</li>
          <li>Disability Living Allowance</li>
          <li>Personal Independence Payment</li>
          <li>social fund payments like Winter Fuel Allowance</li>
          <li>Housing Benefit</li>
          <li>Council Tax Reduction</li>
      </ul>

      <h2 class="govuk-heading-s">If you’ve deferred your pension</h2>
      <p>If you’re entitled to a personal or workplace pension and you have not claimed it yet, the amount you’d expect to get still counts as income.</p>
      <p>If you’ve <a href="/#">deferred your State Pension</a>, the amount of State Pension you would get is counted as income.</p>
      <p>You cannot build up extra amounts for deferring your State Pension if you or your partner are getting Pension Credit.</p>

      <h2 class="govuk-heading-s">Your savings and investments</h2>
      <p>If you have £10,000 or less in savings and investments this will not affect your Pension Credit.</p>
      <p>If you have more than £10,000, every £500 over £10,000 counts as £1 income a week. For example, if you have £11,000 in savings, this counts as £2 income a week.</p>
      <p class="govuk-inset-text"><a href="report-a-change.html">Contact the Pension Service helpline</a> if your circumstances change.</p>
      
      <h2 class="govuk-heading-m">If you're away from Great Britain</h2>
      <p>You can continue to get Pension Credit if you’re away from Great Britain for 4 weeks or less - for example, on a holiday.</p>
      <p>You must:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>be eligible for Pension Credit when you go away</li>
          <li>remain eligible for it while you’re away</li>
          <li>
        <a href="#">contact the Pension Service helpline</a> to tell them you’re going away</li>
      </ul>
      <p>You can get Pension Credit for up to 4 more weeks if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you’re away from Great Britain because of the death of a close relative</li>
        <li>a close relative dies while you’re away and you cannot reasonably return to the UK</li>
      </ul>
      <p>You cannot apply for Pension Credit if you’re already outside Great Britain.</p>
      <p>You cannot get Pension Credit if you’re moving away from Great Britain permanently.</p>

      <h2 class="govuk-heading-m">Leaving Great Britain for medical treatment</h2>
      <p>You can continue to get Pension Credit for up to 26 weeks if:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>you’ve left Great Britain for medical treatment</li>
          <li>you’ve left Great Britain for a period of recovery that’s been approved by a medical professional (also known as ‘approved convalescence’)</li>
          <li>your partner or child is leaving Great Britain for medical treatment or ‘approved convalescence’ and you’re going with them</li>
      </ul>


      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Overview",
          href: "overview.html"
        },
        next: {
          labelText: "What you'll get",
          href: "what-you-will-get.html"
        }
      }) }}


      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                The basic State Pension
              </a>
            </li>
            <li>
              <a href="#">
                Get help with benefits and pensions if you have accessibility needs
              </a>
            </li>
            <li>
              <a href="#">
                Going into a care home if you get benefits
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
