
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Are you waiting for a decision about any of these benefits?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post" >

        <div class="govuk-form-group govuk-!-padding-top-7">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Are you waiting for a decision about any of these benefits?
            </h1>
            </legend>
            <div id="countries-hint" class="govuk-hint">
                Select each benefit you have applied for and are waiting to find out if you are eligible.
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">


            {% 
            if data['ClaimantBenefitsEntitled'].includes('Attendance Allowance')
            or data['ClaimantBenefitsEntitled'].includes('Disability Living Allowance')
            or data['ClaimantBenefitsEntitled'].includes('Personal Independence Payment')
            or data['ClaimantBenefitsEntitled'].includes('Adult Disability Payment')
            or data['ClaimantBenefitsEntitled'].includes('Armed Forces Independence Payment')
            or data['ClaimantBenefitsEntitled'].includes('Pension Age Disability Payment')
            or data['ClaimantBenefitsEntitled'].includes('Constant Attendance Allowance')
            %}
            {% else %}
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting" name="ClaimantBenefitsAwaiting" type="checkbox" value="Attendance Allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting">
                Attendance Allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-1" name="ClaimantBenefitsAwaiting" type="checkbox" value="Disability Living Allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-1">
                The middle or highest rate from the care component of Disability Living Allowance (DLA)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-7" name="ClaimantBenefitsAwaiting" type="checkbox" value="Pension Age Disability Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-7">
                Pension Age Disability Payment
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-2" name="ClaimantBenefitsAwaiting" type="checkbox" value="Personal Independence Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-2">
                The daily living component of Personal Independence Payment (PIP)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-3" name="ClaimantBenefitsAwaiting" type="checkbox" value="Adult Disability Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-3">
                The daily living component of Adult Disability Payment (ADP)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-4" name="ClaimantBenefitsAwaiting" type="checkbox" value="Armed Forces Independence Payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-4">
                Armed Forces Independence Payment
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-8" name="ClaimantBenefitsAwaiting" type="checkbox" value="Constant Attendance Allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-8">
                Constant Attendance Allowance
                </label>
            </div>
           
            {% endif %}


            {% 
            if data['ClaimantBenefitsEntitled'].includes('Carer support payment')
            or data['ClaimantBenefitsEntitled'].includes('Carer\'s allowance')
            %}
            {% else %}
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-5" name="ClaimantBenefitsAwaiting" type="checkbox" value="Carer's allowance">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-5">
                Carer's allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-6" name="ClaimantBenefitsAwaiting" type="checkbox" value="Carer support payment">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-6">
                Carer support payment
                </label>
            </div>
            {% endif %}

            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="ClaimantBenefitsAwaiting-none" name="ClaimantBenefitsAwaiting" type="checkbox" value="None" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="ClaimantBenefitsAwaiting-none">
                None of these
                </label>
            </div>
            </div>
        </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

        </form>

    </div>
</div>

{% endblock %}
