

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Housing costs" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


    <form method="post" >
    <h1 class="govuk-heading-l govuk-!-margin-top-7">Housing costs</h1>
    
    <h2 class="govuk-heading-m">Service charges</h2>
    <p class="govuk-body">
      Service charges can include:
      <ul class="govuk-list govuk-body govuk-list--bullet">
        <li>warden services</li>
        <li>caretaker services (like gardening, maintenance and cleaning of communal areas)</li>
        <li>use of a lift or laundry room</li>
        <li>use of communal areas like a lounge or TV area</li>
      </ul>
    </p>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Do you pay service charges?
        </legend>
        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="serviceCharge" name="serviceCharge" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="serviceCharge">
              Yes
              </label>
          </div>
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="serviceCharge-2" name="serviceCharge" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="serviceCharge-2">
              No
              </label>
          </div>
        </div>
      </fieldset>
    </div>
            
    <h2 class="govuk-heading-m">Ground rent</h2>
    <p class="govuk-body">You might pay ground rent if your home is a leasehold property.</p>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="groundRentHint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Do you own your home and pay ground rent?
        </legend>
        
        <p class="govuk-hint" id="groundRentHint">This includes if you own your home through the shared ownership scheme. </p>

        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="groundRent" name="groundRent" type="radio" value="I own my home and pay ground rent">
              <label class="govuk-label govuk-radios__label" for="groundRent">
              I own my home and pay ground rent
              </label>
          </div>
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="groundRent-2" name="groundRent" type="radio" value="I own my home but do not pay ground rent">
              <label class="govuk-label govuk-radios__label" for="groundRent-2">
              I own my home but do not pay ground rent
              </label>
          </div>
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="groundRent-3" name="groundRent" type="radio" value="I do not own my home">
              <label class="govuk-label govuk-radios__label" for="groundRent-3">
              I do not own my home
              </label>
          </div>

        </div>
      </fieldset>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

    </form>
  </div>
</div>

{% endblock %}
