

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check your eligibility answers" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l  govuk-!-margin-top-7">Check your answers: check if you should to apply for Pension Credit</h1>
    <h2 class="govuk-heading-m">Your personal details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['claimantDoB'] | govukDate }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>

      {% if data['claimantSex'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Are you male or female?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['claimantSex']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Benefits you get
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['ClaimantBenefitsEntitled']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>

      {% if data['ClaimantBenefitsAwaiting'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Benefits you have applied for
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['ClaimantBenefitsAwaiting']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Do you get any money from working?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['hasEmploymentIncome']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
    </dl>


    {% if data['hasPartner'] == 'Yes, we live together' %}
    <h2 class="govuk-heading-m">Your partner's personal details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['partnerDoB'] | govukDate }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>

      {% if data['partnerSex'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Is your partner male or female?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['partnerSex']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Benefits they get
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['PartnerBenefitsEntitled']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>

      {% if data['PartnerBenefitsAwaiting'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Benefits they have applied for
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['PartnerBenefitsAwaiting']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Does your partner get any money from working?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['hasEmploymentIncome']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
    </dl>
    {% endif %}

    <h2 class="govuk-heading-m">Your household</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Responsible for any children or qualifying young people
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['hasChildren'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Do you pay service charges?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['serviceCharge'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Do you own your home and pay ground rent?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['groundRent']}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% if data['monthlyapplicableamount'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Estimated monthly income
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['incomeAmount'] == 'not sure'  %}
            I'm not sure
          {% else %}
          {{data['incomeAmount']}} &pound;{{data['monthlyapplicableamount']}}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}
    </dl>
    <form method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>
{% endblock %}
