
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Have you had any overnight stays in hospital since data['backdateDateString']?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {% if data['dropout'] == "savings"%} Savings credit possibly applicable 
            {% elif data['dropout'] == "housing"%} Contains housing costs
            {% elif data['dropout'] == "spa"%} Neither claimant has reached SPa
            {% elif data['dropout'] == "mixed"%} Mixed age couple, one not reached SPa
            {% elif data['dropout'] == "children"%} Possibly has qualifying children
            {% endif %} 
          </h1>
          {% if data['dropout'] != "spa" %}
          <div class="govuk-panel__body">
            Continue to full application
          </div>
          {% endif %} 
        </div>
    </div>
</div>

{% endblock %}
