

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check your overnight stay in hospital" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row ">
      <div class="govuk-grid-column-two-thirds">
       <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <h1 class="govuk-heading-l">Check your overnight stay in hospital</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          {% if data['HospitalStill'+data['CurrentHospital']] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you still in hospital at the moment?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['HospitalStill'+data['CurrentHospital']]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> if you are still in hospital</span></a>
            </dd>
          </div>
          {% endif %}

          {% if data['hospitalName'+data['CurrentHospital']] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the name of the hospital?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['hospitalName'+data['CurrentHospital']]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> hospital name</span></a>
            </dd>
          </div>
          {% endif %}

          {% if data['hospitalLocation'+data['CurrentHospital']] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which town, city or area is the hospital in?
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['hospitalLocation'+data['CurrentHospital']]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> hospital location</span></a>
            </dd>
          </div>
          {% endif %}
          
          {% if data['HospitalStill'+data['CurrentHospital']] %}
            {% if data['hospitalNHS'+data['CurrentHospital']] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Is your hospital treatment being provided by the NHS?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hospitalNHS'+data['CurrentHospital']]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> treatment type</span></a>
                </dd>
              </div>
            {% endif %}

            {% if data['hospitalIn'+data['CurrentHospital']] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date you went into hospital
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['hospitalIn'+data['CurrentHospital']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date</span></a>
              </dd>
            </div>
            {% endif %}

            {% if data['HospitalExpectedDischarge'+data['CurrentHospital']] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you have an expected date of discharge yet?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['HospitalExpectedDischarge'+data['CurrentHospital']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"></span></a>
              </dd>
            </div>
            {% endif %}

            {% if data['hospitalOut'+data['CurrentHospital']] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date you left hospital
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hospitalOut'+data['CurrentHospital']]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date</span></a>
                </dd>
              </div>
            {% endif %}

            {% if data['hospitalDischargeLocation'+data['CurrentHospital']] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where are you being discharged to?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hospitalDischargeLocation'+data['CurrentHospital']]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> location</span></a>
                </dd>
              </div>
            {% endif %}

          
          {% else %}
            {% if data['hospitalIn'+data['CurrentHospital']] %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date you went into hospital
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['hospitalIn'+data['CurrentHospital']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date</span></a>
              </dd>
            </div>
            {% endif %}

            {% if data['hospitalOut'+data['CurrentHospital']] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date you left hospital
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hospitalOut'+data['CurrentHospital']]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date</span></a>
                </dd>
              </div>
            {% endif %}

            {% if data['hospitalNHS'+data['CurrentHospital']] %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Is your hospital treatment being provided by the NHS?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['hospitalNHS'+data['CurrentHospital']]}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> treatment type</span></a>
                </dd>
              </div>
            {% endif %}
          {% endif %}


        </dl>

        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
