{# Set which global nav link to highlight #}
{% set globalNavSection = 'task' %}
{% set serviceName = 'Process a Pension Credit application' %}
{% include '../partials/name/eric.njk' %}

{% extends "../layout.njk" %}

{% set pageName="View Pension Credit data" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include '../partials/name/eric.njk' %}

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#outcome">
            1. Overview
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#details">
            2. Application details
          </a>
        </li>
        <li class="govuk-tabs__list-item">

          <a class="govuk-tabs__tab" href="#data">
            3. Information we hold
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#feedback">
            {% if data['v'] == '2'%}
            4. Complete the task
            {% else %}
            4. Record your decision
            {% endif %}
          </a>
        </li>
      </ul>

      <!--- Outcome tab -->
      <div class="govuk-tabs__panel" id="outcome">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">

              <h2 class="govuk-heading-l">1. Overview</h2>


              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Entitlement
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data.json.values.award_amt > 0 %}Likely{%else%}Not likely{%endif%}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Estimated amount
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data.json.values.award_amt > 0 %}
                    Between
                    £{{ ((data.json.values.award_amt.toFixed(2)|float)-10) | round5down}}
                    and
                    £{{ ((data.json.values.award_amt.toFixed(2)|float)+10) | round5up}}
                    {% else %}
                    £0
                    {% endif %}
                  </dd>
                </div>
              </dl>
            </div>

            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">
                Appropriate minimum guarantee
              </h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Single person</dt>
                <dd class="govuk-summary-list__value">
                  £{{ data.json.values.credits_totalAmt }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Disability premium</dt>
                <dd class="govuk-summary-list__value">
                  £{{ data.json.values.credits_disabilityPremium_totalAmt.toFixed(2) }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Carers premium</dt>
                <dd class="govuk-summary-list__value">
                  £{{ data.json.values.credits_carersPremium_totalAmt.toFixed(2) }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Dependents premium</dt>
                <dd class="govuk-summary-list__value">
                  £{{ data.json.values.credits_dependentsPremium_totalAmt.toFixed(2) }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Housing premium</dt>
                <dd class="govuk-summary-list__value">
                  £{{ data.json.values.credits_housingPremium_totalAmt.toFixed(2) }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Transitional premium</dt>
                <dd class="govuk-summary-list__value">
                  £{{ data.json.values.credits_transitionalPremium_totalAmt.toFixed(2) }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">Total</dt>
                <dd class="govuk-summary-list__value">
                <strong>  £{{
                              (data.json.values.credits_totalAmt +
                              data.json.values.credits_disabilityPremium_totalAmt +
                              data.json.values.credits_carersPremium_totalAmt +
                              data.json.values.credits_dependentsPremium_totalAmt +
                              data.json.values.credits_housingPremium_totalAmt +
                              data.json.values.credits_transitionalPremium_totalAmt
                              | float
                              ).toFixed(2)
                }} </strong>
                </dd>
              </div>

              </dl>

            <h2 class="govuk-heading-m">
              Income
            </h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">

                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Employment
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £{{ data.json.values.income_employment_totalAmt.toFixed(2) }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Benefits
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £{{ data.json.values.income_benefit_claimant_netAmt.toFixed(2) }}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Total weekly income
                  </dt>
                  <dd class="govuk-summary-list__value">
              <strong>      £{{ (data.json.values.income_employment_totalAmt.toFixed(2) | float  + data.json.values.income_benefit_claimant_netAmt.toFixed(2) | float).toFixed(2) }} </strong>
                  </dd>
                </div>

              </dl>
            </div>
          </div>
      </div>
      <!--- end of outcome tab -->

      <!--- claim details tab -->
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="details">
        <h3 class="govuk-heading-l">2. Application details</h3>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <!--- Side navigation -->
            <nav class="moj-side-navigation" aria-label="Side navigation">



              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="#1" aria-current="location">Who made the claim</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#2">About the applicant</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#3">Verify identity</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#4">Contact details</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#5">Time spent in hospital</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#6">Housing details</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#7">Housing costs</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#8">Residency in the UK</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#9">Other people that live with you</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#10">Benefits you have applied for</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#11">Disregards</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#12">Money</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#13">Employment and income</a>
                </li>
              </ul>

            </nav>

          </div>
              <!--- application sections -->

          <div class="govuk-grid-column-three-quarters">

            <div id="1" class="govuk-form-group">




              <dl class="govuk-summary-list govuk-!-margin-bottom-6">
  <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Who made the claim</h3>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Which of these best describes you?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    You are claiming Pension Credit for yourself
                  </dd>
                </div>

              </dl>
            </div>
            <div id="2" class="govuk-form-group govuk-!-margin-top-9">
              <h3 class="govuk-heading-m">About the applicant<br><span class="govuk-body-s"><a href="#details">Back to top</a></h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    First name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Sam
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Last name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Hazel
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Your National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    QQ 11 22 33 X
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Date claim submitted
                  </dt>
                  <dd class="govuk-summary-list__value">
                    22 September 2024
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Have you been outside of the UK for a period of more than four weeks since 10 October 2020?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you want us to consider backdating your application to 12 August 2024?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Language in which application was completed
                  </dt>
                  <dd class="govuk-summary-list__value">
                    English
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Which country do you live in?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    England
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Your date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    8 July 1953
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you have a partner?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Are you registered blind or severely sight impaired?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>


              </dl>
            </div>
            <div id="3" class="govuk-form-group  govuk-!-margin-top-9">
              <h3 class="govuk-heading-m">Verify identity<br><span class="govuk-body-s"><a href="#details">Back to top</a></h3>
              <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Which of these benefits do you get?
                  </dt>
                  <dd class="govuk-summary-list__value">

                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    State pension
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Attendance Allowance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Carers Allowance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Carers Support Payment
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Personal Independence Payment
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Disability Living Allowance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>

                <div class="govuk-summary-list__row govuk-!-margin-top-6">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Which account do we pay your State Pension into?
                  </dt>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Sort code
                  </dt>
                  <dd class="govuk-summary-list__value">
                    01 01 01
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Account number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    12345678
                  </dd>
                </div>

              </dl>
            </div>
            <div id="4" class="govuk-form-group govuk-!-margin-top-9">
              <h3 class="govuk-heading-m">Contact details<br><span class="govuk-body-s"><a href="#details">Back to top</a></h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you have a contact telephone number?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    What is your contact telephone number?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    0123 456 7890
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    What language do you want us to speak to you in?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Other
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    If Other, what language do you want us to use?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    French
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you need us to use any different formats when we contact you by letter or phone?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Do you want us to send you an email confirmation that we have received the application?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Email address
                  </dt>
                  <dd class="govuk-summary-list__value">
                    sam.hazel23@gmail.com
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Are you registered blind or severely sight impaired?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    No
                  </dd>
                </div>
              </dl>
            </div>

            <!--- end of application sections -->

          </div>

        </div>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="data">
        <h3 class="govuk-heading-l">3. Information we hold</h3>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <!--- Side navigation -->
            <nav class="moj-side-navigation" aria-label="Side navigation">

              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="#a" aria-current="location">Earnings</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#b">Pensions</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="#c">Benefits</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="#d">Immigration status</a>
                </li>
              </ul>
            </nav>


          </div>
              <!--- application sections -->

          <div class="govuk-grid-column-three-quarters">

            <div id="a" class="govuk-form-group govuk-!-margin-bottom-6">

              <h3 class="govuk-heading">Earnings from HMRC<br><span class="govuk-body-s"><a href="#details">Back to top</a></h3>
              <dl class="govuk-summary-list ">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Total weekly earnings
                  </dt>
                  <dd class="govuk-summary-list__">
                    £{{ data.json.values.income_employment_totalAmt.toFixed(2) }}
                  </dd>
                </div>
              </dl>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    More detail about earnings
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <div class="moj-scrollable-pane">
                    <h3>{{data.json.values.fact_ctznFinance_claimant_earnings[i].employer}}</h3>
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Employer</th>
                          <th scope="col" class="govuk-table__header">Date</th>
                          <th scope="col" class="govuk-table__header">Net pay</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">

                          {% for i in range(0,6)%}
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{data.json.values.fact_ctznFinance_claimant_earnings[i].employer}}</td>
                            <td class="govuk-table__cell">{{data.json.values.fact_ctznFinance_claimant_earnings[i].date.slice(8, -18)}}{{data.json.values.fact_ctznFinance_claimant_earnings[i].date.slice(4, -20)}}{{data.json.values.fact_ctznFinance_claimant_earnings[i].date.slice(0, -24)}}</td>
                            <td class="govuk-table__cell">£{{data.json.values.fact_ctznFinance_claimant_earnings[i].netPay.toFixed(2) }}</td>
                          </tr>
                          {%endfor%}

                      </tbody>
                    </table>
                  </div>
                </div>
              </details>
            </div>
            <div id="b" class="govuk-form-group govuk-!-margin-top-9">
              <h3 class="govuk-heading">Pensions from HMRC<br><span class="govuk-body-s"><a href="#details">Back to top</a></h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Total weekly pensions
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £{{data.json.values.income_pvtPension_totalAmt}}
                  </dd>
                </div>
              </dl>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                      More detail about pensions
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <div class="moj-scrollable-pane">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Pension provider</th>
                          <th scope="col" class="govuk-table__header">Date</th>
                          <th scope="col" class="govuk-table__header">Frequency</th>
                          <th scope="col" class="govuk-table__header">Net pay</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">

                          {% for i in data.json.values.fact_ctznFinance_claimant_pvtPension %}
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{i.provider}}</td>
                            <td class="govuk-table__cell">{{i.date.slice(8,-18)}}{{i.date.slice(4,-20)}}{{i.date.slice(0,-24)}}</td>
                            <td class="govuk-table__cell">{{i.frequency}}</td>
                            <td class="govuk-table__cell">£{{i.netPay.toFixed(2) }}</td>
                          </tr>
                          {%endfor%}

                      </tbody>
                    </table>
                  </div>
                </div>
              </details>

            </div>
            <div id="c" class="govuk-form-group govuk-!-margin-top-9">
              <h3 class="govuk-heading">Benefits from DWP<br><span class="govuk-body-s"><a href="#details">Back to top</a></h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Total weekly benefits
                  </dt>
                  <dd class="govuk-summary-list__value">
                   £{{data.json.values.income_benefit_claimant_grossAmt}}
                  </dd>
                </div>

              </dl>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                        More detail about benefits
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <div class="moj-scrollable-pane">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Benefit</th>
                          <th scope="col" class="govuk-table__header">Award date</th>
                          <th scope="col" class="govuk-table__header">Payment date</th>
                          <th scope="col" class="govuk-table__header">Amount</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">

                          {% for i in data.json.values.fact_cis_claimant_awards%}
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{i.benefitKey}}</td>
                            <td class="govuk-table__cell">{{data.json.values.fact_derived_claimant_spaDate.slice(8, -18)}}{{i.startDate.slice(4, -20)}}{{i.startDate.slice(0, -24)}}</td>
                            <td class="govuk-table__cell">{{i.startDate.slice(8, -18)}}{{i.startDate.slice(4, -20)}}{{i.startDate.slice(0, -24)}}</td>
                            <td class="govuk-table__cell">£{{i.amount.toFixed(2) }}</td>
                          </tr>
                          {%endfor%}

                      </tbody>
                    </table>
                  </div>
                </div>
              </details>
            </div>
            <div id="d" class="govuk-form-group govuk-!-margin-top-9">
              <h3 class="govuk-heading">Immigration status from the Home Office<br><span class="govuk-body-s"><a href="#details">Back to top</a></h3>
              <dl class="govuk-summary-list govuk-!-margin-bottom-6">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Nationality
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data.json.values.fact_cis_claimant_residenceCountry}}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Right to live and work in the UK
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Recourse to public funds
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Yes
                  </dd>
                </div>

              </dl>
            </div>

            <!--- end of claim fact sections -->
          </div>

        </div>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="feedback">
        {% if data['v'] == '2'%}
        

        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2>
                  4. Complete the task
                </h2>
              </legend>

              {% if data['error'] == 'true' %}
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <div class="govuk-error-summary" data-module="govuk-error-summary">
                    <div role="alert">
                      <h2 class="govuk-error-summary__title">
                        There is a problem
                      </h2>
                      <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                          <li>
                            <a href="#error">Confirm you have copied the information into CAM</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {%endif%}
              <div {% if data['error'] == 'true' %}class="govuk-form-group--error"{%endif%}>
                {% if data['error'] == 'true' %}
                <p id="passport-issued-error" id='error' class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Confirm you have copied the information into CAM
                </p>
                {%endif%}
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="confirm" name="confirm" type="checkbox" value="checked">
                    <label class="govuk-label govuk-checkboxes__label" for="confirm">
                      I have copied the information from this task to CAM
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>  
          <div class="govuk-form-group">
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                Warning: This task will be removed from this system.
              </strong>
            </div>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

        {% else %}
        <h3 class="govuk-heading-l">4. Record your decision</h3>
        <div class="govuk-form-group">
          <div class="govuk-form-group">



            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Have you made a decision about this claimant's award?
              </h2>
              </legend>
              <div class="govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-radios__label" for="contact">
                      Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                    <label class="govuk-label govuk-radios__label" for="contact-2">
                      No
                    </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <label class="govuk-label" for="awardAmount">
                <strong>Weekly award amount</strong>
              </label>
              <p class="govuk-hint">Enter 0 if the claimant is not entitled to any Pension Credit.</p>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="awardAmount" name="awardAmount" type="number" spellcheck="false">
              </div>
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-phone">
                <strong>Award start date</strong>
              </label>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2007.
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">
                  Copy the application details and information we hold into CAM
                </h2>

                </legend>
                    <div class="govuk-form-group">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                          <label class="govuk-label govuk-checkboxes__label" for="waste">
                            I have copied this information into CAM
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon " aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Warning: This case will be removed from this system.
                      </strong>
                    </div>
                  </div>
                </div>

              </fieldset>
            </div>
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button">End task</button>

        </div>
        {% endif %}
      </div>
      </div>

  </div>
</div>

{% endblock %}
