
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Overnight stays in hospital since data['backdateDateString']" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <h1 class="govuk-heading-l">Overnight stays in hospital since <span class="no-wrap">{{data['backdateDateString']|govukDate}}</span></h1>
        <p class="govuk-body govuk-!-margin-bottom-7">If you were in hospital for more than one overnight stay tell us about them one at a time.</p>

        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        What date did you go into hospital?
                    </h2>
                    </legend>

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="hospitalIn-day">
                                Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hospitalIn-day" name="hospitalIn-day" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="hospitalIn-month">
                                Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hospitalIn-month" name="hospitalIn-month" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="hospitalIn-year">
                                Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="hospitalIn-year" name="hospitalIn-year" type="text" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        What date did you leave hospital?
                    </h2>
                    </legend>

                    <div class="govuk-date-input">
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="hospitalOut-day">
                            Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hospitalOut-day" name="hospitalOut-day" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="hospitalOut-month">
                            Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hospitalOut-month" name="hospitalOut-month" type="text" inputmode="numeric">
                        </div>
                    </div>
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="hospitalOut-year">
                            Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="hospitalOut-year" name="hospitalOut-year" type="text" inputmode="numeric">
                        </div>
                    </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
            
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="hospital-name">
                    What is the name of the hospital?
                    </label>
                </h2>
                <input class="govuk-input" id="hospital-name" name="hospitalName" type="text">
            </div>
            
            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="hospital-location">
                    Which town, city or area is the hospital in?
                    </label>
                </h2>
                <input class="govuk-input" id="hospital-location" name="hospitalLocation" type="text">
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Was the hospital treatment provided by the NHS?
                    </h1>
                    </legend>

                    <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="hospitalNHS" name="hospitalNHS" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="hospitalNHS">
                        Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="hospitalNHS-2" name="hospitalNHS" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="hospitalNHS-2">
                        No
                        </label>
                    </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>


</div>
</div>

{% endblock %}
