
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Have you had any overnight stays in hospital since data['backdateDateString']?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>






        <form method="post" >
            <div class="govuk-form-group govuk-!-padding-top-7">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Have you had any other overnight stays in hospital between {{data.backdateDateString | govukDate}} and {{ "today" | govukDate}}
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="otherHospitalStays" name="otherHospitalStays" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="otherHospitalStays">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="otherHospitalStays-2" name="otherHospitalStays" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="otherHospitalStays-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
