

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check your personal details answers" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">About your nationality and immigration status</span>
      Check your answers
    </h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Your nationality
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.nationality}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>

      {% if data.settledStatus %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          What best describes your status in the UK?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.settledStatus}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data.settledPre73 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Did you start living in the UK before 1 January 1973?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.settledPre73}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data.rightToReside %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Do you have the right to live or work in the UK without any immigration restrictions?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.rightToReside}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data.lived6months %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Have you lived permanently in the UK for the last 6 months?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.lived6months}}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change <span class="govuk-visually-hidden">your date of birth</span></a>
        </dd>
      </div>
      {% endif %}

      
      

    </dl>
    <form method="post">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
  </div>
</div>
{% endblock %}
