{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [
    {
      text: 'Award',
      href: 'award',
      active: true if primaryNavSection === 'award'
    },
    {
      text: 'Application',
      href: 'application',
      active: true if primaryNavSection === 'application'
    },
    {
      text: 'Contact',
      href: 'contact',
      active: true if primaryNavSection === 'contact'
    },
    {
      text: 'History',
      href: 'history',
      active: true if primaryNavSection === 'history'
    },
    {
      text: 'Payment',
      href: 'payment',
      active: true if primaryNavSection === 'payment'
    }
  ]
}) }}
