{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Bank name" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h2 class="govuk-heading-l">Bank name</h2>

        <div class="govuk-body">
          Use <a href="#">Check Payment Account Details</a> and CPS to find the bank details we hold for the claimant's State Pension.
        </div>

        <div class="govuk-group">
          <dl class="govuk-summary-list govuk-!-margin-bottom-7">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
            Given in application
              </dt>
              <dd class="govuk-summary-list__value">
                Barclays
              </dd>
            </div>
        </div>

        <form method="post">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Did the claimant tell us the correct bank name in their application?
                </h1>
                    </legend>
<div id="signIn-hint" class="govuk-hint">
                </div>


                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="BankDetails" name="BankDetails" type="radio" value="yes"
                    {%if data['BankDetails']=="yes"%}checked="checked"{%endif%}>
                    <label class="govuk-label govuk-radios__label" for="BankDetails">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="BankDetails-2" name="BankDetails" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="BankDetails-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
