{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Living alone" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h2 class="govuk-heading-l">Living alone</h2>

        <div class="govuk-body">
            Check the claimant's address in Searchlight to see who is living there.
        </div>

        <div class="govuk-group">
          <dl class="govuk-summary-list govuk-!-margin-bottom-7">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
            Address
              </dt>
              <dd class="govuk-summary-list__value">
                34 Portland Terrace, NE2 1ST
              </dd>
            </div>
        </div>



    <!--    <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">People we know about</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name of person</th>
              <th scope="col" class="govuk-table__header">Relationship to claimant</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {%if data['claimantname1'] %}
            {% for i in range(1, data['PeopleCount']+1) -%}
              {% if data['claimantname'+i] != null%}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{data['claimantname'+(i)] }}</td>
                <td class="govuk-table__cell">{{data['relationship'+(i)] }}</td>
              </tr>
              {% endif %}
            {%- endfor %}
          {% else %}

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Angela Berry</th>
              <td class="govuk-table__cell">Daughter</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Shaun Ryder</th>
              <td class="govuk-table__cell">Grandson</td>
            </tr>

          {% endif %}
          </tbody>
        </table> -->

        <form method="post">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Is the claimant living alone?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="NonDependents" name="NonDependents" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="NonDependents">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="NonDependents-2" name="NonDependents" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="NonDependents-2">
                    No
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>


</div>
</div>

{% endblock %}
