{# Set which global nav link to highlight #}
{% set globalNavSection = 'tasks' %}

{% extends "../layout.njk" %}

{% set pageName = "Does the average represent the claimants income?" %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include '../partials/name/eric.njk' %}
        <p><a href="javascript:history.back()" class="govuk-back-link">Back</a></p>

        <h2 class="govuk-heading-l">PRUDENTIAL's pension payments</h2>

        <form method="post">
          <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Payment date (monthly)</th>
              <th scope="col" class="govuk-table__header">Net pay</th>
              <th scope="col" class="govuk-table__header">Selected for averaging</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1 June 2023</th>
              <td class="govuk-table__cell">£{{data['scenario3-pension1-net']}}</td>
              <td class="govuk-table__cell"><strong
                {% if data['scenario3-pension1-selected'] == "Yes" %}
                  class="govuk-tag govuk-tag--blue">
                {% else %}
                  class="govuk-tag govuk-tag--light-blue">
                {% endif %}
                {{data['scenario3-pension1-selected']}}
              </strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1 May 2023</th>
              <td class="govuk-table__cell">£ {{data['scenario3-pension2-net']}}</td>
              <td class="govuk-table__cell"><strong 
                {% if data['scenario3-pension2-selected'] == "Yes" %}
                  class="govuk-tag govuk-tag--blue">
                {% else %}
                  class="govuk-tag govuk-tag--light-blue">
                {% endif %}

                {{data['scenario3-pension2-selected']}}
              </strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1 April 2023</th>
              <td class="govuk-table__cell">£{{data['scenario3-pension3-net']}}</td>
              <td class="govuk-table__cell"><strong 
                
                {% if data['scenario3-pension3-selected'] == "Yes" %}
                  class="govuk-tag govuk-tag--blue">
                {% else %}
                  class="govuk-tag govuk-tag--light-blue">
                {% endif %}

                {{data['scenario3-pension3-selected']}}
              </strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1 March 2023</th>
              <td class="govuk-table__cell">£{{data['scenario3-pension4-net']}}</td>
              <td class="govuk-table__cell"><strong 
                {% if data['scenario3-pension4-selected'] == "Yes" %}
                  class="govuk-tag govuk-tag--blue">
                {% else %}
                  class="govuk-tag govuk-tag--light-blue">
                {% endif %}
                {{data['scenario3-pension4-selected']}}
              </strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1 February 2023</th>
              <td class="govuk-table__cell">£{{data['scenario3-pension5-net']}}</td>
              <td class="govuk-table__cell"><strong 
                {% if data['scenario3-pension5-selected'] == "Yes" %}
                  class="govuk-tag govuk-tag--blue">
                {% else %}
                  class="govuk-tag govuk-tag--light-blue">
                {% endif %}
                {{data['scenario3-pension5-selected']}}
              </strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">1 January 2023</th>
              <td class="govuk-table__cell">£{{data['scenario3-pension6-net']}}</td>
              <td class="govuk-table__cell"><strong 
                {% if data['scenario3-pension6-selected'] == "Yes" %}
                  class="govuk-tag govuk-tag--blue">
                {% else %}
                  class="govuk-tag govuk-tag--light-blue">
                {% endif %}
                {{ data['scenario3-pension6-selected'] }}
              </strong></td>
            </tr>
            


          </tbody>
        </table>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Does an average of £{{data['scenario3-pension-average']}} a month represent the claimant's income on the day the claim was submitted ({{data['claimSubmittedDate']}})?
              </h1>
            </legend>
            <div class="govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="pension3Complete" type="radio" value="yes"
                  {%if data['pension3Complete']=="yes"%}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="pension3Complete" type="radio" value="no"
                  {%if data['pension3Complete']=="no"%}checked="checked"{%endif%}
                >
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  No
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        

</div>
</div>

{% endblock %}
