{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'contact' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/mabel.njk' %}
    {% include './partials/tabs.njk' %}

  </div>
  <div class="govuk-grid-column-one-third">

    {{ dwpTimeline({
      title: "Contact timeline",
      events: [
        {
          state: "Thing 2",
          date: "11 August 2021"
        },
        {
          state: "Thing 1",
          date: "10 August 2021"
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}
