{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'change' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/mabel.njk' %}
    {% include './partials/tabs.njk' %}

    <h2 class="govuk-heading-m">Way to amend awards goes here</h2>
    <p class="govuk-body">Data segmentation still to be decided</p>

  </div>
</div>

{% endblock %}
