{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'history' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/mabel.njk' %}
    {% include './partials/tabs.njk' %}

    <ol class="hmrc-timeline">
      <li class="hmrc-timeline__event">
        <h2 class="hmrc-timeline__event-title">Change of telephone number</h2>
        <time class="hmrc-timeline__event-meta" datetime="2020-07-14">28 July 2023</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body">Telephone contact number changed from 07886 635 423 to 0191 446 1876</p>
        </div>
      </li>  
      <li class="hmrc-timeline__event">
        <h2 class="hmrc-timeline__event-title"><a href="award-detail">Award decision</a></h2>
        <time class="hmrc-timeline__event-meta" datetime="2020-07-14">21 June 2023</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body">An weekly award of £12.00 was made</p>
        </div>
      </li>      
      <li class="hmrc-timeline__event">
        <h2 class="hmrc-timeline__event-title">Claim processed</h2>
        <time class="hmrc-timeline__event-meta" datetime="2020-07-15">21 June 2023</time>
      </li>
      <li class="hmrc-timeline__event">
        <h2 class="hmrc-timeline__event-title">Application received</h2>
        <time class="hmrc-timeline__event-meta" datetime="2020-07-14">8 April 2023</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body"><a href="award-data">View application data</a></p>
        </div>
      </li>
      <li class="hmrc-timeline__event">
        <h2 class="hmrc-timeline__event-title"><a href="award-detail-1">Award decision</a></h2>
        <time class="hmrc-timeline__event-meta" datetime="2020-07-14">19 March 2023</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body">An weekly award of £0.00 was made</p>
        </div>
      </li>      
      <li class="hmrc-timeline__event">
        <h2 class="hmrc-timeline__event-title">Claim processed</h2>
        <time class="hmrc-timeline__event-meta" datetime="2020-07-15">19 March 2023</time>
      </li>
      <li class="hmrc-timeline__event">
        <h2 class="hmrc-timeline__event-title">Application received</h2>
        <time class="hmrc-timeline__event-meta" datetime="2020-07-14">14 February 2023</time>
        <div class="hmrc-timeline__event-content">
          <p class="govuk-body"><a href="award-data">View application data</a></p>
        </div>
      </li>

    </ol>



  </div>
</div>

{% endblock %}
