{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'payment' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/mabel.njk' %}
    {% include './partials/tabs.njk' %}

    <h2 class="govuk-heading-m">Payment details</h2>
    <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 45%"> Payment frequency</th>
            <td class="govuk-table__cell" style="width: 45%">Every four weeks</td>
            <td class="govuk-table__cell" style="width: 10%"><a href="change-frequency">
                <span class="govuk-link govuk-!-font-size-19">Change</span>
              </a></td>
          </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Next payment date</th>
              <td class="govuk-table__cell">16 August 2023</td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Next payment amount</th>
                <td class="govuk-table__cell">£93.88</td>
                <td class="govuk-table__cell"></td>
              </tr>

        </tbody>
      </table>

      <h2 class="govuk-heading-m">Payment history</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th class="govuk-table__header" scope="col" >Payment date</th>
              <th class="govuk-table__header" scope="col" >Amount</th>
              <th class="govuk-table__header" scope="col" >Status</th>
              <th class="govuk-table__header" scope="col" ><span class=" govuk-visually-hidden">Action</span></th>
            </tr>
          </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16 August 2023</td>
          <td class="govuk-table__cell">£93.88</td>
          <td class="govuk-table__cell" class="govuk-orange">Upcoming</class>
          </td>
          <td class="govuk-table__cell" style="text-align: right;"><a href="payment-detail-1">Details</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 July 2023</td>
          <td class="govuk-table__cell">£70.41</td>
          <td class="govuk-table__cell" class="govuk-orange">Paid</class>
          </td>
          <td class="govuk-table__cell" style="text-align: right;"><a href="payment-detail">Details</a></td>
        </tr>
        
      </tbody>
      </table>

  
 </div>
</div>

{% endblock %}
