{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'payment' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/mabel.njk' %}
    {% include './partials/tabs.njk' %}


    <p><a href="javascript:history.go(-1)" class="govuk-back-link">Back</a></p>

    <h2 class="govuk-heading-m">Payment details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment amount
          </dt>
          <dd class="govuk-summary-list__value">
            £93.88
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment period
          </dt>
          <dd class="govuk-summary-list__value">
            20 July 2023 to 16 August 2023
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment based on
          </dt>
          <dd class="govuk-summary-list__value">
            4 weeks of <a href="award-detail">award decision dated 21 June 2023</a>
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Upcoming
          </dd>
          
        </div>
      </dl>

      <h2 class="govuk-heading-m">Payment calculation</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Weekly award
          </dt>
          <dd class="govuk-summary-list__value">
            £23.47
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total deductions
          </dt>
          <dd class="govuk-summary-list__value">
            £0.00
          </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total adjustments
          </dt>
          <dd class="govuk-summary-list__value">
            £0.00
          </dd>
          
        </div>
      </dl>

      
            

  
 </div>
</div>

{% endblock %}
