{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'personal' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include './partials/name/mabel.njk' %}
    {% include './partials/tabs.njk' %}

    
      <h2 class="govuk-heading-m">Acting body</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 ">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Representative
          </dt>
          <dd class="govuk-summary-list__value">
            Dr John Turley
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation
          </dt>
          <dd class="govuk-summary-list__value">
            Guildford Borough Council
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Millmead House<br>
            Millmead<br>
            Guildford<br>
            Surrey<br>
            GU2 4BB
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            01483 505050
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email 
          </dt>
          <dd class="govuk-summary-list__value">
            john.turley1@guildford.gov.uk
          </dd>
        </div>
      </dl>
      
      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Mabel Stevens
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NI number
          </dt>
          <dd class="govuk-summary-list__value">
            QQ 12 34 56 X
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            12 April 1951
          </dd>
        </div>
      </dl>

     
      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            	55 Main Street<br>
              Guildford<br>
              GU79 6YW
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Correspondence address
          </dt>
          <dd class="govuk-summary-list__value">
            Dr John Turley<br>
            Millmead House<br>
            Millmead<br>
            Guildford<br>
            Surrey<br>
            GU2 4BB
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            	0191 446 1876
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            	mabel.stevens@gmail.com
          </dd>
        </div>
      </dl>

     
  </div>
</div>

{% endblock %}
