{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pension Credit: What you'll get
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Working, jobs and pensions",
        href: "#"
      },
      {
        text: "State Pension"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Pension Credit
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="overview.html">
                Overview
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="eligibility.html">
                Eligibility
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              
                What you'll get

            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="how-to-claim.html">
                How to claim
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="report-a-change.html">
                Report a change of circumstances
              </a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-l">
        What you'll get
      </h2>

      <p>You can continue to get Pension Credit for up to 26 weeks if:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>your weekly income to £218.15 if you’re single</li>
          <li>your joint weekly income to £332.95 if you have a partner</li>
      </ul>
      <p>You may get extra amounts if you have other responsibilities and costs.</p>
      <p>You may get extra amounts if you have other responsibilities and costs.</p>

      <h2 class="govuk-heading-m">If you have a severe disability</h2>
      <p>You could get an extra £81.50 a week if you get any of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>Attendance Allowance</li>
          <li>the middle or highest rate from the care component of Disability Living Allowance (<abbr title="Disability Living Allowance">DLA</abbr>)</li>
          <li>the daily living component of Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>)</li>
          <li>Armed Forces Independence Payment</li>
          <li>the daily living component of Adult Disability Payment (<abbr title="Adult Disability Payment">ADP</abbr>) at the standard or enhanced rate</li>
      </ul>

      <h2 class="govuk-heading-m">If you care for another adult</h2>
      <p>You could get an extra £45.60 a week if:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>you get Carer’s Allowance</li>
          <li>you get Carer Support Payment</li>
          <li>you’ve claimed Carer’s Allowance but are not being paid because you already get another benefit paying a higher amount</li>
      </ul>
      <p>If you and your partner have both claimed or are getting Carer’s Allowance, you can both get this extra amount.</p>

      <h2 class="govuk-heading-m">If you’re responsible for children or young people</h2>
      <p>You could get an extra £66.29 a week for each child or young person you’re responsible for. This is increased to £76.79 a week for the first child if they were born before 6 April 2017.</p>
      <p>The child or young person must normally live with you and be under the age of 20.</p>
      <p>If they’re 16 or over and under 20, they must be in (or accepted for):</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>approved training, such as Foundation Apprenticeships</li>
          <li>a course of non-advanced education (for example, they’re studying for GCSEs or A levels)</li>
      </ul>
      <p>If they’re in education, it must be for more than 12 hours a week on average.</p>
      <p>If you get Tax Credits, you cannot get this extra amount of Pension Credit for caring for a child. But you might be eligible for <a href="#">Child Tax Credits</a>.</p>
      <h3 class="govuk-heading-s">If the child or young person is disabled</h3>
      <p>If the child or young person is disabled, you could also get an extra amount of either:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>£35.93 a week if they get <abbr title="Disability Living Allowance">DLA</abbr>, <abbr title="Personal Independence Payment">PIP</abbr> or <abbr title="Adult Disability Payment">ADP</abbr>
        </li>
          <li>£112.21 a week if they’re blind or they get the highest rate care component of <abbr title="Disability Living Allowance">DLA</abbr> or <abbr title="Child Disability Payment">CDP</abbr>, or the enhanced daily living component of <abbr title="Personal Independence Payment">PIP</abbr> or <abbr title="Adult Disability Payment">ADP</abbr>
        </li>
      </ul>

      <h2 class="govuk-heading-m">If you have housing costs</h2>
      <p>You could get an extra amount to cover your housing costs, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>ground rent if your property is a leasehold</li>
        <li>some service charges</li>
        <li>charges for tents and site rents</li>
      </ul>
      <p>The amount you could get depends on your housing costs.</p>
      <p>If you get Pension Credit, you could also be eligible for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Council Tax Reduction</a></li>
        <li>
      <a href="#">Housing Benefit</a> if you rent the property you live in</li>
        <li>
      <a href="#">Support for Mortgage Interest</a> if you own the property you live in</li>
      </ul>

      <h2 class="govuk-heading-m">If you have savings or a second pension</h2>
      <p>You could get the ‘Savings Credit’ part of Pension Credit if both of the following apply:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you reached State Pension age before 6 April 2016</li>
        <li>you saved some money for retirement, for example a personal or workplace pension</li>
      </ul>
      <p>You’ll get up to £17.01 Savings Credit a week if you’re single. If you have a partner, you’ll get up to £19.04 a week.</p>
      <p>You might still get some Savings Credit even if you do not get the Guarantee Credit part of Pension Credit.</p>

      <h2 class="govuk-heading-m">Other help if you get Pension Credit</h2>
      <p>If you get Pension Credit you’ll automatically get <a href="#">cold weather payments</a>.</p>
      <p>You’ll also be eligible to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">apply for a free TV licence</a> if you’re aged 75 or over</li>
        <li><a href="#">get help with NHS costs</a> if you get the Guarantee Credit part of Pension Credit</li>
      </ul>
      <p>NHS costs can include things such as prescriptions, dental treatment, glasses and transport costs for hospital appointments.</p>


      <h2 class="govuk-heading-m">Find out how much you could get</h2>
      <p>Use the <a href="https://www.gov.uk/pension-credit/pension-credit-calculator">Pension Credit calculator</a> to work out how much you might get.</p>
      <p>Contact the Pension Service helpline if you’re not sure whether you’re eligible for extra amounts.</p>

      <div class="contact">
        <p>Pension Service helpline<br>
        Telephone: 0800 731 0469<br>
        Textphone: 0800 169 0133<br>
        <a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 731 0469<br>
        British Sign Language (BSL) <a href="#">video relay service</a> if you’re on a computer - find out how to <a href="#">use the service on mobile or tablet</a><br>
        Monday to Friday, 8am to 6pm (except public holidays)<br>
        <a href="#">Find out about call charges</a></p>
      </div>

      <h2 class="govuk-heading-m">How you’re paid</h2>
      <p>All benefits, pensions and allowances are usually <a href="#">paid into an account</a>, for example a bank account.</p>










      
      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "Eligibility",
          href: "eligibility.html"
        },
        next: {
          labelText: "How to claim",
          href: "how-to-claim"
        }
      }) }}


      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                The basic State Pension
              </a>
            </li>
            <li>
              <a href="#">
                Get help with benefits and pensions if you have accessibility needs
              </a>
            </li>
            <li>
              <a href="#">
                Going into a care home if you get benefits
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
