
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your nationality as shown on your passport or travel document?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post" action="bank-details">
           <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Tell us about your UK State Pension
                        </h1>  
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pension" name="pension" type="radio" value="British">
                            <label class="govuk-label govuk-radios__label" for="pension">
                             I am receiving my UK State Pension
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pension-2" name="pension" type="radio" value="Irish">
                            <label class="govuk-label govuk-radios__label" for="pension-2">
                            I have claimed my UK State Pension and I am waiting for the first payment
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pension-3" name="pension" type="radio" value="EEA">
                            <label class="govuk-label govuk-radios__label" for="pension-3">
                            I applied for a UK State Pension but I am not entitled to one
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="pension-4" name="pension" type="radio" value="something-else">
                            <label class="govuk-label govuk-radios__label" for="pension-4">
                            I have not applied for a UK State Pension
                            </label>
                        </div>
                     </div>
                   
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
