
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Have you had any overnight stays in hospital since data['backdateDateString']?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post" >
            <div class="govuk-form-group govuk-!-padding-top-7">
            
              <h1 class="govuk-heading-l">
                  Your estimated monthly income
              </h1>

              <p class="govuk-body">
                  We can use your estimated monthly income to check if you are likely to get any Pension Credit before you apply.
              </p>
              <p class="govuk-body">
                  To work out your total monthly income you should include:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>your State Pension</li>
                    <li>any occupational or private pensions</li>
                    <li>any money you get from working</li>
                  </ul>
              </p>
              <p class="govuk-body">
                Do not include money from other benefits or other help you may get.
              </p>
            
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    How much money do you {%if data['hasPartner'] == 'Yes, we live together'%}and your partner {%endif%}get each month?
                </h2>
                </legend>

                <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="incomeAmount" name="incomeAmount" type="radio" value="below">
                    <label class="govuk-label govuk-radios__label" for="incomeAmount">
                    Less than £{{ data['monthlyapplicableamount'] }}
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="incomeAmount-1" name="incomeAmount" type="radio" value="above">
                    <label class="govuk-label govuk-radios__label" for="incomeAmount-1">
                    More than £{{ data['monthlyapplicableamount'] }}
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="incomeAmount-2" name="incomeAmount" type="radio" value="below">
                    <label class="govuk-label govuk-radios__label" for="incomeAmount-2">
                    I'm not sure
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        
    </div>
</div>

{% endblock %}
