
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Have you had any overnight stays in hospital since data['backdateDateString']?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


        <div class="govuk-form-group govuk-!-padding-top-7">
            <h1 class="govuk-heading-l">You are unlikely to get any Pension Credit at this time</h1>
            <p class="govuk-body">Based on your answers and your estimated monthly income, you are unlikely to get any Pension Credit at this time</p>

              <p class="govuk-body">  To get Pension Credit your total weekly income must be less than £{{data['applicableamount']}} a week.</p>
            <p class="govuk-body">Based on your estimated monthly income your total weekly income is more than this.</p>
            <p class="govuk-body">
                You should apply again if:
                <ul class="govuk-list govuk-list--bullet">
                    <li>you start getting another benefit</li>
                  <li>someone starts or stops caring for you</li>
                    <li>your income changes</li>
                    <li>anyone moves into or out of your home</li>
                </ul>
            </p>
            <p class="govuk-body">
                You can close this tab, return to <a href="https://www.gov.uk/">the GOV.UK homepage</a>, or check what other
                benefits you could get by using a <a href="https://www.gov.uk/benefits-calculators">benefit calculator</a>.
            </p>
            <p class="govuk-body govuk-!-padding-bottom-7">
                If you still want to apply for Pension Credit you can <a href="eligibility-nationality">continue with
                your Pension Credit application</a>.
            </p>


        </div>





    </div>
</div>

{% endblock %}
