
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Have you had any overnight stays in hospital since data['backdateDateString']?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


        <div class="govuk-form-group govuk-!-padding-top-7">
            <h1 class="govuk-heading-l">You cannot apply for Pension Credit yet</h1>
            <p class="govuk-body">You can apply for Pension Credit up to 4 months before you reach your State Pension age.</p>
            
            
        </div>

    

  
        
    </div>
</div>

{% endblock %}
