
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Is your partner waiting for a decision about any of these benefits?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>

        <form method="post" >

        <div class="govuk-form-group govuk-!-padding-top-7">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Is your partner waiting for a decision about any of these benefits?
            </h1>
            </legend>
            <div id="countries-hint" class="govuk-hint">
Select each benefit that your partner has applied for and is waiting to find out if they are eligible.           </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">

            {%
            if data['PartnerBenefitsEntitled'].includes('AA')
            or data['PartnerBenefitsEntitled'].includes('DLA')
            or data['PartnerBenefitsEntitled'].includes('PIP')
            or data['PartnerBenefitsEntitled'].includes('ADP')
            or data['PartnerBenefitsEntitled'].includes('AFIP')
            or data['PartnerBenefitsEntitled'].includes('PADP')
            or data['PartnerBenefitsEntitled'].includes('CAA')
            %}
            {% else %}
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting" name="PartnerBenefitsAwaiting" type="checkbox" value="AA">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting">
                Attendance Allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-7" name="PartnerBenefitsAwaiting" type="checkbox" value="PADP">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-7">
                Pension Age Disability Payment
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-1" name="PartnerBenefitsAwaiting" type="checkbox" value="DLA">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-1">
                The middle or highest rate from the care component of Disability Living Allowance (DLA)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-2" name="PartnerBenefitsAwaiting" type="checkbox" value="PIP">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-2">
                The daily living component of Personal Independence Payment (PIP)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-3" name="PartnerBenefitsAwaiting" type="checkbox" value="ADP">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-3">
                The daily living component of Adult Disability Payment (ADP)
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-4" name="PartnerBenefitsAwaiting" type="checkbox" value="AFIP">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-4">
                Armed Forces Independence Payment
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-8" name="PartnerBenefitsAwaiting" type="checkbox" value="CAA">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-8">
                Constant Attendance Allowance
                </label>
            </div>
            {% endif %}

            {%
            if data['PartnerBenefitsEntitled'].includes('CSP')
            or data['PartnerBenefitsEntitled'].includes('CA')
            %}
            {% else %}
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-5" name="PartnerBenefitsAwaiting" type="checkbox" value="CA">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-5">
                Carer's allowance
                </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-6" name="PartnerBenefitsAwaiting" type="checkbox" value="CSP">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-6">
                Carer support payment
                </label>
            </div>
            {% endif %}

            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PartnerBenefitsAwaiting-none" name="PartnerBenefitsAwaiting" type="checkbox" value="none" data-behaviour="exclusive">
                <label class="govuk-label govuk-checkboxes__label" for="PartnerBenefitsAwaiting-none">
                None of these
                </label>
            </div>
            </div>
        </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

        </form>

    </div>
</div>

{% endblock %}
