

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Add another hospital stay" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
    <h1 class="govuk-heading-l govuk-!-padding-top-7">
      You have added {{data['ActualHospitalCount']}} hospital 
      {% if data['ActualHospitalCount'] == '1'%} stay {%else%} stays {% endif %}

    </h2>




    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">{% if data['HospitalCount'] == '1'%} Hospital stay {%else%} Hospital stays {% endif %}</th>
          <th scope="col" class="govuk-table__header"><div class="govuk-visually-hidden">Actions</div></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for i in range(1, data['HospitalCount']+1) -%}
          {% if data['hospitalIn'+i] != null%}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {% if data['HospitalStill'+i] == "No" %}
                <!--- standard dates --->
                {{data['hospitalIn'+(i)] }} to {{data['hospitalOut'+(i)]}}
              {% else %}
                {% if data['HospitalExpectedDischarge'+i] == "Yes" %}
                <!--- future discharge date --->
                {{data['hospitalIn'+(i)] }} to {{data['hospitalOut'+(i)]}}
                {% else %}
                <!--- no discharge date --->
                From {{data['hospitalIn'+(i)] }}
                {%endif%}
              {%endif%}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="hospital-change?hospital={{i}}">Change</a>  |  <a href="hospital-delete?hospital={{i}}">Delete</a></td>
          </tr>
          {% endif %}
        {%- endfor %}
      </tbody>
    </table>

    <form method="post" >
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Do you want to add another overnight stay in hospital?
                </h1>
                </legend>

                
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Hospitaladdanother" name="Hospitaladdanother" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="Hospitaladdanother">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Hospitaladdanother-2" name="Hospitaladdanother" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="Hospitaladdanother-2">
                    No
                    </label>
                </div>

                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>



  </div>
</div>

{% endblock %}
