

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Are they earning any money from work?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


    <form method="post" >
            <h1 class="govuk-heading-l">
              <span class="govuk-caption-l">About {{ data['currentName'] }} </span>
                Money they get from working
            </h1>
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                      Are they in employment?
                    </h2>
                  </legend>

                  <div class="govuk-radios govuk-radios-" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="inEmployment-1" name="inEmployment" type="radio" value="Yes, full time">
                        <label class="govuk-label govuk-radios__label" for="inEmployment-1">
                          Yes, full time
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="inEmployment-2" name="inEmployment" type="radio" value="Yes, part time">
                        <label class="govuk-label govuk-radios__label" for="inEmployment-2">
                          Yes, part time
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="inEmployment-3" name="inEmployment" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="inEmployment-3">
                        No
                        </label>
                    </div>
                  </div>
              </fieldset>
            </div>
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
              <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                      Are they self employed?
                    </h2>
                  </legend>

                  <div class="govuk-radios govuk-radios-" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="selfEmployed-1" name="selfEmployed" type="radio" value="Yes">
                        <label class="govuk-label govuk-radios__label" for="selfEmployed-1">
                          Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="selfEmployed-3" name="selfEmployed" type="radio" value="No">
                        <label class="govuk-label govuk-radios__label" for="selfEmployed-3">
                        No
                        </label>
                    </div>
                  </div>
              </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>



  </div>
</div>

{% endblock %}
