

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check these details" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row govuk-!-padding-top-7">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check these details</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['nondepName'+data['CurrentPerson']]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> their name</span></a>
            </dd>
          </div>

          {% if data['isRelative'+data['CurrentPerson']] == 'Yes' %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your relationship
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['relationship'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="nondep-are-relations">Change<span class="govuk-visually-hidden"> your relationship</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['nondepDOB'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> their date of birth</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are they registered blind or severley sight impaired?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['isBlind'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether they are registerd blind or severley sight impaired</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date you started living together
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['LiveTogetherDate'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">the date you started living together</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are they in education?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['inEducation'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">whether they are in eduction</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are they in employment?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['inEmployment'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether they are they earning any money from work</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are they self employed?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['selfEmployed'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether they are they earning any money from work</span></a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do they pay towards the rent or mortgage?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contribute'+data['CurrentPerson']]}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> whether they pay towards the rent or mortgage</span></a>
              </dd>
            </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your living situation
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['commercialRelationship'+data['CurrentPerson']]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">your living situation</span></a>
            </dd>
          </div>

          {% if data['commercialRelationship'+data['CurrentPerson']] == 'Someone from a charity or voluntary organisation' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of the charity
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['charityName'+data['CurrentPerson']]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          {% endif %}


        </dl>

        <form method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
