

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your housing situation?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


    <form method="post" >
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  <span class="govuk-caption-l">About {{ data['currentName'] }} </span>

                    What is your housing situation?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios" data-module="govuk-radios">

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="commercialRelationship-1" name="commercialRelationship" type="radio" value=" Joint tenants or owner occupiers">
                    <label class="govuk-label govuk-radios__label" for="commercialRelationship-1">
                    We are joint owners or joint tenants</br>
                    <span class="govuk-hint">Both your names are on the mortgage or tenancy agreement.</span>
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="commercialRelationship-2" name="commercialRelationship" type="radio" value="Individual tenants">
                    <label class="govuk-label govuk-radios__label" for="commercialRelationship-2">
                  We are individual tenants</br>
                    <span class="govuk-hint">You have your own agreements with the same landlord.</span>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="commercialRelationship" name="commercialRelationship" type="radio" value="Boarder, lodger or subtenant">
                    <label class="govuk-label govuk-radios__label" for="commercialRelationship">
                    They are my boarder, lodger or subtenant</br>
                    <span class="govuk-hint">They pay to share your home, or rent part of your property.</span>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="commercialRelationship-4" name="commercialRelationship" type="radio" value="Landlord or a member of their family">
                    <label class="govuk-label govuk-radios__label" for="commercialRelationship-4">
                  They are my landlord, or a member of my landlord's family<br>
                    <span class="govuk-hint">You pay to share their home, or rent part of their property.</span>

                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="commercialRelationship-3" name="commercialRelationship" type="radio" value="Someone from a charity or voluntary organisation">
                    <label class="govuk-label govuk-radios__label" for="commercialRelationship-3">They are from a charity or voluntary organisation
                  </br>
                    <span class="govuk-hint">They are paid, or volunteer to live in your home and care for you.</span>
                    </label>
                </div>
                 <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="commercialRelationship-5" name="commercialRelationship" type="radio" value="None of these">
                    <label class="govuk-label govuk-radios__label" for="commercialRelationship-5">
                    None of these
                    </label>
                </div>
                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>



  </div>
</div>

{% endblock %}
