

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Are they registerd blind or severley sight impaired?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>


    <form method="post" >
            <div class="govuk-form-group govuk-body govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                <span class="govuk-caption-l">About {{ data['currentName'] }} </span>
                Are they registered blind or severley sight impaired?
                </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="isBlind" name="isBlind" type="radio" value="Yes" {% if data['isBlind'+data['CurrentPerson']] == 'Yes' %}checked=checked{% endif %} >
                    <label class="govuk-label govuk-radios__label" for="isBlind">
                    Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="isBlind-2" name="isBlind" type="radio" value="No" {% if data['isBlind'+data['CurrentPerson']] == 'No' %}checked=checked{% endif %} >
                    <label class="govuk-label govuk-radios__label" for="isBlind-2">
                    No
                    </label>
                </div>

                </div>
            </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>



  </div>
</div>

{% endblock %}
