  <div class="govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-padding-top-4 govuk-!-margin-bottom-3">Great Britain statistics</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-overview-gb" class="govuk-link" rel="noreferrer noopener">Overview of online applications</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-times-gb" class="govuk-link" rel="noreferrer noopener" target="">Average processing times</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-monthly-gb" class="govuk-link" rel="noreferrer noopener" target="">Monthly data</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-further-action-gb" class="govuk-link" rel="noreferrer noopener" target="">Why applications required
      further action</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="stats-call-outcomes-gb" class="govuk-link" rel="noreferrer noopener" target="">Overview of call outcomes</a></p>
  </div>


  <div class="govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-padding-top-4 govuk-!-margin-bottom-3">Northern Ireland statistics</h3>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-overview-ni" class="govuk-link" rel="noreferrer noopener">Overview of online applications</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-times-ni" class="govuk-link" rel="noreferrer noopener" target="">Average processing times</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-monthly-ni" class="govuk-link" rel="noreferrer noopener" target="">Monthly data</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3"><a href="stats-further-action-ni" class="govuk-link" rel="noreferrer noopener" target="">Why applications required
      further action</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="stats-call-outcomes-ni" class="govuk-link" rel="noreferrer noopener" target="">Overview of call outcomes</a></p>

  </div>



  
  {# <div class="govuk-grid-row govuk-!-padding-top-2">
    <div class="govuk-grid-column-one-third">
     <nav class="moj-side-navigation govuk-!-padding-top-0" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="stats-overview-gb" aria-current="location">Overview of online applications</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="ur-mi-4">Average processing times</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="ur-mi-6">Monthly data</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="ur-mi-7">Why applications required further action</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#3">Overview of call outcomes</a>
        </li>
      </ul>
    </nav>
    </div>  #}
  
