{# Set which global nav link to highlight #}
{% set globalNavSection = 'telephone-claim' %}

{% extends "./layout.njk" %}

{% set pageName = "Get next tasks" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
