{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Your sponsorship details" %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">About your nationality and immigration status</span>
      Your sponsorship details
    </h1>

    <form method="post">
      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="sponsorName">
              What is the name of your sponsor?
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-20" id="sponsorName" name="sponsorName" type="text">
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="HOreference">
              What is your Home Office reference number?
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-20" id="HOreference" name="HOreference" type="text">
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="returnedtoUK-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What date was your sponsorship undertaking signed?
            </h1>
          </legend>
          <div id="returnedtoUK-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="returnedtoUK">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="sponsorshipSigned-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sponsorshipSigned-day"
                  name="sponsorshipSigned-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="sponsorshipSigned-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="sponsorshipSigned-month"
                  name="sponsorshipSigned-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="sponsorshipSigned-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="sponsorshipSigned-year"
                  name="sponsorshipSigned-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
          id="continue-button">
          Continue
        </button>
      </div>
    </form>

  </div>
</div>

{% endblock %}