
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "  Which account would you like us to pay your Pension Credit into?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}



<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- PRINT SCREEN DETAILS -->

<style>

  p {
    color: black;
  }
  /* #main-content > div > div > form > button {display: none} */
  /* #main-content > div > div > form > h1:nth-child(2) {display: none} */
  /* #main-content > div > div > button {display: none} */

  /* This is set to 0 globally for some reason, setting it back for this example */
  .govuk-summary-list {
    margin-bottom: 30px !important;
  }

  @media print {

    #main-content > div > div > form > div.govuk-panel.govuk-panel--confirmation.govuk-\!-margin-top-8.govuk-\!-margin-bottom-6 {
      margin:0%;
      padding:0%;
    }

    #main-content > div > div > form > div.govuk-panel.govuk-panel--confirmation.govuk-\!-margin-top-8.govuk-\!-margin-bottom-6 > h1 {
      color: black;
      text-align:left;
    }

    #main-content > p > span {display: none}
    body > div > div {display: none}
    body > div > div {display: none}


    .dont-print,
    .govuk-header__logo,
    .govuk-footer,
    .govuk-summary-list__actions {
      display: none;
    }
    .govuk-header__container {
      border: 0;
    }

    /* Use desktop layout for summary list */
    .govuk-summary-list {
      display:table;
      width:100%;
      table-layout:fixed;
      margin-bottom:30px
    }
    .govuk-summary-list__row {
      display:table-row
    }
    .govuk-summary-list__key,
    .govuk-summary-list__value {
      display:table-cell;
      padding-right:20px;
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #b1b4b6
    }
    .govuk-summary-list__key {
      width:30%
    }
    .govuk-summary-list__value {
      width:50%
    }
    .govuk-summary-list__value:last-child {
      width:70%
    }
  }
</style>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pdf" method="post" class="form">


<!-- -- -- -- -- -- -- Application sent -- -- -- -- -- -- -->
<div>
      {{ govukPanel({
          titleText: "Application sent [Applicant]",
          html: "Your reference number is your National Insurance number",
          classes:"govuk-!-margin-top-8"
        }) }}
</div>

<!-- -- -- -- -- -- -- WHAT HAPPENS NEXT -- -- -- -- -- -- -->

{% if
  data["doc-absence"] == "Yes" or
  data["uk-residence-status"] == "Something else" or
  data["uk-residence-status-partner"] == "Something else" or
  data["claimant-sight-impaired-check"] == "Yes" or
  data["partner-sight-impaired-check"] == "Yes" or
  data["home-care-home-check"] == "Yes" or
  data["home-equity-release"] == "Yes" or
  data["non-deps-living-with-you"] == "Yes" or
  data["self-employed"] == "Yes" or
  data["pension-foreign-check"] == "Yes" or
  data["pension-check"] == "Yes" or
  data["employment-other-money"] == "Yes" or
  data["money-total-risk-check"] == "High" or
  data["money-total-risk-check"] == "High" or
  data["money-total-risk-check"] == "High" or
  data["money-second-property-check"] == "Yes" or
  data["home-care-home-check-still-own"] == "Yes
  "%}

          <h3 class="govuk-heading-l">What happens next</h3>
          <p class="govuk-body">We need some more information for your application. We will contact you from 0800 023 2076 by <strong>DD / Month / Year (4 weeks) </strong>to ask you for more information about:</p>

          {% include "citizen-version-2-12/mvp/callback-list.html" %}


          {% elif data["terminally-ill"] == "Yes" %}
          <h3 class="govuk-heading-l">What happens next</h3>
          <p class="govuk-!-font-size-24">We will contact you by <strong>DD / Month / Year (Timescale TBC) </strong>. We will contact you by phone if you have provided a contact number, or by letter if you have only provided an address.</p>


          {% elif data["eu-filter"] == "Applied for settlement" %}

          <h3 class="govuk-heading-l">What happens next</h3>
          <p class="govuk-!-font-size-24">The EU Settlement Scheme will tell us once your status has been awarded. We will then contact you to check the details of your application.</p>
          <p class="govuk-!-font-size-24">If you hear from the EU Settlement Scheme before we contact you, you can call the Pension Credit claim line.</p>
          <h2 class="govuk-heading-m govuk-!-margin-top-4">Pension Credit claim line</h2>


          <!---- NORTHERN IDRLAND ---->{% if data['resides-in-uk'] == 'Northern-Ireland' %}

          <ul class="govuk-list govuk-list govuk-!-margin-bottom-4">
            <li>Telephone: 0808 100 6165</li>
            <li>Textphone (Text Relay): 0808 100 2198</li>
          </ul>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Monday to Friday, 10:00am to 4:00pm (closed on bank holidays).<br><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Contacting 08 and 03 numbers.</a></p>




            <!---- UK ---->{% else %}
              {% include "contact-deails-ni" %}
            <!---- COUNTRY END ---->{% endif %}

{% else %}

<h3 class="govuk-heading-l">What happens next</h3>
          <p class="govuk-body">(Backdated or today) We are doing some final checks on your application. </p>
            <p class="govuk-body">We will contact you by <strong>DD / Month / Year (4 weeks) </strong>. </p>
            <p class="govuk-body">We will contact you by letter if we can award your Pension Credit. If we need more information, we will contact you by phone if you have provided a contact number, or letter if you have only provided an address.</p>

<!--
          <p class="govuk-!-font-size-24">(Advance) We will need to ask you for some more information close to the date your claim is due to start. </p>
          <p class="govuk-!-font-size-24">We will contact you by  <strong>DD / Month / Year</strong> (Claim start date if more than 4 weeks in advance, 4 weeks if less than 4 weeks in advance). </p>
          <p class="govuk-!-font-size-24">We will contact you by phone if you have provided a contact number, or letter if you have only provided an address.</p>
-->
{% endif %}




<!-- -- -- -- -- -- -- TASKS -- -- -- -- -- -- -->

<div>
  {% if
    data["home-rent-ground-rent"] == "Yes" or
    data["home-shared-ground-rent"] == "Yes" or
    data["home-other-ground-rent"] == "Yes" or
    data["home-own-ground-rent"] == "Yes" or
    data["home-own-service-charges"] == "Yes" or
    data["home-other-service-charges"] == "Yes" or
    data["del-auth-secure-access-code-check"] == "No"
  %}
        <h2 class="govuk-heading-xm">What you need to do next</h2>


        <!-- -- -- -- -- -- -- SERVICE CHARGES GROUND RENT INSTRUCTIONS -- -- -- -- -- -- -->
        <div>
        {% if
          data["home-rent-ground-rent"] == "Yes" or
          data["home-shared-ground-rent"] == "Yes" or
          data["home-other-ground-rent"] == "Yes" or
          data["home-own-ground-rent"] == "Yes" or
          data["home-own-service-charges"] == "Yes" or
          data["home-other-service-charges"] == "Yes"
          %}

                      <!---- SERVICE CHARGE ONLY ---->
                      {% if
                        data["home-other-service-charges"] == "Yes" and
                        data["home-other-ground-rent"] == "No" or
                        data["home-own-service-charges"] == "Yes" and
                        data["home-own-ground-rent"] == "No"
                        %}
                        <h3 class="govuk-heading-s">Send us information about your service charges</h3>
                        <p class="govuk-body">Send us a copy of the most recent service charge invoice, with an itemised breakdown of charges.</p>
                      {% endif %}

                      <!---- GROUND RENT ONLY ---->
                      {% if
                        data["home-own-ground-rent"] == "Yes" and
                        data["home-own-service-charges"] == "No" or
                        data["home-rent-ground-rent"] == "Yes" or
                        data["home-shared-ground-rent"] == "Yes" or
                        data["home-other-ground-rent"] == "Yes" and
                        data["home-other-service-charges"] == "No"
                      %}
                      <h3 class="govuk-heading-s">Send us information about your ground rent</h3>
                      <p class="govuk-body">Send us a copy of the most recent ground rent invoice.</p>
                      {% endif %}

                      <!---- BOTH GROUND AND SERVICE ---->
                      {% if
                        data["home-own-service-charges"] == "Yes" and
                        data["home-own-ground-rent"] == "Yes" or
                        data["home-other-service-charges"] == "Yes" and
                        data["home-other-ground-rent"] == "Yes"
                      %}
                      <h3 class="govuk-heading-s">Send us information about your service charges and ground rent</h3>
                      <p class="govuk-body">Send us a copy of the most recent ground rent invoice and the most recent service charge invoice, with an itemised breakdown of charges.</p>
                      {% endif %}

        {% endif %}
        </div>
        </ul>

        <!---- POSTAL ADDRESS / UK / NI ---->

        <h3 class="govuk-heading-s">Post any requested documents to:</h3>

          {% if data["resides-in-uk"] == "Northern-Ireland" %}
              <div class="govuk-panel--address govuk-!-margin-top-2">
                <p class="govuk-body">
                  Northern Ireland Pension Centre<br>
                  Mail Opening Unit<br>
                  PO Box 42<br>
                  Limavady<br>
                  BT49 4AW</p>
            </div>

          {% else %}
              <div class="govuk-panel--address govuk-!-margin-top-2">
                <p class="govuk-body">
                  The Pension Service 4<br>
                  Mail Handling Site A<br>
                  Wolverhampton<br>
                  WV98 1AG</p>
              </div>
          {% endif %}

          <p class="govuk-body">Include the applicant's name and National Insurance number with anything you send. Any original documents will be returned to the address you have asked us to send any letters to.</p>

{% endif %}
</div>

<!-- -- -- -- -- -- -- PAYMENT ACCOUNT -- -- -- -- -- -- -->
{% if data["state-pension-status"] == "NoBank"%}

{% else %}

<div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dont-print">

<p class="govuk-heading-m govuk-!-margin-bottom-4">If your application is successful we will pay your Pension Credit into the same account as your State Pension.</p>
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will be able to change this to a different account once your Pension Credit is in payment.</p>
</div>
{% endif %}
<!-- -- -- -- -- -- -- HOUSING BENEFIT + NI -- -- -- -- -- -- -->
<div>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dont-print">
{% if
  data["home-rent-housing-benefit"] == "Yes HB" or
  data["home-other-housing-benefit"] == "Yes HB" or
  data["home-shared-housing-benefit"] == "Yes HB"
%}

<div class="govuk-!-margin-top-6">
<h2 class="govuk-heading-xm govuk-!-margin-bottom-3">Housing Benefit</h2>
<p class="govuk-body">You told us you are currently getting Housing Benefit. If your application for Pension Credit is successful, you will continue to get Housing Benefit as long as you are eligible. Your local authority will get in touch if anything changes.</p>
</div>

{% elif data["home-rent-housing-benefit-apply"] == "Yes" or
data["home-other-housing-benefit-apply"] == "Yes" or
data["home-shared-housing-benefit-apply"] == "Yes"
%}

<div class="govuk-!-margin-top-6">
<h2 class="govuk-heading-xm govuk-!-margin-bottom-3">Housing Benefit</h2>
<p class="govuk-body">If you pay rent for the place where you live, you might qualify for Housing Benefit. We will make this application for you using the details from your Pension Credit application. Your local authority will contact you.</p>
</div>
{% endif %}
</div>


<!-- -- -- -- -- -- -- COUNCIL TAX REDUCTION (UK) + RATES RELIEF (NI)-- -- -- -- -- -- -->
<div>
{% if data['resides-in-uk'] == 'Northern-Ireland' %}
  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-xm govuk-!-margin-bottom-3">Rate Relief</h2>
    <p class="govuk-body">If your application is successful, you might be able to claim Rate Relief. You should contact your local authority to apply.</p>
  </div>
{% else %}
  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-xm govuk-!-margin-bottom-3">Council Tax Reduction</h2>
    <p class="govuk-body">If your application is successful, you might be able to claim Council Tax Reduction. You should contact your local authority to apply.</p>
  </div>
{% endif %}
</div>

<!-- -- -- -- -- -- -- CARERS ALLOWANCE (UK) + (NI)-- -- -- -- -- -- -->
<div>
{% if data['resides-in-uk'] == 'Northern-Ireland' %}
  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-xm govuk-!-margin-bottom-3">Carer's Allowance</h2>
    <p class="govuk-body">You might be able to claim <a href="https://www.nidirect.gov.uk/articles/carers-allowance">Carer's Allowance</a> if you care for someone for 35 hours or more a week.</p>
  </div>

{% else %}
  <div class="govuk-!-margin-top-6">
    <h2 class="govuk-heading-xm govuk-!-margin-bottom-3">Carer's Allowance</h2>
    <p class="govuk-body">You might be able to claim
      <a href="https://www.gov.uk/carers-allowance">Carer's Allowance</a>if you care for someone for 35 hours or more a week.</p>
  </div>
{% endif %}
</div>

<!-- -- -- -- -- -- -- PRINT / SAVE -- -- -- -- -- -- -->
<div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dont-print">
    <h2 class="govuk-heading-xm govuk-!-margin-top-8 govuk-!-margin-bottom-3">Print or save</h2>

      <p class="govuk-body govuk-!-margin-bottom-2"><a href="#" onClick="window.print();return false">Print this page</a></p>
      <p class="govuk-body govuk-!-margin-bottom-6"><a href="#" onClick="window.print();return false">Save this page</a> (PDF, 100KB)</p>
</div>

<!-- -- -- -- -- -- -- SURVEY -- -- -- -- -- -- -->
<!-- <div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dont-print">
  <div class="govuk-!-margin-top-6 dont-print">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Help us improve Pension Credit</h2>
      <p class="govuk-body govuk-!-margin-bottom-8"><a href="https://getinvolved.dwp.gov.uk/digital/fa743129/start_preview?token=721b98c7019344093611254c9ffe7a1d4807b86f">Take a short survey</a></p>
  </div>
</div> -->

<!-- -- -- -- -- -- -- OIDV  -- -- -- -- -- -- -->

<div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible dont-print">
  <div class="govuk-!-margin-top-6 dont-print">
    <h2 class="govuk-heading-xm govuk-!-margin-bottom-3">Help us improve the Pension Credit online service</h2>
    <p class="govuk-body">To help us improve this service, we would like to ask you some other questions. These questions are optional but should only take around 3 minutes to complete.</p>
    <p class="govuk-body">Your answers will be anonymous and will not affect your application in any way.</p>
      <p class="govuk-body govuk-!-margin-bottom-8"><a href="oidv-who">Start survey</a></p>
  </div>
</div>

<!-- -- -- -- -- -- -- OIDV  -- -- -- -- -- -- -->

<!-- {{ govukButton({
name: "process-c-nil-task-list",
value: "UF",
checked: (data["process-c-nil-task-list"] == "UF"),
text: "Continue",
classes: "govuk-button",
href: "oidv-start-check"
}) }} -->


    </form>
  </div>
</div>
{% endblock %}
