
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Your partners nationality" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post">
           <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">


<h1 class="govuk-heading-l">
  Your partners nationality
</h1>





<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="f-rightToReside-hint">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

    Does your partner have the right to live or work in the UK without any immigration restrictions?

  </legend>


  <div id="f-rightToReside-hint" class="govuk-hint">
    You have this right if you have a British passport or are a British citizen or British subject with right of abode.
  </div>






    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="f-rightToReside" name="rightToReside" type="radio" value="yes" checked="" data-ga-question="Do you have the right to live or work in the UK without any immigration restrictions?" data-ga-answer="Yes">
      <label class="govuk-label govuk-radios__label" for="f-rightToReside">
        Yes
      </label>

    </div>








    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="f-rightToReside-2" name="rightToReside" type="radio" value="no" data-ga-question="Do you have the right to live or work in the UK without any immigration restrictions?" data-ga-answer="No">
      <label class="govuk-label govuk-radios__label" for="f-rightToReside-2">
        No
      </label>

    </div>




  </div>

</fieldset>

</div>

































<div class="govuk-form-group">

<fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

Has your partner lived permanently in the Common Travel Area for the last 6 months?
  </legend>

  <div id="f-rightToReside-hint" class="govuk-hint">
The Common Travel Area is the UK, Ireland, the Isle of Man and the Channel Islands.  </div>
  <div class="govuk-radios" data-module="govuk-radios">







    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="f-lived2Years" name="lived2Years" type="radio" value="yes" checked="" data-ga-question="Have you lived permanently in the UK for the last 2 years?" data-ga-answer="Yes">
      <label class="govuk-label govuk-radios__label" for="f-lived2Years">
        Yes
      </label>

    </div>








    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="f-lived2Years-2" name="lived2Years" type="radio" value="no" data-ga-question="Have you lived permanently in the UK for the last 2 years?" data-ga-answer="No">
      <label class="govuk-label govuk-radios__label" for="f-lived2Years-2">
        No
      </label>

    </div>




  </div>

</fieldset>

</div>









<button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button">
Continue
</button>


                </div>
        </form>
    </div>
</div>

{% endblock %}
