
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "  Which account would you like us to pay your Pension Credit into?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post">

          <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Protecting your identity</span>
            {% if data['benefitsGetting'].length == '1'%}
            Which account do we pay your {{ data['benefitsGetting'][0] }} into?
            {% else %}
            Please give us the details of a bank account your benefits are paid into
            {% endif %}
          </h1>    

          <div class="govuk-form-group">
              <label class="govuk-label" for="sort-code">
                  Sort code
              </label>
              <div id="sort-code-hint" class="govuk-hint">
                  Must be 6 digits long
              </div>
              <input class="govuk-input govuk-input--width-5 govuk-input--extra-letter-spacing" id="SP-sort-code" name="SP-sortcode" type="number" aria-describedby="sort-code-hint" inputmode="numeric">
          </div>

          <div class="govuk-form-group">
              <label class="govuk-label" for="account-number">
                  Account number
              </label>
              <div id="account-number-hint" class="govuk-hint">
                  Must be between 6 and 8 digits long
              </div>
              <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="account-number" name="SP-account" type="number" inputmode="numeric">
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
    </div>
</div>

{% endblock %}
