
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Have you applied for any of these DWP benefits in the past?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post">
           <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      
                        <h1 class="govuk-heading-l">
                          <span class="govuk-caption-l">Protecting your identity</span>
                          Have you applied for any of these DWP benefits in the past?
                        </h1>

                        <p id="countries-hint" class="govuk-hint">
    Select all the benefits you have applied for.
  </p>
                    </h2>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="pensionApplied" name="pensionApplied" type="checkbox" value="SP">
        <label class="govuk-label govuk-checkboxes__label" for="pensionApplied">
          State Pension
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="pensionApplied-2" name="pensionApplied" type="checkbox" value="PC">
        <label class="govuk-label govuk-checkboxes__label" for="pensionApplied-2">
          Pension Credit
        </label>
      </div>
      {% if data['benefitsGetting'].includes('AA')%}
      {% else %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="pensionApplied-3" name="pensionApplied" type="checkbox" value="AA">
        <label class="govuk-label govuk-checkboxes__label" for="pensionApplied-3">
          Attendance Allowance
        </label>
      </div>
      {% endif %}

      {% if data['benefitsGetting'].includes('CA')%}
      {% else %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="pensionApplied-3" name="pensionApplied" type="checkbox" value="CA">
        <label class="govuk-label govuk-checkboxes__label" for="pensionApplied-3">
          Carer's Allowance
        </label>
      </div>
      {% endif %}
      <div class="govuk-checkboxes__divider">or</div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="pensionApplied-5" name="pensionApplied" type="checkbox" value="none" data-behaviour="exclusive">
        <label class="govuk-label govuk-checkboxes__label" for="pensionApplied-5">
        None of these
        </label>
      </div>
    </div>
  </fieldset>
</div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
