

{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "Check these details" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<a href="bank" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper  govuk-main-wrapper--auto-spacing" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">





<h1 class="govuk-heading-xl">Check your answers before sending your application</h1>




  <h2 class="govuk-heading-l" id="heading-applicant-details">Applicant details</h2>



  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Which country do you live in?
          </dt>
          <dd class="govuk-summary-list__value">
            England
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/country-you-live-in?edit&amp;editorigin=/check-your-answers#f-countryOfResidence">Change <span class="govuk-visually-hidden">which country you live in</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is your date of birth?
          </dt>
          <dd class="govuk-summary-list__value">
            12 February 1950
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/date-of-birth?edit&amp;editorigin=/check-your-answers#f-dateOfBirth%5Bdd%5D">Change <span class="govuk-visually-hidden">your date of birth</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is your nationality?
          </dt>
          <dd class="govuk-summary-list__value">
      French
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/nationality">Change <span class="govuk-visually-hidden">your nationality</span></a>

            </dd>

        </div>

        <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    What best describes your status in the UK?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    I have settled or pre-settled settled status
                  </dd>

                    <dd class="govuk-summary-list__actions">

                        <a class="govuk-link govuk-link--no-visited-state" href="/applicant-status?edit&amp;editorigin=/check-your-answers#f-applicantStatus">Change <span class="govuk-visually-hidden">what best describes your status in the UK</span></a>

                    </dd>

                </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you have a partner?
          </dt>
          <dd class="govuk-summary-list__value">
            No, I do not have a partner
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/live-with-partner?edit&amp;editorigin=/check-your-answers#f-havePartner">Change <span class="govuk-visually-hidden">whether you have a partner</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
Which of these benefits do you get?                  </dt>
                  <dd class="govuk-summary-list__value">
                  State Pension
                  </dd>

                    <dd class="govuk-summary-list__actions">

                        <a class="govuk-link govuk-link--no-visited-state" href="/applicant-status?edit&amp;editorigin=/check-your-answers#f-applicantStatus">Change <span class="govuk-visually-hidden">what best describes your status in the UK</span></a>

                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key govuk-!-width-one-half">
                    Which account do we pay your State Pension into?

                  </dt>
                  <dd class="govuk-summary-list__value">
                    12345678<br>
                    12 34 56
                  </dd>

                    <dd class="govuk-summary-list__actions">

                        <a class="govuk-link govuk-link--no-visited-state" href="/claimed-state-pension?edit&amp;editorigin=/check-your-answers#f-declaredStatePensionStatus">Change <span class="govuk-visually-hidden">what you want to tell us about your UK State Pension</span></a>

                    </dd>

                </div>

              



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Have you been outside the UK for a period of more than four weeks since 26 January 2024?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/abroad?edit&amp;editorigin=/check-your-answers#f-abroadMoreThan4Weeks">Change <span class="govuk-visually-hidden">whether you been outside the UK for a period of more than four weeks since 26 January 2024</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            How many periods of more than 4 weeks have you spent outside the UK since 26 January 2024?
          </dt>
          <dd class="govuk-summary-list__value">
            More than one
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/periods-abroad?edit&amp;editorigin=/check-your-answers#f-periodsAbroad">Change <span class="govuk-visually-hidden">how many periods of more than 4 weeks you have spent outside the UK since 26 January 2024</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Were any of the periods you spent outside the UK connected to medical treatment or the death of a partner or child?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/abroad-medical?edit&amp;editorigin=/check-your-answers#f-periodAbroadForMedical">Change <span class="govuk-visually-hidden">whether any of the periods you spent outside the UK were connected to medical treatment or the death of a partner or child</span></a>

            </dd>

        </div>











        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is your National Insurance number?
          </dt>
          <dd class="govuk-summary-list__value">
            JS 12 34 56 D
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/national-insurance?edit&amp;editorigin=/check-your-answers#f-nino">Change <span class="govuk-visually-hidden">your National Insurance number</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is your name?
          </dt>
          <dd class="govuk-summary-list__value">
            Eric James Munroe
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/your-name?edit&amp;editorigin=/check-your-answers#f-firstName">Change <span class="govuk-visually-hidden">your name</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are you registered blind or severely sight impaired?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/registered-blind?edit&amp;editorigin=/check-your-answers#f-registeredBlind">Change <span class="govuk-visually-hidden">whether you are registered blind or severely sight impaired</span></a>

            </dd>

        </div>






  </dl>


  <h2 class="govuk-heading-l" id="heading-time-spent-in-hospital">Time spent in hospital</h2>







  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are you currently staying overnight in hospital?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/hospital-overnight?edit&amp;editorigin=/check-your-answers#f-hospitalOvernight">Change <span class="govuk-visually-hidden">whether you are currently staying overnight in hospital</span></a>

            </dd>

        </div>




  </dl>


  <h2 class="govuk-heading-l" id="heading-housing-details">Housing details</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you live permanently in a care home?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/care-home?edit&amp;editorigin=/check-your-answers#f-permanentlyInCareHome">Change <span class="govuk-visually-hidden">whether you live permanently in a care home</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Your home address
          </dt>
          <dd class="govuk-summary-list__value">
            227 WINDHILL OLD ROAD<br>BRADFORD<br>BD10 0TR
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/address-choice?edit&amp;editorigin=/check-your-answers#f-uprn">Change <span class="govuk-visually-hidden">your home address</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are you responsible for paying the rent or Council Tax for the place where you live?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/rent-council-tax-rates?edit&amp;editorigin=/check-your-answers#f-responsibleForCouncilTax">Change <span class="govuk-visually-hidden">whether you are responsible for paying the rent or Council Tax for the place where you live</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Which best describes the place where you live?
          </dt>
          <dd class="govuk-summary-list__value">
            You own it
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/home-ownership?edit&amp;editorigin=/check-your-answers#f-homeOwnership">Change <span class="govuk-visually-hidden">which best describes the place where you live</span></a>

            </dd>

        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you pay any service charges?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/service-charges?edit&amp;editorigin=/check-your-answers#f-paysServiceCharges">Change <span class="govuk-visually-hidden">whether you pay any service charges</span></a>

            </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you pay ground rent?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/ground-rent?edit&amp;editorigin=/check-your-answers#f-paysGroundRent">Change <span class="govuk-visually-hidden">whether you pay ground rent</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you have a mortgage or loan secured against your home?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/mortgage?edit&amp;editorigin=/check-your-answers#f-hasMortgage">Change <span class="govuk-visually-hidden">whether you have a mortgage or loan secured against your home</span></a>

            </dd>

        </div>









        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you have any money or income from an equity release scheme?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/equity-release?edit&amp;editorigin=/check-your-answers#f-equityRelease">Change <span class="govuk-visually-hidden">whether you have any money or income from an equity release scheme</span></a>

            </dd>

        </div>






  </dl>


  <h2 class="govuk-heading-l" id="heading-other-people-that-live-with-you">Other people that live with you</h2>









































  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are you responsible for any children or qualifying young people who live with you?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/children-living-with-you?edit&amp;editorigin=/check-your-answers#f-hasChildren">Change <span class="govuk-visually-hidden">whether you’re responsible for any children or qualifying young people who live with you</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Does anyone else who is over 18 live with you?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, one person
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/does-anyone-else-live-with-you?edit&amp;editorigin=/check-your-answers#f-doesAnyoneElseLiveWithYou">Change <span class="govuk-visually-hidden">whether anyone else who is over 18 lives with you</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is your relationship to the person that lives with you?
          </dt>
          <dd class="govuk-summary-list__value">
            A close relative or friend
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/relationship?edit&amp;editorigin=/check-your-answers#f-relationship">Change <span class="govuk-visually-hidden">your relationship to the person that lives with you</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Who is this person?
          </dt>
          <dd class="govuk-summary-list__value">
            Son
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/relationship?edit&amp;editorigin=/check-your-answers#f-whoIsThisPerson">Change <span class="govuk-visually-hidden">who this person is</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is their full name?
          </dt>
          <dd class="govuk-summary-list__value">
            David Munroe
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personFullName">Change <span class="govuk-visually-hidden">David Munroe’s full name</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is their date of birth?
          </dt>
          <dd class="govuk-summary-list__value">
            13 February 1978
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personDateOfBirth">Change <span class="govuk-visually-hidden">David Munroe’s date of birth</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            When did you start living together?
          </dt>
          <dd class="govuk-summary-list__value">
            1 June 2008
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personStartedLivingTogether">Change <span class="govuk-visually-hidden">the date you and David Munroe started living together</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do they pay towards the rent or mortgage?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personPaysTowardsRentOrMortgage">Change <span class="govuk-visually-hidden">whether David Munroe pays towards the rent or mortgage</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are they in education?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personInEducation">Change <span class="govuk-visually-hidden">whether David Munroe is in education</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are they in employment?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, full time
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personInEmployment">Change <span class="govuk-visually-hidden">whether David Munroe is in employment</span></a>

            </dd>

        </div>







        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are they self-employed?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personIsSelfEmployed">Change <span class="govuk-visually-hidden">whether David Munroe is self-employed</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Are they registered blind or severely sight impaired?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/person-details?edit&amp;editorigin=/check-your-answers#f-personRegisteredBlind">Change <span class="govuk-visually-hidden">whether David Munroe is registered blind or severely sight impaired</span></a>

            </dd>

        </div>




  </dl>


  <h2 class="govuk-heading-l" id="heading-benefits">Benefits</h2>









  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Does anyone get Carer Support Payment or the Carer’s Element of Universal Credit for looking after you?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/carers?edit&amp;editorigin=/check-your-answers#f-anyoneGetCarers">Change <span class="govuk-visually-hidden">whether anyone gets Carer Support Payment or the Carer’s Element of Universal Credit for looking after you?</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Have you applied for any benefits that you are waiting to hear about?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/benefits?edit&amp;editorigin=/check-your-answers#f-waitingToHearAboutBenefits">Change <span class="govuk-visually-hidden">whether you have applied for any benefits that you are waiting to hear about</span></a>

            </dd>

        </div>




  </dl>


  <h2 class="govuk-heading-l" id="heading-employment-and-income">Employment and income</h2>

















  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you have any income from employment?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/employment?edit&amp;editorigin=/check-your-answers#f-hasEmploymentIncome">Change <span class="govuk-visually-hidden">whether you have any income from employment</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Have you had any income from self-employment since 25 October 2023?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/self-employment?edit&amp;editorigin=/check-your-answers#f-hasSelfEmploymentIncome">Change <span class="govuk-visually-hidden">whether you have had any income from self-employment</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Have you paid into any non-UK pensions?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/non-uk-pensions?edit&amp;editorigin=/check-your-answers#f-hasNonUKPensions">Change <span class="govuk-visually-hidden">whether you have paid into any non-UK pensions</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Have you paid into any UK personal pensions that you have not taken yet?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/personal-pensions?edit&amp;editorigin=/check-your-answers#f-hasPersonalPensions">Change <span class="govuk-visually-hidden">whether you have paid into any UK personal pensions that you have not taken yet</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you receive any other regular income or payments?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/other-income?edit&amp;editorigin=/check-your-answers#f-hasOtherIncome">Change <span class="govuk-visually-hidden">whether you receive any other regular income or payments</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Tell us what this income is, how much you are paid and how often it is paid
          </dt>
          <dd class="govuk-summary-list__value">
            Board from Son £500 a month
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/other-income?edit&amp;editorigin=/check-your-answers#f-otherIncomeDetails">Change <span class="govuk-visually-hidden">what this income is, how much you are paid and how often it is paid</span></a>

            </dd>

        </div>


  </dl>


  <h2 class="govuk-heading-l" id="heading-money">Money</h2>











  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Tell us what accounts or investments you have
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--spaced">
                 <li>Current, savings or deposit accounts with a bank, building society, credit union or the Post Office</li>
               </ul>
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/money-types?edit&amp;editorigin=/check-your-answers#f-moneyTypes">Change <span class="govuk-visually-hidden">what accounts or investments you have</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is the total amount of money you have today?
          </dt>
          <dd class="govuk-summary-list__value">
            £356.00
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/money-today?edit&amp;editorigin=/check-your-answers#f-moneyToday">Change <span class="govuk-visually-hidden">the total amount of money you have today</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you own any property or land other than the home you live in?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/second-property?edit&amp;editorigin=/check-your-answers#f-hasSecondProperty">Change <span class="govuk-visually-hidden">whether you own any property or land other than the home you live in</span></a>

            </dd>

        </div>


  </dl>


  <h2 class="govuk-heading-l" id="heading-applicant-s-residency-in-the-uk">Applicant’s residency in the UK</h2>







  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you have the right to live or work in the UK without any immigration restrictions?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/your-nationality?edit&amp;editorigin=/check-your-answers#f-rightToReside">Change <span class="govuk-visually-hidden">whether you have the right to live or work in the UK without any immigration restrictions</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Have you lived permanently in the UK for the last 2 years?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/your-nationality?edit&amp;editorigin=/check-your-answers#f-lived2Years">Change <span class="govuk-visually-hidden">whether you have lived permanently in the UK for the last 2 years</span></a>

            </dd>

        </div>


  </dl>
<h2 class="govuk-heading-l" id="heading-applicant-s-residency-in-the-uk">Applicant’s residency in the UK</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Do you have the right to live or work in the UK without any immigration restrictions?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/your-nationality?edit&amp;editorigin=/check-your-answers#f-rightToReside">Change <span class="govuk-visually-hidden">whether you have the right to live or work in the UK without any immigration restrictions</span></a>

              </dd>

          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Have you lived permanently in the UK for the last 2 years?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/your-nationality?edit&amp;editorigin=/check-your-answers#f-lived2Years">Change <span class="govuk-visually-hidden">whether you have lived permanently in the UK for the last 2 years</span></a>

              </dd>

          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              At any time, have you come to live in the UK or returned to the UK to live from abroad?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/returned-to-uk?edit&amp;editorigin=/check-your-answers#f-cameToUk">Change <span class="govuk-visually-hidden">whether you have come to live in the UK or returned to the UK to live from abroad</span></a>

              </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              What is your nationality?
            </dt>
            <dd class="govuk-summary-list__value">
              French
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/nationality-details?edit&amp;editorigin=/check-your-answers#f-nationality">Change <span class="govuk-visually-hidden">your nationality</span></a>

              </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Which country have you come from?
            </dt>
            <dd class="govuk-summary-list__value">
              France
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/nationality-details?edit&amp;editorigin=/check-your-answers#f-country">Change <span class="govuk-visually-hidden">which country have you come from</span></a>

              </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              What date did you last come to the UK?
            </dt>
            <dd class="govuk-summary-list__value">
              12 February 2018
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/nationality-details?edit&amp;editorigin=/check-your-answers#f-lastCameToUk%5Bdd%5D">Change <span class="govuk-visually-hidden">what date you last came to the UK</span></a>

              </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Did you come to the UK to work?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/nationality-details?edit&amp;editorigin=/check-your-answers#f-cameToUkToWork">Change <span class="govuk-visually-hidden">whether you came to the UK to work</span></a>

              </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Does your passport say you have no recourse to public funds?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/nationality-details?edit&amp;editorigin=/check-your-answers#f-noRecourseToPublicFunds">Change <span class="govuk-visually-hidden">whether your passport says you have no recourse to public funds</span></a>

              </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Have you lived in the UK before?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/nationality-details?edit&amp;editorigin=/check-your-answers#f-livedInUkBefore">Change <span class="govuk-visually-hidden">whether you have lived in the UK before</span></a>

              </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Have you come to the UK under the Family Reunion Scheme?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/nationality-details?edit&amp;editorigin=/check-your-answers#f-familyReunionScheme">Change <span class="govuk-visually-hidden">whether you came to the UK under the Family Reunion Scheme</span></a>

              </dd>

          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Did you come to the UK on a sponsorship undertaking?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/uk-sponsorship?edit&amp;editorigin=/check-your-answers#f-sponsorshipUndertaking">Change <span class="govuk-visually-hidden">whether you came to the UK on a sponsorship undertaking</span></a>

              </dd>

          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Are you an asylum seeker?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>

              <dd class="govuk-summary-list__actions">

                  <a class="govuk-link govuk-link--no-visited-state" href="/asylum-seeker?edit&amp;editorigin=/check-your-answers#f-asylumSeeker">Change <span class="govuk-visually-hidden">whether you are an asylum seeker</span></a>

              </dd>

          </div>

    </dl>


  <h2 class="govuk-heading-l" id="heading-contact-details">Contact details</h2>


  <dl class="govuk-summary-list govuk-!-margin-bottom-6">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Which of these best describes you?
          </dt>
          <dd class="govuk-summary-list__value">
            You are claiming Pension Credit for yourself
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/who-made-claim?edit&amp;editorigin=/check-your-answers#f-whoMadeClaim">Change <span class="govuk-visually-hidden">which of these best describes you</span></a>

            </dd>

        </div>









        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you have a contact telephone number?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/contact-number?edit&amp;editorigin=/check-your-answers#f-hasContactNumber">Change <span class="govuk-visually-hidden">whether you have a contact telephone number</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What is your contact telephone number?
          </dt>
          <dd class="govuk-summary-list__value">
            01234689123
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/contact-number?edit&amp;editorigin=/check-your-answers#f-contactTelephone">Change <span class="govuk-visually-hidden">your contact telephone number</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What language do you want us to speak to you in?
          </dt>
          <dd class="govuk-summary-list__value">
            English
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/language?edit&amp;editorigin=/check-your-answers#f-preferredLanguage">Change <span class="govuk-visually-hidden">what language you want us to speak to you in</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Do you need us to use any different formats when we contact you by letter or phone?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/different-formats?edit&amp;editorigin=/check-your-answers#f-needsDifferentFormats">Change <span class="govuk-visually-hidden">whether you need us to use any different formats when we contact you by letter or phone</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            What address should we send letters to?
          </dt>
          <dd class="govuk-summary-list__value">
            Your home address
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/letter-address?edit&amp;editorigin=/check-your-answers#f-letterAddress">Change <span class="govuk-visually-hidden">whether we should send letters to your home address or a different address</span></a>

            </dd>

        </div>





        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Should we send an email to confirm you have submitted an application?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/email-address?edit&amp;editorigin=/check-your-answers#f-wantsConfirmationEmail">Change <span class="govuk-visually-hidden">if we should send an email to confirm you have submitted an application</span></a>

            </dd>

        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            matt.hall1@dwp.gov.uk
          </dd>

            <dd class="govuk-summary-list__actions">

                <a class="govuk-link govuk-link--no-visited-state" href="/email-address?edit&amp;editorigin=/check-your-answers#f-emailAddress">Change <span class="govuk-visually-hidden">the email address</span></a>

            </dd>

        </div>


  </dl>




  <div class="print-hidden govuk-!-margin-top-9">
    <p class="govuk-body">
      If you are happy with the answers you have given, you can either print them out or save them to your computer, tablet or mobile phone.
    </p>
    <p class="govuk-body">
      If you change anything you will need to print or save a new copy.
    </p>

    <div class="pc-print-button-section">

<button class="govuk-button govuk-button--secondary" data-module="pc-print-button">
  Print your answers
</button>

    </div>

    <p class="govuk-body govuk-!-margin-bottom-9">

<a href="/save-claim" class="govuk-link govuk-link--no-visited-state" data-module="pc-save-link">Save a copy of your answers</a>
<span>(PDF, 512KB)</span>
    </p>
  </div>




<form action="/check-your-answers" method="post" autocomplete="off" novalidate="" class="casa-journey-form">
  <input type="hidden" name="_csrf" value="78e7eb251acba89123c41e0f98e31873454b5ef3c9a97be88e4bcd7d2f1c3531bae9b884d78530451247ab260cdb201ad9b0f90556c24c64dac11a2265eb017b459bb9f0d6c24663cceee761d97fbcc8db4ef1ac144f37c38db03b51072036381e07995e8ba6f98b03b413486df59b4e03da709ecc01bec160ea68ef3774be91">


  <input type="hidden" name="contextid" value="default">










<button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="continue-button">
  Continue
</button>





</form>



      </div>
    </div>




    <div class="govuk-grid-row pc-assisted-digital">
      <div class="govuk-grid-column-two-thirds">
        <aside class="govuk-!-margin-bottom-5">
          <h2 class="govuk-heading-m">
            Get help with your application
          </h2>





  <dl class="govuk-body contact-numbers">
    <div>
      <dt>Telephone: 0800 99 1234</dt>

    </div>
    <div>
      <dt>Textphone: 0800 169 0133</dt>

    </div>
  </dl>
  <p class="govuk-body">
    If you cannot hear or speak on the phone, use <br><a class="govuk-link" href="https://www.relayuk.bt.com" target="_blank" rel="noopener noreferrer">Relay UK (opens in a new tab)</a>: 18001 then 0800 99 1234
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP" target="_blank" rel="noopener noreferrer">Video relay service (opens in a new tab)</a> for British Sign Language (BSL) users - <a class="govuk-link" href="https://www.youtube.com/watch?v=oELNMfAvDxw" target="_blank" rel="noopener noreferrer">check you can use this service (opens in a new tab)</a>
  </p>
  <p class="govuk-body">
    Monday to Friday, 8:30am to 6pm (closed on bank holidays).<br> <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
  </p>


        </aside>
      </div>
    </div>


        </main>


</div>

</form>



{% endblock %}
