
{% set serviceName = 'Apply for Pension Credit' %}
{% extends "/layouts/main.html" %}

{% set pageName = "What is your nationality as shown on your passport or travel document?" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p><a href="javascript:history.back()" class="govuk-back-link govuk-!-static-margin-0">Back</a></p>
        <form method="post">
            <h1 class="govuk-heading-l">
    The quickest way for DWP to contact you is by phone
            </h1>

            <p class="govuk-body">We may need to call you:</p>
            <ul class="govuk-list govuk-list--bullet">
          <li>about your Pension Credit application</li>
              <li>in the future, if we pay you Pension Credit or another DWP benefit</li></ul>

            <div class="govuk-form-group">

                <h1 class="govuk-heading-m">
                    Which phone number should we use to contact you?

                <div id="phone-hint" class="govuk-hint">
                    You can provide more than one.
                </div></h1>

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="event-name">
                        Home phone number
                        </label>
                    </h1>
                    <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="number">
                </div>


                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="event-name">
                        Mobile phone number
                        </label>
                    </h1>
                    <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="number">
                </div>

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="event-name">
                        Work phone number
                        </label>
                    </h1>
                    <input class="govuk-input govuk-input--width-20" id="event-name" name="eventName" type="number">
                </div>


            </div>

            <div class="govuk-form-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>

         <div class="govuk-form-group">
         <p class="govuk-body"><a href="phone">Alternative version</a></p>

    </div>
</div>

{% endblock %}
{% block pageScripts %}
<script>
   function hideShow(element){
    var type = document.getElementById(element);

    if (type.style.display === "none") {
        type.style.display = "block";
    } else {
        type.style.display = "none";
    }
   };
</script>
{% endblock %}
