{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You cannot apply for Pension Credit online
      </h1>

      <p class="govuk-body-l">
        You should <a class="govuk-link" href="https://www.gov.uk/new-state-pension/how-to-claim">claim your State Pension</a> first if you are entitled to one.
      </p>

      <h2 class="govuk-heading-m">
        If you are not entitled to a State Pension call the Pension Credit claim line.
      </h2>
      



  <dl class="govuk-body contact-numbers">
    <div>
      Telephone: 0800 99 1234
    </div>
    <div>
      Textphone: 0800 169 0133
    </div>
  </dl>

  <p class="govuk-body">
    If you cannot hear or speak on the phone, use <br><a class="govuk-link" href="https://www.relayuk.bt.com" target="_blank" rel="noopener noreferrer">Relay UK (opens in a new tab)</a>: 18001 then 0800 99 1234
  </p>
  <p class="govuk-body">
    <a id="gb-bsl" class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP" target="_blank" rel="noopener noreferrer">Video relay service (opens in a new tab)</a> for British Sign Language (BSL) users - <a class="govuk-link" href="https://www.youtube.com/watch?v=oELNMfAvDxw" target="_blank" rel="noopener noreferrer">check you can use this service (opens in a new tab)</a>
  </p>
  <p class="govuk-body">
    Monday to Friday, 8am to 6pm (closed on bank holidays).<br> <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
  </p>



      <h2 class="govuk-heading-m">
        Help us improve Pension Credit
      </h2>
      <p class="govuk-body">
        <a class="govuk-link" href="https://forms.office.com/e/7P6urUqd7d">
          Take a short survey
        </a>
      </p>
    </div>
  </div>

{% endblock %}
