{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2><a class="govuk-link" href="/v4/scenario">Version 4</a></h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Update to include couples and security checks into the citizens record ready for November release</li>
      

    </ul>

    <h2><a class="govuk-link" href="/v3/find-someone">Version 3</a></h2>
    <ul class="govuk-list govuk-list--bullet">
      
      <li>Header menu update for <a href="https://dwpdigital.atlassian.net/browse/AFPC-3797">AFPC-3797</a></li>
      <li>Interim step between now and November</li>

    </ul>

    <h2><a class="govuk-link" href="/v2/find-someone">Version 2</a></h2>
    <ul class="govuk-list govuk-list--bullet">
      
      <li>Nil award November view</li>
      <li>Interim step between live and future</li>

    </ul>

    <h2><a class="govuk-link" href="/v1/find-someone">Version 1</a></h2>
    <ul class="govuk-list govuk-list--bullet">
      
      <li>Global header following patterns from 'Get Your State Pension'</li>
      <li>First draft design of citizen record following stakeholder workshop</li>

    </ul>


    <h2><a class="govuk-link" href="/base/tasks">Initial prototype  ✨</a></h2>
    <ul class="govuk-list">
      Initial draft following discussion with GYSP team and PC team.      
    </ul>
  </div>
</div>

{% endblock %}
