{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Apply for Pension Credit
    </h1>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
          style="font-size: 16pt;">
          Version 9 - Eric IDV
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-heading-3">

      <div class="app-most-recent">
        <strong class="govuk-tag govuk-tag--green ">IN DESIGN</strong>
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Changes to bank and telephone questions.</h2>
        <p class="govuk-body">This looks to fix security concerns as well as reduce claims returned to BAU</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>Remove bank name and replace with sort code, account number and roll number </li>
          <li>Make telephone number madatory but give the option to supply multiple numbers</li>
         </ol>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p>Date of iteration: June 2024</br>
              Designers: Mark Keeling and Matt Hall</p>
          </div>

        </div>
        <form method="post" action="/v9/application/index">
          <input type="hidden" id="version9" name="version" value="v9" />
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Prototype - Citizen Journey
          </button>
        </form>
       </div>
    </div>

  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
          style="font-size: 16pt;">
          Version 8 - pre-MVP
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-heading-3">

      <div class="app-most-recent">
        <strong class="govuk-tag govuk-tag--red ">COMPLETE</strong>
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Iterative update of nil-awards service.</h2>
        <p class="govuk-body">This rolls back the MVP of V7 to demonstrate the interim serice for Agents</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>Regrouping of task processes based on December 2023 UR</li>
          <li>Continue Date of Death check</li>
          <li>Madatory reconsiderations</li>
         </ol>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p>Date of iteration: June 2024</br>
              Designers: Mark Keeling and Matt Hall</p>
          </div>

        </div>
        <form method="post" action="/v8/find-someone">
          <input type="hidden" id="version8" name="version" value="v8" />
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Prototype - Agent Journey
          </button>
        </form>
       </div>
    </div>

  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
          style="font-size: 16pt;">
          Version 7 - Redefinition of MVP
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-heading-3">

      <div class="app-most-recent">
        <strong class="govuk-tag govuk-tag--yellow ">IN DESIGN</strong>
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Changes to agent process to deliver a consistent task for both award types.</h2>
        <p class="govuk-body">This continues the work of V6 but has been refactored based on the new view of MVP decided on Thursday 29th February</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>Regrouping of task processes based on December 2023 UR</li>
          <li>Removal of DoD check as this can be automated</li>
          <li>Reduce the amount of agent screens by grouping checks to a single screen based on December 2023 UR</li>
          <li>Addition of Cold Weather Payment Task (pay only)</li>
          <li>Addition of task to check for other household members (pay only)</li>
          <li>A number of previously considered agent tasks are now automated using data we consume within the service. The include benefits (income), earnings and immigration status</li>
          <li>A further decision was taken to use the name from CIS/Searchlight directly within the letter to reduce reputation damange of badly formatted names</li>
        </ol>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p>Date of design: March 2024</br>
              Designers: Mark Keeling and Matt Hall</p>
          </div>

        </div>
        <form method="post" action="/v7/find-someone">
          <input type="hidden" id="version7" name="version" value="v7" />
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Prototype - Agent Journey
          </button>
        </form>
       </div>
    </div>

  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
          style="font-size: 16pt;">
          Version 6 - Creation of new agent task
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-heading-3">

      <div class="app-most-recent">
        <strong class="govuk-tag govuk-tag--red ">ARCHIVED</strong>
        <h2 class="govuk-heading-m govuk-!-padding-top-3">Changes to agent process and application journeys to improve flow and data collection for non-dependent checking.</h2>
        <ol class="govuk-list govuk-list--bullet">
          <li>Regrouping of task processes based on December 2023 UR</li>
          <li>Removal of DoD check as this can be automated</li>
          <li>Reduce the amount of agent screens by grouping checks to a single screen based on December 2023 UR</li>

        </ol>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p>Date of design: January 2024</br>
              Designers: Mark Keeling and Matt Hall</p>
          </div>

        </div>
        <form action="/v6/find-someone" method="post" >
          <input type="hidden" id="version6" name="version" value="v6" />
          <input type="submit" class="govuk-button govuk-button--secondary" value="Prototype - Agent Journey">

        </form>

        <form action="/v6/application/number-of-adults" method="post" >
          <input type="hidden" id="version6" name="version" value="v6" />
          <input type="submit" class="govuk-button govuk-button--secondary" value="Prototype - Claimaint Journey">
        </form>



      </div>
    </div>

  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
          style="font-size: 16pt;">
          Version 5 - Interation of MR task
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-heading-3">

      <div class="app-most-recent">
        <strong class="govuk-tag govuk-tag--green ">UR COMPLETE</strong>
        <h2 class="govuk-heading-m govuk-!-padding-top-3">The addition of a hand-holding flow to guide agents through completing the process when a claimant queries their award.</h2>
        <ol class="govuk-list govuk-list--bullet">
          <li>Updated from Lo-Fi prototype following SME discussion</li>
          <li>Tested two options using GYSP patterns and a positive confirmation design</li>
        </ol>

        <p class="govuk-body">UR outcomes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Positive confirmation route seems to yeild better results (Test 2.1)</li>
          <li>Included GYSP timeline to inform of date of DR6 following participant observation</li>
        </ul>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p>Date of design: December 2023</br>
              Designers: Mark Keeling and Matt Hall</p>
          </div>

        </div>
        <a href="/v5/test-scenarios" class="govuk-button govuk-button--secondary">Prototype</a>
      </div>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3"
          style="font-size: 16pt;">
          Archive
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content"
      aria-labelledby="accordion-with-summary-sections-heading-3">
      <strong class="govuk-tag govuk-tag--green ">Tested</strong>

      <h2><a class="govuk-link" href="/v4/test-scenarios">Version 4</a></h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Update to all NSP scenarios and security checks into the citizens record ready for November release</li>


    </ul>

    <h2><a class="govuk-link" href="/v3/find-someone">Version 3</a></h2>
    <ul class="govuk-list govuk-list--bullet">

      <li>Header menu update for <a href="https://dwpdigital.atlassian.net/browse/AFPC-3797">AFPC-3797</a></li>
      <li>Interim step between now and November</li>

    </ul>

    <h2><a class="govuk-link" href="/v2/find-someone">Version 2</a></h2>
    <ul class="govuk-list govuk-list--bullet">

      <li>Nil award November view</li>
      <li>Interim step between live and future</li>

    </ul>

    <h2><a class="govuk-link" href="/v1/find-someone">Version 1</a></h2>
    <ul class="govuk-list govuk-list--bullet">

      <li>Global header following patterns from 'Get Your State Pension'</li>
      <li>First draft design of citizen record following stakeholder workshop</li>

    </ul>


    <h2><a class="govuk-link" href="/base/tasks">Initial prototype  ✨</a></h2>
    <ul class="govuk-list">
      Initial draft following discussion with GYSP team and PC team.
    </ul>

    </div>
  </div>

</div>






  </div>
</div>

{% endblock %}
