{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2><a class="govuk-link" href="/v1/find-someone">Version 1</a></h2>
    <ul class="govuk-list govuk-list--bullet">
      
      <li>Global header following patterns from 'Get Your State Pension'</li>
      <li>First draft design of citizen record following stakeholder workshop</li>

    </ul>


    <h2><a class="govuk-link" href="/base/tasks">Initial prototype  ✨</a></h2>
    <ul class="govuk-list">
      Initial draft following discussion with GYSP team and PC team.      
    </ul>
  </div>
</div>

{% endblock %}
