{# Set which global nav link to highlight #}
{% set globalNavSection = 'find-someone' %}

{# Set which primary nav tab to highlight #}
{% set primaryNavSection = 'personal' %}

{% extends "./layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


     {% include './partials/name/TS3.njk' %}
     <p><a href="award-detail" class="govuk-back-link">Back</a></p>


    <form method="post" action="reconT3Confirmation">
    
    <div class="govuk-form-group">
      <h2 class='govuk-heading-l'>Explain our decision to the claimant</h2>
      <p class="govuk-body">Use the information from the previous screen to explain how we made our decision.</p>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h3 class="govuk-fieldset__heading">
            Did they accept your explanation?
          </h3>
        </legend>

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="T3_MR" type="radio" value="yes" >
            <label class="govuk-label govuk-radios__label" for="changedName">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="T3_MR" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              No
            </label>
          </div>
        </div>


      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
    </form>
  </div>
</div>

{% endblock %}
