


{% extends "/layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
          Savings and Investments
      </h1>

      <h2 class="govuk-heading-m">
        Designing the happy path
        <span class="govuk-caption-m">10th October 2024</span>
      </h2>
      <p class="govuk-body">
        10th October 2024
      </p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        <a href="" class="govuk-body">
          Savings and investments
        </a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
